/* Price and experience section css start */
.price-experience-wrapper {
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 55%;
    width: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    background-color: #FEFAF6;
    z-index: -1;
  }
  &::after {
    background-color: var(--main-two-600);
    inset-block-start: auto;
    inset-block-end: 0;
    height: 45%;
  }
}
/* Price and experience section css end */
