/* service two section css start */
.service-two {
  .animated-bg {
    height: 72%;
  }
  &__shape-1 {
    margin-block-start: 12%;
    margin-inline-start: 4%;
  }
  &__shape-2 {
    margin-block-start: 6%;
  }
}
/* service two section css end */
