<!-- =========================== About new two bottom section start ====================== -->
<section class="about-new-two-bottom pb-140">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <figure
                    class="hover-animation-white split-reveal position-relative overflow-hidden h-100 mb-0 scale-up-wrapper tw-rounded-xl">
                    <img src="assets/images/thumbs/about-new-two-bottom-img.png" loading="lazy" alt="About Image"
                        class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left scale-up__img">
                </figure>
            </div>
            <div class="col-lg-4">
                <div class="bg-white-06 tw-py-70-px tw-px-50-px tw-rounded-xl">
                    <div class="d-flex align-items-center justify-content-between tw-gap-6">
                        <h2 class="h1 text-white counter">68K</h2>
                        <img src="assets/images/icons/arrow-chart-icon.png" loading="lazy" alt="Chart Icon">
                    </div>
                    <span class="h5 text-white text-uppercase fw-medium tw-mt-2">Blueprint for startup success.</span>
                    <div class="tw-pt-12">
                        <span class="tw-w-104-px tw-h-px bg-main-two-600"></span>
                        <p class="text-white-8 tw-text-lg tw-mt-4">Startup consulting helps entrepreneurs launch their businesses by providing expert in areas like finance, strategy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== About new two bottom section end ====================== -->