<!-- ============================= About Three section start =============================== -->
<section class="about-three py-120 bg-blue-light position-relative z-1">
  <img
    src="assets/images/shapes/dotted-shape.png"
    alt="Shape"
    class="banner-two-shape-4 position-absolute z-n1 tw-end-0 top-0 animation-scalation animation-duration-40"
  />
  <img
    src="assets/images/shapes/chaka-rounded-two.png"
    alt="Shape"
    class="position-absolute top-0 tw-start-0 animation-rotate-right tw-ms-10-percent tw-mt-10-percent d-lg-block d-none"
  />

  <div class="container">
    <div
      class="tw-mb-14 max-w-680-px mx-auto text-center"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="0"
    >
      <span
        class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
      >
        About Our Company</span
      >
      <h2 class="splitTextStyleOne cursor-big">
        Unleash the Full Potential of Your
        <span class="font-playfair fw-normal font-playfair fst-italic"
          >Startup Business.</span
        >
      </h2>
    </div>

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">
          <div
            class="col-sm-6"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            <div
              class="common-shadow-4 tw-p-8 tw-rounded-xl overflow-hidden bg-white animation-item"
            >
              <div class="">
                <img
                  src="assets/images/icons/about-three-icon1.png"
                  alt="Icon"
                  class="animate__heartBeat"
                />
              </div>
              <div class="tw-mt-11">
                <h6 class="">Professional Team</h6>
                <p class="text-neutral-600 tw-mt-6">
                  With a team of skilled strategists, designers, and marketers.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-sm-6"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <div
              class="position-relative tw-rounded-xl overflow-hidden h-100 tw-p-8 bg-main-600"
            >
              <div
                class="d-flex flex-column justify-content-between gap-4 align-items-start position-relative h-100"
              >
                <h5 class="text-white fw-semibold">
                  Innovative Expert in Web Development Services
                </h5>
                <a
                  href="about.html"
                  class="btn btn-main-two hover-style-three group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                  data-block="button"
                >
                  <span class="button__flair"></span>
                  <span class="button__label">About Us</span>
                  <span
                    class="tw-text-lg tw-leading-none z-1 position-relative"
                  >
                    <img
                      src="assets/images/icons/arrow-right.png"
                      alt="Arrow"
                      class="group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
                    />
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="col-sm-6"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            <div class="position-relative">
              <figure
                class="hover-animation-white split-reveal position-relative overflow-hidden h-100"
              >
                <img
                  src="assets/images/thumbs/about-thre-img2.png"
                  alt="Thumb"
                  class="split-reveal-element tw-rounded-xl h-100 object-fit-cover origin-left"
                />
              </figure>
            </div>
          </div>
          <div
            class="col-sm-6"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <div
              class="common-shadow-4 tw-p-8 tw-rounded-xl overflow-hidden bg-white animation-item"
            >
              <div class="">
                <img
                  src="assets/images/icons/about-three-icon2.png"
                  alt="Icon"
                  class="animate__heartBeat"
                />
              </div>
              <div class="tw-mt-11">
                <h6 class="">Audience Analytic</h6>
                <p class="text-neutral-600 tw-mt-6">
                  With a team of skilled strategists, designers, and marketers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <figure
          class="hover-animation-white split-reveal position-relative overflow-hidden h-100"
        >
          <img
            src="assets/images/thumbs/about-thre-img1.png"
            alt="Thumb"
            class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- ============================= About Three section end =============================== -->
