<!-- ============================== About New section start ============================= -->
<section class="about-new py-140 text-to-right-left">
    <div class="container max-w-1700-px">
        <div class="position-relative tw-pt-15">
            <div class="position-absolute tw-end-0 top-0">
                <figure class="hover-animation-white split-reveal position-relative overflow-hidden mb-0 scale-up-wrapper tw-rounded-xl">
                    <img src="assets/images/thumbs/about-new-img-two.png" alt="About Image Two"
                        class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left scale-up__img">
                </figure>
            </div>
            <div class="row gy-4 justify-content-between">
                <div class="col-lg-4">
                    <figure class="hover-animation-white split-reveal position-relative overflow-hidden h-100 mb-0 scale-up-wrapper tw-rounded-xl">
                        <img src="assets/images/thumbs/about-new-img.png" alt="About Main Image"
                            class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left scale-up__img">
                    </figure>
                </div>
                <div class="col-xl-7 col-lg-8">
                    <div class="tw-pt-17 tw-pb-17">
                        <div class="pb-120" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="100">
                            <h2 class="text-white h1 text-uppercase splitTextStyleOne text-to-left tw--ms-160-px max-w-780-px">
                                AI-Driven Agency Promote Your Brand's
                                Growth and Success</h2>
                        </div>
                        <div class="d-flex align-items-center tw-gap-6  justify-content-between">
                            <div class="text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                                <h2 class="text-white h1 counter">
                                    44+
                                </h2>
                                <p class="text-white fw-normal tw-text-xl">Years of Experience</p>
                            </div>
                            <div class="" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <p class="text-white fw-normal max-w-590-px tw-text-xl">
                                    Our unique approach combines cutting-edge techniques with a deep
                                    understanding of market trends to create.
                                </p>
                                <div class="tw-mt-11">
                                    <a href="contact.html"
                                        class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                                        data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Get Started</span>
                                        <span class="tw-text-lg tw-leading-none z-1 position-relative">
                                            <img src="assets/images/icons/arrow-right.png" alt="Arrow"
                                                class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== About New section end ============================= -->