<!-- =========================== About one Section start =============================== -->
<div class="about-one py-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div
          class="position-relative tw-rounded-lg overflow-hidden h-100 tw-p-10"
        >
          <div
            class="animated-bg flowmap-deformation-wrapper"
            data-bg="assets/images/bg/about-one-gradient-bg.png"
            data-bg-width="410"
            data-bg-height="382"
          ></div>
          <div class="position-relative z-1">
            <h2 class="text-main-two-600 text-84-px tw-leading-none counter">
              920+
            </h2>
            <p class="tw-text-xl text-white tw-mt-2 fw-normal">
              Project finish with superbly
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="ps-lg-5 ms-xl-5">
          <h3 class="splitTextStyleOne">
            Discover Who We Are, What We Do, and How We Drive Growth Through
            Expert SEO and Digital
            <span class="font-playfair fw-normal">Marketing Solutions</span> .
          </h3>
          <div class="tw-ps-120-px">
            <p
              class="tw-mt-14 text-neutral-600"
              data-aos="fade-up"
              data-aos-duration="600"
              data-aos-delay="0"
            >
              At our core, we are a results-driven SEO and digital marketing
              agency committed to helping businesses grow online. With a team of
              skilled strategists, designers, and marketers, we craft tailored
              solutions that boost visibility.
            </p>
            <div
              class="tw-mt-17"
              data-aos="fade-up"
              data-aos-duration="600"
              data-aos-delay="300"
            >
              <a
                href="contact.html"
                class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item"
              >
                Get Started
                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =========================== About one Section End =============================== -->
