<!-- =========================== About New Two section start ============================== -->
<section class="about-new-two py-140">
    <div class="container">
        <div class="max-w-1140-px text-uppercase tw-pb-15">
            <h2 class="text-white h1">AI-Driven Agency Promote Your Brand's Growth and Success</h2>
        </div>
        <div class="">
            <div class="border-top border-neutral-600 d-flex flex-md-row flex-column">
                <div class="d-flex align-items-center tw-gap-9 tw-pt-15 counter-content flex-shrink-0">
                    <h2 class="text-main-two-600 text-222-px fw-bold counter text tw-leading-none">34</h2>
                    <p class="text-white text-uppercase tw-text-xl writing-mode-lr">Years of work <br> experience</p>
                </div>
                <div class="flex-grow-1 tw-pt-6 align-self-end">
                    <p class="text-white-8 fw-normal tw-text-xl">
                        A powerful brand starts with a memorable visual identity. We design distinctive logos, color palettes, typography, and brand guidelines that make your brand instantly recognizable. We define your brand's essence, voice,
                    </p>
                    <div class="tw-mt-11">
                        <a href="contact.html"
                            class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">About SEOPP</span>
                            <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                                <img src="assets/images/icons/arrow-right.png" loading="lazy" alt="Arrow"
                                    class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== About New Two section end ============================== -->