<!-- ============================== About New section start ============================= -->
<section class="about-new py-120">
    <div class="container max-w-1700-px">
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="">
                    <figure class="hover-animation-white split-reveal position-relative overflow-hidden h-100">
                        <img src="assets/images/thumbs/about-new-img.png" alt="Thumb"
                            class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left">
                    </figure>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== About New section end ============================= -->