<!-- =========================== About one Section start =============================== -->
<section class="about-one py-120">
  <div class="container">
    <div class="row gy-sm-5 gy-4">
      <div
        class="col-xl-4"
        data-aos="fade-up"
        data-aos-duration="600"
        data-aos-delay="0"
      >
        <div
          class="position-relative tw-rounded-lg overflow-hidden h-100 tw-p-10"
        >
          <div
            class="animated-bg flowmap-deformation-wrapper"
            data-bg="assets/images/bg/about-one-gradient-bg.png"
            data-bg-width="410"
            data-bg-height="382"
          ></div>
          <div
            class="position-relative z-1 d-flex flex-column justify-content-between h-100 pointer-events-none tw-gap-10"
          >
            <div class="">
              <h2 class="text-main-two-600 text-84-px tw-leading-none counter">
                920+
              </h2>
              <p class="tw-text-xl text-white tw-mt-2 fw-normal">
                Project finish with superbly
              </p>
            </div>
            <div class="d-flex align-items-center">
              <div
                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0"
              >
                <img
                  src="assets/images/thumbs/client-img1.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                />
              </div>
              <div
                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1"
              >
                <img
                  src="assets/images/thumbs/client-img2.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                />
              </div>
              <div
                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1"
              >
                <img
                  src="assets/images/thumbs/client-img3.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                />
              </div>
              <div
                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1 text-white fw-semibold tw-text-lg d-flex justify-content-center align-items-center bg-main-600 counter"
              >
                <span class=""> 32+ </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="ps-lg-5 ms-xl-5">
          <h3 class="splitTextStyleOne">
            Discover Who We Are, What We Do, and How We Drive Growth Through
            Expert SEO and Digital
            <span class="font-playfair fw-normal">Marketing Solutions</span> .
          </h3>
          <div class="tw-ps-120-px">
            <p
              class="tw-mt-14 text-neutral-500"
              data-aos="fade-up"
              data-aos-duration="600"
              data-aos-delay="0"
            >
              At our core, we are a results-driven SEO and digital marketing
              agency committed to helping businesses grow online. With a team of
              skilled strategists, designers, and marketers, we craft tailored
              solutions that boost visibility.
            </p>
            <div
              class="tw-mt-17 element-double-animation"
              data-aos="fade-up"
              data-aos-duration="600"
              data-aos-delay="300"
            >
              <a
                href="contact.html"
                class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item"
              >
                <span
                  class="element-double-animation__element hover-element-main-two-600"
                  data-content="Get Started"
                  >Get Started</span
                >

                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =========================== About one Section End =============================== -->
