<!-- ==================== Achievement New Two section start =================== -->
<section class="achievement-new-two pb-140">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="text-center">
                    <img src="assets/images/thumbs/achievement-new-two-img.png" alt="Award">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="d-flex flex-column tw-gap-405">
                    <a href="" class=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Achievement New Two section end =================== -->