<!-- ==================== Achievement New Two section start =================== -->
<section class="achievement-new-two pb-140">
    <div class="container">
        <div class="max-w-890-px tw-mb-17" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <h3 class="text-white text-uppercase fw-semibold">Our mission is to empower startups with the tools, strategies, and creativity needed to thrive.</h3>
        </div>
        <div class="row gy-4 align-items-center">
            <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                <div class="text-center">
                    <img src="assets/images/thumbs/achievement-new-two-img.png" alt="Award">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="d-flex flex-column tw-gap-405">
                    <div class="d-flex align-items-center justify-content-between bg-white-06 border border-neutral-900 tw-px-40-px tw-py-6 tw-rounded-xl hover-border-neutral-300 tw-duration-300" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="d-flex align-items-center tw-gap-26-px">
                            <span class="h4 text-main-two-600 flex-shrink-0">2024:</span>
                            <span class="h4 text-white">Awwwards Interior Excellence</span>
                        </div>
                        <a href="javascript:void(0)" class="text-white tw-text-2xl tw-leading-none hover-text-main-two-600">
                            <i class="ph ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between bg-white-06 border border-neutral-900 tw-px-40-px tw-py-6 tw-rounded-xl hover-border-neutral-300 tw-duration-300" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="d-flex align-items-center tw-gap-26-px">
                            <span class="h4 text-main-two-600 flex-shrink-0">2023:</span>
                            <span class="h4 text-white">Awesome Business Models</span>
                        </div>
                        <a href="javascript:void(0)" class="text-white tw-text-2xl tw-leading-none hover-text-main-two-600">
                            <i class="ph ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between bg-white-06 border border-neutral-900 tw-px-40-px tw-py-6 tw-rounded-xl hover-border-neutral-300 tw-duration-300" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="d-flex align-items-center tw-gap-26-px">
                            <span class="h4 text-main-two-600 flex-shrink-0">2022:</span>
                            <span class="h4 text-white">Creative Agencies Worldwide</span>
                        </div>
                        <a href="javascript:void(0)" class="text-white tw-text-2xl tw-leading-none hover-text-main-two-600">
                            <i class="ph ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between bg-white-06 border border-neutral-900 tw-px-40-px tw-py-6 tw-rounded-xl hover-border-neutral-300 tw-duration-300" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="d-flex align-items-center tw-gap-26-px">
                            <span class="h4 text-main-two-600 flex-shrink-0">2021:</span>
                            <span class="h4 text-white">Best Startup Support Agency Award</span>
                        </div>
                        <a href="javascript:void(0)" class="text-white tw-text-2xl tw-leading-none hover-text-main-two-600">
                            <i class="ph ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between bg-white-06 border border-neutral-900 tw-px-40-px tw-py-6 tw-rounded-xl hover-border-neutral-300 tw-duration-300" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="d-flex align-items-center tw-gap-26-px">
                            <span class="h4 text-main-two-600 flex-shrink-0">2018:</span>
                            <span class="h4 text-white">FWA, Site of the Day</span>
                        </div>
                        <a href="javascript:void(0)" class="text-white tw-text-2xl tw-leading-none hover-text-main-two-600">
                            <i class="ph ph-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Achievement New Two section end =================== -->