<!-- ============================= Agency Video Start ============================== -->
<div class="tw-h-732-px w-100 overflow-hidden scale-up-wrapper position-relative">
    <img src="assets/images/thumbs/agency-video-img.png" class="w-100 h-100 object-fit-cover scale-up__img"
        alt="Agency Video Image">

    <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
        class="play-button tw-w-120-px tw-h-120-px d-inline-flex justify-content-center align-items-center rounded-circle border border-white-22 blur-style-two text-white rounded-circle text-36-px position-absolute tw-start-50 tw--translate-middle top-50 z-1 hover-bg-main-two-600 hover-text-white">
        <i class="ph-fill ph-play"></i>
    </a>
</div>
<!-- ============================= Agency Video End ============================== -->