<!-- ============================ Banner section start ======================== -->
<section class="banner-one position-relative z-1 bg-black">
  <div
    class="animated-bg flowmap-deformation-wrapper"
    data-bg="assets/images/bg/banner-one-bg.png"
    data-bg-width="1920"
    data-bg-height="848"
  ></div>

  <div class="container max-w-1520-px">
    <div class="pointer-events-none position-relative z-2 max-w-680-px">
      <h1 class="text-white splitTextStyleOne">
        Smart SEO for Digital Growth
        <span class="font-playfair text-main-two-600">Your Brands</span>
      </h1>
      <p
        class="text-white fw-normal max-w-590-px tw-text-xl tw-mt-15 splitTextStyleOne"
      >
        Our unique approach combines cutting-edge techniques with a deep
        understanding of market trends to create.
      </p>
      <div class="tw-mt-16">
        <a
          href="#"
          class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
          data-block="button"
        >
          <span class="button__flair"></span>
          <span class="button__label">Get Started</span>
          <span class="tw-text-lg tw-leading-none z-1 position-relative">
            <img
              src="assets/images/icons/arrow-right.png"
              alt="Arrow"
              class="group-hover-item-text-invert-white tw-duration-300"
            />
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Banner section start ======================== -->
