<!-- ============================ Banner Four section start ======================== -->
<section class="banner-four position-relative z-1 bg-black overflow-hidden">
    <div class="animated-bg flowmap-deformation-wrapper" data-bg="assets/images/bg/banner-four-bg.png"
        data-bg-width="1920" data-bg-height="848"></div>

        <img src="../../assets/images/shapes/chaka-rounded-two.png" alt="" class="position-relative z-1">
        
    <div class="container max-w-1520-px">
        <div class="banner-four__inner position-relative pointer-events-none">
            <div class="row gy-4">
                <div class="col-xl-6">
                    <div class="pointer-events-none position-relative z-2 max-w-680-px">
                        <h1 class="text-white splitTextStyleOne" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="100">
                            Innovative IT Solutions &
                            <span class="font-playfair fst-italic fw-normal text-decoration-underline">Digital
                                Agency</span>
                        </h1>
                        <div class="d-flex align-items-center tw-gap-705 flex-sm-nowrap flex-wrap tw-mt-17">
                            <div class="d-flex align-items-center pointer-events-auto">
                                <div
                                    class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0">
                                    <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div
                                    class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                                    <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div
                                    class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                                    <img src="assets/images/thumbs/client-img3.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1 text-heading fw-semibold tw-text-xl d-flex justify-content-center align-items-center bg-main-two-600 counter is-visible"
                                    style="visibility: visible;">
                                    <span class=""> 4k+ </span>
                                </div>
                            </div>
                            <p class="fw-normal text-white max-w-200-px text-balance">
                                We have 40k+ customers word-wide
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 d-lg-block d-none">
                    <div
                        class="banner-four__thumbs position-absolute bottom-0 tw-end-0 pointer-events-none w-100 text-end">
                        <img src="assets/images/thumbs/banner-four-img.png" alt="Man Image" data-aos="fade-up"
                            data-aos-duration="1500">
                        <img src="assets/images/thumbs/banner-four-element1.png" alt="Element Image"
                            class="position-absolute tw-start-0 top-50 left-right-animation animation-delay-1">
                        <img src="assets/images/thumbs/banner-four-element2.png" alt="Element Image"
                            class="position-absolute tw-end-0 bottom-0 tw-mb-17 tw-pb-7 animation-upDown animation-delay-2">
                    </div>
                </div>
            </div>

            <!-- Rotate Text Start -->
            <div
                class="rotate-text-wrapper position-absolute bottom-0 tw-mb-15 translate-middle-x hover-parallax-wrapper">
                <a href="about.html" class="position-relative pointer-events-auto group group-item hover-parallax-item">
                    <img src="assets/images/shapes/totate-text.png" alt="Rotate Text" class="animation-rotate-right">
                    <span
                        class="position-absolute top-50 tw-start-50 tw--translate-middle text-main-two-600 tw-text-2xl group-hover-text-main-600">
                        <i class="ph-fill ph-play"></i>
                    </span>
                </a>
            </div>
            <!-- Rotate Text End -->
        </div>
    </div>
</section>
<!-- ============================ Banner Four section start ======================== -->