<!-- =========================== Banner new two section start =========================== -->
<section class="banner-new-two py-140 bg-white background-img bg-img position-relative overflow-hidde"
    data-background-image="assets/images/bg/banner-new-two-bg.png">
    <div class="position-absolute bottom-0 tw-start-50 translate-middle-x z-1">
        <div class="text-to-bottom-bottom">
            <img src="assets/images/thumbs/banner-new-two-img.png" alt="Banner New Image" class=""  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        </div>
    </div>
    
    <div class="container max-w-1790-px">
        <div class="d-flex align-items-center justify-content-between tw-gap-10 flex-wrap">
            <div class="" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <h1 class="text-heading text-222-px letter-spacing--10-px max-w-1140-px tw-leading-none text-to-left-top md-text-to-left-none text-hover-animation-scale">EXPERT MARKETING
                </h1>
            </div>
            <p class="tw-text-lg fw-medium text-heading max-w-400-px" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">Our unique approach combines cutting-edge
                techniques with a deep understanding of market trends to create.</p>
        </div>
        <div class="d-flex align-items-center justify-content-between tw-gap-10 flex-wrap">
            <div class="d-flex flex-column tw-gap-15 pt-60">
                <div class="text-start">
                    <h2 class="text-heading h1 counter">
                        94%
                    </h2>
                    <p class="text-heading fw-normal tw-text-xl">Success Rate</p>
                </div>
                <div class="d-flex align-items-center tw-gap-705 flex-sm-nowrap flex-wrap">
                    <div class="d-flex align-items-center pointer-events-auto">
                        <div
                            class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0">
                            <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                class="w-100 h-100 object-fit-cover">
                        </div>
                        <div
                            class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                            <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                class="w-100 h-100 object-fit-cover">
                        </div>
                        <div
                            class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                            <img src="assets/images/thumbs/client-img3.png" alt="Client Image"
                                class="w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <p class="fw-normal text-heading max-w-200-px text-balance">
                        <span class="d-block tw-text-lg fw-bold counter">45355+</span>
                        Happy Customers
                    </p>
                </div>
            </div>
            <div class="">
                <h1 class="text-white text-222-px letter-spacing--10-px max-w-1140-px tw-leading-none text-to-right md-text-to-left-none z-n1 text-hover-animation-scale">AGENCY</h1>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Banner new two section end =========================== -->