<!-- ============================ Banner New section start ======================== -->
<section class="banner-new position-relative z-1 overflow-hidden">
    <div class="banner-new__inner position-relative">
        <div class="container max-w-1520-px">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="">
                        <h1 class="text-white text-uppercase splitTextStyleOne">strategy, and soul behind every visual
                            for your agency.</h1>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="position-relative max-w-680-px">
                        <div class="tw-pb-4">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-start" data-aos="fade-up" data-aos-duration="1000"
                                        data-aos-delay="100">
                                        <h2 class="text-main-two-600 h1 counter">
                                            94%
                                        </h2>
                                        <p class="text-white fw-normal tw-text-xl">Success Rate</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-start" data-aos="fade-up" data-aos-duration="1000"
                                        data-aos-delay="200">
                                        <h2 class="text-main-two-600 h1 counter">
                                            53K
                                        </h2>
                                        <p class="text-white fw-normal tw-text-xl">Project Completed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-top border-neutral-600 tw-pt-7 tw-mt-17" data-aos="fade-up"
                            data-aos-duration="1000" data-aos-delay="300">
                            <p class="text-white fw-normal max-w-590-px tw-text-xl">
                                Our unique approach combines cutting-edge techniques with a deep
                                understanding of market trends to create.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container max-w-1680-px">
            <div class="tw-pt-164-px text-center position-relative">
                 <h2 class="text-main-two-600 display-1 fw-bolder text-uppercase tw-leading-none">
                    <span class="text-hover-animation-scale animated-title">SEOPP.AGENCY</span>
                </h2>
                <!-- Rotate Text Start -->
                <div
                    class="rotate-text-wrapper position-absolute top-0 start-50 translate-middle-x hover-parallax-wrapper tw-mt-17 tw-pe-12">
                    <a href="about.html"
                        class="position-relative pointer-events-auto group group-item hover-parallax-item bg-white-13 tw-p-4 rounded-circle border border-white-22 blur-style-two">
                        <img src="assets/images/shapes/totate-text-new.png" alt="Rotate Text"
                            class="animation-rotate-right">
                        <span
                            class="position-absolute top-50 tw-start-50 tw--translate-middle text-main-two-600 tw-text-2xl group-hover-text-main-600">
                            <img src="assets/images/logo/favicon-big.png" alt="Favicon">
                        </span>
                    </a>
                </div>
                <!-- Rotate Text End -->
            </div>
        </div>
    </div>
</section>
<!-- ============================ Banner New section start ======================== -->