<!-- ============================ Banner Four section start ======================== -->
<section class="banner-four position-relative z-1 bg-black overflow-hidden">
    <div class="animated-bg flowmap-deformation-wrapper" data-bg="assets/images/bg/banner-four-bg.png"
        data-bg-width="1920" data-bg-height="848"></div>

    <img src="assets/images/shapes/chaka-rounded.png" loading="lazy" alt="Shape"
        class="chaka-shape-four position-absolute z-1 tw-start-0 top-0 animation-rotate-right">
    <img src="assets/images/shapes/line-border-four.png" loading="lazy" alt="Shape"
        class="chaka-shape-four position-absolute z-1 tw-end-0 top-0 animation-upDown">

    <div class="container max-w-1710-px">
        <div class="position-relative pointer-events-none">
            <div class="banner-four__inner position-relative">
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <div class="banner-four__content pointer-events-none position-relative z-2">
                            <h1 class="text-white splitTextStyleOne" data-aos="fade-up" data-aos-duration="1000"
                                data-aos-delay="100">
                                Innovative <br> IT Solutions &
                                <span class="font-playfair fst-italic fw-normal text-decoration-underline">Digital
                                    Agency</span>
                            </h1>
                            <div class="d-flex align-items-center tw-gap-705 flex-sm-nowrap flex-wrap tw-mt-17"
                                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <div class="d-flex align-items-center pointer-events-auto">
                                    <div
                                        class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0">
                                        <img src="assets/images/thumbs/client-img1.png" loading="lazy" alt="Client Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </div>
                                    <div
                                        class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                                        <img src="assets/images/thumbs/client-img2.png" loading="lazy" alt="Client Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </div>
                                    <div
                                        class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                                        <img src="assets/images/thumbs/client-img3.png" loading="lazy" alt="Client Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </div>
                                    <div class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1 text-heading fw-semibold tw-text-xl d-flex justify-content-center align-items-center bg-main-two-600 counter is-visible"
                                        style="visibility: visible;">
                                        <span class=""> 4k+ </span>
                                    </div>
                                </div>
                                <p class="fw-normal text-white max-w-200-px text-balance">
                                    We have 40k+ customers word-wide
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-lg-block d-none">
                        <div class="banner-four__thumbs pointer-events-none w-100 d-flex align-items-end h-100">
                            <img src="assets/images/thumbs/banner-four-img.png" loading="lazy" alt="Man Image" data-aos="fade-up"
                                data-aos-duration="1500">
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="d-md-flex tw-gap-42-px justify-content-end w-100 d-none pointer-events-auto z-2 position-absolute tw-end-0 bottom-0">
                <div class="triangle-left-right bg-white tw-p-36-px pb-0 rounded-top-3 max-w-510-px w-100"
                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="d-flex align-content-center justify-content-between tw-gap-4">
                        <h5 class="text-main-600 fw-bold tw-mb-1">100%</h5>
                        <a href="javascript:void(0)" class="text-main-600 tw-text-xl tw-leading-none hover-scale-14"><i
                                class="ph-bold ph-arrow-up-right"></i></a>
                    </div>
                    <p class="text-neutral-500 tw-text-lg">Dolor sit amet, adipiscing elit. Nibh.</p>
                </div>

                <div class="triangle-left-right bg-white tw-p-36-px pb-0 rounded-top-3 max-w-510-px w-100"
                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="d-flex align-content-center justify-content-between tw-gap-7">
                        <p class="text-heading tw-text-lg fw-semibold tw-w-200-px">Creative Campaign Develop for IT
                            Strategy</p>
                        <div class="flex-shrink-0">
                            <a href="contact.html"
                                class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Get Started</span>
                                <span
                                    class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <img src="assets/images/shapes/arrow-curve-shape-four.png" loading="lazy" alt="Shape"
                class="arrow-curve-shape-four position-absolute z-1 tw-end-0 top-0 left-right-animation">

            <!-- Rotate Text Start -->
            <div class="rotate-text-wrapper position-absolute top-50 tw-end-0 hover-parallax-wrapper">
                <a href="about.html"
                    class="position-relative pointer-events-auto group group-item hover-parallax-item  bg-white-13 tw-p-4 rounded-circle border border-white-22">
                    <img src="assets/images/shapes/totate-text.png" loading="lazy" alt="Rotate Text" class="animation-rotate-right">
                    <span
                        class="position-absolute top-50 tw-start-50 tw--translate-middle text-white tw-text-2xl group-hover-text-white">
                        <i class="ph-fill ph-play"></i>
                    </span>
                </a>
            </div>
            <!-- Rotate Text End -->
        </div>
    </div>
</section>
<!-- ============================ Banner Four section start ======================== -->