<!-- ================================ Banner Three section start ================================= -->
<section class="banner-three">
  <div class="container max-w-1854-px">
    <div
      class="banner-three__inner position-relative tw-rounded-xl overflow-hidden"
    >
      <!-- <div
        class="animated-bg flowmap-deformation-wrapper"
        data-bg="assets/images/bg/banner-three-bg.png"
        data-bg-width="1854"
        data-bg-height="812"
      ></div> -->

      <div class="container max-w-1520-px pointer-events-non">
        <div
          class="position-relative d-flex justify-content-between flex-xl-row flex-column"
        >
          <div class="banner-three__content">
            <h2 class="text-uppercase text-white splitTextStyleOne">
              ADVERTISING
            </h2>
            <h1 class="text-uppercase text-white splitTextStyleOne text-200-px">
              AGENCY
            </h1>
          </div>
          <!-- Right Content Start -->
          <div class="align-self-end">
            <div class="tw-mb-132-px">
              <img
                src="assets/images/shapes/banner-three-icon.png"
                alt="Icon"
              />
            </div>
            <div
              class="bg-mint-ice tw-p-40-px tw-py-11 rounded-top-4 max-w-550-px pointer-events-auto"
            >
              <h4 class="">Strategic Advertising for Modern Businesses</h4>
              <p class="text-neutral-600 tw-mt-6">
                Marketing agency committed to helping businesses grow online.
                With a team of skilled strategists, designers.
              </p>
              <div class="tw-mt-5">
                <a
                  href="contact.html"
                  class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                  data-block="button"
                >
                  <span class="button__flair"></span>
                  <span class="button__label">Contact Us</span>
                  <span
                    class="tw-text-lg tw-leading-none z-1 position-relative"
                  >
                    <img
                      src="assets/images/icons/arrow-right.png"
                      alt="Arrow"
                      class="group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
                    />
                  </span>
                </a>
              </div>
            </div>
          </div>
          <!-- Right Content end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================ Banner Three section end ================================= -->
