<!-- ============================ Banner section start ======================== -->
<section class="banner-one position-relative z-1 bg-black overflow-hidden">
  <div
    class="animated-bg flowmap-deformation-wrapper"
    data-bg="assets/images/bg/banner-one-bg.png"
    data-bg-width="1920"
    data-bg-height="848"
  ></div>

  <div class="container max-w-1520-px">
    <div class="banner-one__inner position-relative pointer-events-none">
      <div class="row gy-4">
        <div class="col-xl-6">
          <div class="pointer-events-none position-relative z-2 max-w-680-px">
            <h1 class="text-white splitTextStyleOne">
              Smart SEO for Digital Growth
              <span class="font-playfair text-main-two-600 fst-italic fw-normal"
                >Your Brands</span
              >
            </h1>
            <p
              class="text-white fw-normal max-w-590-px tw-text-xl tw-mt-15"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              Our unique approach combines cutting-edge techniques with a deep
              understanding of market trends to create.
            </p>
            <div
              class="tw-mt-16"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="400"
            >
              <a
                href="contact.html"
                class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Get Started</span>
                <span class="tw-text-lg tw-leading-none z-1 position-relative">
                  <img
                    src="assets/images/icons/arrow-right.png"
                    alt="Arrow"
                    class="group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
                  >
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-xl-6 d-lg-block d-none">
          <div
            class="banner-one__thumbs position-absolute bottom-0 tw-end-0 pointer-events-none w-100 text-end"
          >
            <img
              src="assets/images/thumbs/banner-one-img.png"
              alt="Man Image"
              data-aos="fade-up"
              data-aos-duration="1500"
            >
            <img
              src="assets/images/thumbs/banner-one-element1.png"
              alt="Element Image"
              class="position-absolute tw-start-0 top-50 left-right-animation animation-delay-1"
            >
            <img
              src="assets/images/thumbs/banner-one-element2.png"
              alt="Element Image"
              class="position-absolute tw-end-0 bottom-0 tw-mb-17 tw-pb-7 animation-upDown animation-delay-2"
            >
          </div>
        </div>
      </div>

      <!-- Rotate Text Start -->
      <div
        class="rotate-text-wrapper position-absolute bottom-0 tw-mb-15 translate-middle-x hover-parallax-wrapper"
      >
        <a
          href="about.html"
          class="position-relative pointer-events-auto group group-item hover-parallax-item"
        >
          <img
            src="assets/images/shapes/totate-text.png"
            alt="Rotate Text"
            class="animation-rotate-right"
          >
          <span
            class="position-absolute top-50 tw-start-50 tw--translate-middle text-main-two-600 tw-text-2xl group-hover-text-main-600"
          >
            <i class="ph-fill ph-play"></i>
          </span>
        </a>
      </div>
      <!-- Rotate Text End -->
    </div>
  </div>
</section>
<!-- ============================ Banner section start ======================== -->
