<!-- ============================= Blog new section start ================================ -->
<section class="blog-new py-140">
    <div class="container max-w-1700-px">
        <div class="text-center tw-mb-17 max-w-780-px mx-auto" data-aos="fade-up" data-aos-duration="1000"
            data-aos-delay="200">
            <h1 class="fw-bold text-white text-uppercase">Latest blog to boost your productivity</h1>
        </div>
        <div class="row gy-5">
            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <div class="blog-item image-double-animation">
                    <a href="blog-details.html" class="overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/blog-new-img1.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                        <img src="assets/images/thumbs/blog-new-img1.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span class="tw-w-10 tw-h-px bg-white"></span>  
                            <span class="tw-text-base fw-medium text-white">09 May, 2025</span>
                        </div>
                        <h4 class="tw-my-6">
                            <a href="blog-details.html" class="text-white hover-text-main-two-600 line-clamp-3">What to
                                emphasize when you are designing promotional</a>
                        </h4>
                        <a href="blog-details.html"
                            class="text-white fw-semibold border-bottom border-white hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                            <span class="element-double-animation__element" data-content="Read Details">Read
                                Details</span>
                            <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="400">
                <div class="blog-item image-double-animation">
                    <a href="blog-details.html" class="overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/blog-new-img2.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                        <img src="assets/images/thumbs/blog-new-img2.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span class="tw-w-10 tw-h-px bg-white"></span>
                            <span class="tw-text-base fw-medium text-white">09 May, 2025</span>
                        </div>
                        <h4 class="tw-my-6">
                            <a href="blog-details.html" class="text-white hover-text-main-two-600 line-clamp-3">Web
                                Development Essentials Every Business</a>
                        </h4>
                        <a href="blog-details.html"
                            class="text-white fw-semibold border-bottom border-white hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                            <span class="element-double-animation__element" data-content="Read Details">Read
                                Details</span>
                            <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="400">
                <div class="blog-item image-double-animation">
                    <a href="blog-details.html" class="overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/blog-new-img3.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                        <img src="assets/images/thumbs/blog-new-img3.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span class="tw-w-10 tw-h-px bg-white"></span>
                            <span class="tw-text-base fw-medium text-white">09 May, 2025</span>
                        </div>
                        <h4 class="tw-my-6">
                            <a href="blog-details.html" class="text-white hover-text-main-two-600 line-clamp-3">How
                                UX/UI Design Impacts Your Website's Success</a>
                        </h4>
                        <a href="blog-details.html"
                            class="text-white fw-semibold border-bottom border-white hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                            <span class="element-double-animation__element" data-content="Read Details">Read
                                Details</span>
                            <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Blog new section end ================================ -->