<!-- Blog Sidebar start -->
<div class="blog-sidebar d-flex flex-column tw-gap-52-px">
    <div class="">
        <h6 class="tw-mb-6">Search</h6>
        <form action="#" class="position-relative">
            <input type="text" id="name"
                class="tw-text-base tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100 focus-outline-0 border border-neutral-100 focus-border-main-600 placeholder-text-sm"
                placeholder="Search blog" required>
            <button type="submit"
                class="tw-text-lg text-neutral-600 tw-leading-none position-absolute top-50 translate-middle-y tw-end-0 tw-me-4"><i
                    class="ph-bold ph-magnifying-glass"></i></button>
        </form>
    </div>
</div>
<!-- Blog Sidebar end -->