<!-- ============================ BLog section start ======================== -->
<section class="blog py-120">
  <div class="container">
    <!-- Section heading start -->
    <div
      class="tw-mb-10 d-flex flex-wrap align-items-center justify-content-between tw-gap-6"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="300"
    >
      <div class="max-w-680-px">
        <span
          class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
          >Latest Blog</span
        >
        <h2 class="splitTextStyleOne cursor-big">
          Read Our Latest
          <span class="font-playfair fw-normal font-playfair fst-italic">
            Blog & News</span
          >
        </h2>
      </div>
      <a
        href="blog.html"
        class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
        data-block="button"
      >
        <span class="button__flair"></span>
        <span class="button__label">View Details</span>
        <span class="tw-text-lg tw-leading-none z-1 position-relative">
          <img
            src="assets/images/icons/arrow-right.png"
            alt="Arrow"
            class="group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
          />
        </span>
      </a>
    </div>
    <!-- Section heading end -->

    <div class="row gy-4">
      <div
        class="col-xl-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
      >
        <div
          class="blog-item image-double-animation tw-p-205 border border-neutral-300 tw-rounded-xl"
        >
          <div class="tw-p-5 tw-pb-705">
            <div class="d-flex align-items-center tw-gap-4">
              <div
                class="d-flex align-items-center tw-gap-105 tw-text-base fw-medium text-neutral-500"
              >
                <span class="text-main-600 tw-text-xl tw-leading-none"
                  ><i class="ph-bold ph-calendar-blank"></i
                ></span>
                09 May, 2025
              </div>
              <span class="tw-w-205 tw-h-px bg-neutral-400"></span>
              <span class="tw-text-base fw-medium text-neutral-500"
                >Business</span
              >
            </div>
            <h5 class="tw-my-6">
              <a
                href="blog-details.html"
                class="text-heading hover-text-main-600 line-clamp-3"
                >What to emphasize when you are designing promotional</a
              >
            </h5>
            <a
              href="contact.html"
              class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
            >
              <span
                class="element-double-animation__element"
                data-content="Read Details"
                >Read Details</span
              >

              <span class="group-hover-item-rotate-45-deg tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
              </span>
            </a>
          </div>
          <a
            href="blog-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/blog-img1.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            />
            <img
              src="assets/images/thumbs/blog-img1.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            />
          </a>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <div
          class="blog-item image-double-animation tw-p-205 border border-neutral-300 tw-rounded-xl"
        >
          <div class="tw-p-5 tw-pb-705">
            <div class="d-flex align-items-center tw-gap-4">
              <div
                class="d-flex align-items-center tw-gap-105 tw-text-base fw-medium text-neutral-500"
              >
                <span class="text-main-600 tw-text-xl tw-leading-none"
                  ><i class="ph-bold ph-calendar-blank"></i
                ></span>
                09 May, 2025
              </div>
              <span class="tw-w-205 tw-h-px bg-neutral-400"></span>
              <span class="tw-text-base fw-medium text-neutral-500"
                >Business</span
              >
            </div>
            <h5 class="tw-my-6">
              <a
                href="blog-details.html"
                class="text-heading hover-text-main-600 line-clamp-3"
                >Google Ads vs Facebook Ads: Which is Better?</a
              >
            </h5>
            <a
              href="contact.html"
              class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
            >
              <span
                class="element-double-animation__element"
                data-content="Read Details"
                >Read Details</span
              >

              <span class="group-hover-item-rotate-45-deg tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
              </span>
            </a>
          </div>
          <a
            href="blog-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/blog-img2.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            />
            <img
              src="assets/images/thumbs/blog-img2.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            />
          </a>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="500"
      >
        <div
          class="blog-item image-double-animation tw-p-205 border border-neutral-300 tw-rounded-xl"
        >
          <div class="tw-p-5 tw-pb-705">
            <div class="d-flex align-items-center tw-gap-4">
              <div
                class="d-flex align-items-center tw-gap-105 tw-text-base fw-medium text-neutral-500"
              >
                <span class="text-main-600 tw-text-xl tw-leading-none"
                  ><i class="ph-bold ph-calendar-blank"></i
                ></span>
                09 May, 2025
              </div>
              <span class="tw-w-205 tw-h-px bg-neutral-400"></span>
              <span class="tw-text-base fw-medium text-neutral-500"
                >Business</span
              >
            </div>
            <h5 class="tw-my-6">
              <a
                href="blog-details.html"
                class="text-heading hover-text-main-600 line-clamp-3"
                >Automation Workflows That Save Time & Sell More</a
              >
            </h5>
            <a
              href="contact.html"
              class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
            >
              <span
                class="element-double-animation__element"
                data-content="Read Details"
                >Read Details</span
              >

              <span class="group-hover-item-rotate-45-deg tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
              </span>
            </a>
          </div>
          <a
            href="blog-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/blog-img3.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            />
            <img
              src="assets/images/thumbs/blog-img3.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ BLog section end ======================== -->
