<!-- ====================== Blog Three section start ========================= -->
<section class="blog-three py-120 bg-blue-light">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 side-sticky">
        <!-- Section heading start -->
        <div
          class="text-start"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="100"
        >
          <span
            class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
          >
            Our Blogs
          </span>
          <h2 class="splitTextStyleOne cursor-big">
            Read Our Latest
            <span class="font-playfair fw-normal font-playfair fst-italic">
              Blog & News</span
            >
          </h2>
          <div class="tw-mt-8">
            <a
              href="blog.html"
              class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
              data-block="button"
            >
              <span class="button__flair"></span>
              <span class="button__label">Read All Blog</span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
              >
                <i
                  class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"
                ></i>
              </span>
            </a>
          </div>
        </div>
        <!-- Section heading end -->
      </div>
      <div class="col-lg-7">
        <div class="d-flex flex-column tw-gap-4">
          <div
            class="blog-two-item d-flex align-items-center tw-gap-8 bg-white tw-rounded-xl tw-p-6 image-double-animation h-100"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <a
              href="blog-details.html"
              class="blog-two-item__thumb tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show max-w-214-px w-100"
            >
              <img
                src="assets/images/thumbs/blog-three-img1.png"
                alt="Image"
                class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
              />
              <img
                src="assets/images/thumbs/blog-three-img1.png"
                alt="Image"
                class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
              />
            </a>
            <div class="">
              <div class="d-flex align-items-center tw-gap-4">
                <div
                  class="d-flex align-items-center tw-gap-105 tw-text-base fw-medium text-neutral-500"
                >
                  <span class="text-main-600 tw-text-xl tw-leading-none"
                    ><i class="ph-bold ph-calendar-blank"></i
                  ></span>
                  09 May, 2025
                </div>
                <span class="tw-w-205 tw-h-px bg-neutral-400"></span>
                <span class="tw-text-base fw-medium text-neutral-500"
                  >Business</span
                >
              </div>
              <h5 class="tw-my-6">
                <a
                  href="blog-details.html"
                  class="text-heading hover-text-main-600 line-clamp-3 text-22-px"
                  >What to emphasize when you are designing promotional</a
                >
              </h5>
              <a
                href="blog-details.html"
                class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
              >
                <span
                  class="element-double-animation__element"
                  data-content="Read Details"
                  >Read Details</span
                >

                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div
            class="blog-two-item d-flex align-items-center tw-gap-8 bg-white tw-rounded-xl tw-p-6 image-double-animation h-100"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <a
              href="blog-details.html"
              class="blog-two-item__thumb tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show max-w-214-px w-100"
            >
              <img
                src="assets/images/thumbs/blog-three-img2.png"
                alt="Image"
                class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
              />
              <img
                src="assets/images/thumbs/blog-three-img2.png"
                alt="Image"
                class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
              />
            </a>
            <div class="">
              <div class="d-flex align-items-center tw-gap-4">
                <div
                  class="d-flex align-items-center tw-gap-105 tw-text-base fw-medium text-neutral-500"
                >
                  <span class="text-main-600 tw-text-xl tw-leading-none"
                    ><i class="ph-bold ph-calendar-blank"></i
                  ></span>
                  09 May, 2025
                </div>
                <span class="tw-w-205 tw-h-px bg-neutral-400"></span>
                <span class="tw-text-base fw-medium text-neutral-500"
                  >Business</span
                >
              </div>
              <h5 class="tw-my-6">
                <a
                  href="blog-details.html"
                  class="text-heading hover-text-main-600 line-clamp-3 text-22-px"
                  >Best Times to Post on Social Media</a
                >
              </h5>
              <a
                href="blog-details.html"
                class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
              >
                <span
                  class="element-double-animation__element"
                  data-content="Read Details"
                  >Read Details</span
                >

                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div
            class="blog-two-item d-flex align-items-center tw-gap-8 bg-white tw-rounded-xl tw-p-6 image-double-animation h-100"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <a
              href="blog-details.html"
              class="blog-two-item__thumb tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show max-w-214-px w-100"
            >
              <img
                src="assets/images/thumbs/blog-three-img3.png"
                alt="Image"
                class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
              />
              <img
                src="assets/images/thumbs/blog-three-img3.png"
                alt="Image"
                class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
              />
            </a>
            <div class="">
              <div class="d-flex align-items-center tw-gap-4">
                <div
                  class="d-flex align-items-center tw-gap-105 tw-text-base fw-medium text-neutral-500"
                >
                  <span class="text-main-600 tw-text-xl tw-leading-none"
                    ><i class="ph-bold ph-calendar-blank"></i
                  ></span>
                  09 May, 2025
                </div>
                <span class="tw-w-205 tw-h-px bg-neutral-400"></span>
                <span class="tw-text-base fw-medium text-neutral-500"
                  >Business</span
                >
              </div>
              <h5 class="tw-my-6">
                <a
                  href="blog-details.html"
                  class="text-heading hover-text-main-600 line-clamp-3 text-22-px"
                  >How to Build a Strong Brand on Facebook</a
                >
              </h5>
              <a
                href="blog-details.html"
                class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
              >
                <span
                  class="element-double-animation__element"
                  data-content="Read Details"
                  >Read Details</span
                >

                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div
            class="blog-two-item d-flex align-items-center tw-gap-8 bg-white tw-rounded-xl tw-p-6 image-double-animation h-100"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <a
              href="blog-details.html"
              class="blog-two-item__thumb tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show max-w-214-px w-100"
            >
              <img
                src="assets/images/thumbs/blog-three-img4.png"
                alt="Image"
                class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
              />
              <img
                src="assets/images/thumbs/blog-three-img4.png"
                alt="Image"
                class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
              />
            </a>
            <div class="">
              <div class="d-flex align-items-center tw-gap-4">
                <div
                  class="d-flex align-items-center tw-gap-105 tw-text-base fw-medium text-neutral-500"
                >
                  <span class="text-main-600 tw-text-xl tw-leading-none"
                    ><i class="ph-bold ph-calendar-blank"></i
                  ></span>
                  09 May, 2025
                </div>
                <span class="tw-w-205 tw-h-px bg-neutral-400"></span>
                <span class="tw-text-base fw-medium text-neutral-500"
                  >Business</span
                >
              </div>
              <h5 class="tw-my-6">
                <a
                  href="blog-details.html"
                  class="text-heading hover-text-main-600 line-clamp-3 text-22-px"
                  >Google Ads vs Facebook Ads: Which is Better?</a
                >
              </h5>
              <a
                href="blog-details.html"
                class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
              >
                <span
                  class="element-double-animation__element"
                  data-content="Read Details"
                  >Read Details</span
                >

                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====================== Blog Three section end ========================= -->
