<!-- Blog Sidebar start -->
<div class="blog-sidebar d-flex flex-column tw-gap-52-px">
    <div class="">
        <h6 class="tw-mb-6">Search</h6>
        <form action="#" class="position-relative">
            <input type="text" id="name"
                class="tw-text-base tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100 focus-outline-0 border border-neutral-300 focus-border-main-600 placeholder-text-sm"
                placeholder="Search blog" required>
            <button type="submit"
                class="tw-text-lg text-neutral-600 tw-leading-none position-absolute top-50 translate-middle-y tw-end-0 tw-me-4"><i
                    class="ph-bold ph-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="">
        <h6 class="tw-mb-6">Latest News</h6>
        <div class="d-flex flex-column tw-gap-705">
            <div class="image-double-animation d-flex align-items-center tw-gap-6 tw-gap-6">
                <a href="blog.html" class="tw-rounded-xl overflow-hidden d-block position-relative flex-shrink-0">
                    <img src="assets/images/thumbs/blog-sidebar-img1.png" loading="lazy" alt="Image"
                        class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover max-w-114-px h-100">
                    <img src="assets/images/thumbs/blog-sidebar-img1.png" loading="lazy" alt="Image"
                        class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover max-w-114-px h-100">
                </a>
                <div class="flex-grow-1">
                    <span class="text-uppercase text-main-600 tw-text-sm">JANUARY 06, 2025</span>
                    <h6 class="fw-medium tw-mt-2">
                        <a href="blog.html" class="text-heading hover-text-main-600 line-clamp-2">Build a Strong
                            Financial Foundation
                            Your Business</a>
                    </h6>
                </div>
            </div>
            <div class="image-double-animation d-flex align-items-center tw-gap-6 tw-gap-6">
                <a href="blog.html" class="tw-rounded-xl overflow-hidden d-block position-relative flex-shrink-0">
                    <img src="assets/images/thumbs/blog-sidebar-img2.png" loading="lazy" alt="Image"
                        class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover max-w-114-px h-100">
                    <img src="assets/images/thumbs/blog-sidebar-img2.png" loading="lazy" alt="Image"
                        class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover max-w-114-px h-100">
                </a>
                <div class="flex-grow-1">
                    <span class="text-uppercase text-main-600 tw-text-sm">JANUARY 06, 2025</span>
                    <h6 class="fw-medium tw-mt-2">
                        <a href="blog.html" class="text-heading hover-text-main-600 line-clamp-2">Top Investment
                            Strategies for
                            Growing Your Wealth</a>
                    </h6>
                </div>
            </div>
            <div class="image-double-animation d-flex align-items-center tw-gap-6 tw-gap-6">
                <a href="blog.html" class="tw-rounded-xl overflow-hidden d-block position-relative flex-shrink-0">
                    <img src="assets/images/thumbs/blog-sidebar-img3.png" loading="lazy" alt="Image"
                        class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover max-w-114-px h-100">
                    <img src="assets/images/thumbs/blog-sidebar-img3.png" loading="lazy" alt="Image"
                        class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover max-w-114-px h-100">
                </a>
                <div class="flex-grow-1">
                    <span class="text-uppercase text-main-600 tw-text-sm">JANUARY 06, 2025</span>
                    <h6 class="fw-medium tw-mt-2">
                        <a href="blog.html" class="text-heading hover-text-main-600 line-clamp-2">5 Essential Tax
                            Planning Tips Every
                            Entrepreneur</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <h6 class="tw-mb-6">Categories</h6>
        <div class="">
            <a href="blog.html"
                class="tw-text-base fw-normal text-neutral-500 hover-text-main-600 d-flex align-items-center justify-content-between tw-pb-5 tw-mb-5 border-bottom border-neutral-200">
                <span class="">Marketing</span>
                <span class="">(28)</span>
            </a>
            <a href="blog.html"
                class="tw-text-base fw-normal text-neutral-500 hover-text-main-600 d-flex align-items-center justify-content-between tw-pb-5 tw-mb-5 border-bottom border-neutral-200">
                <span class="">Branding Design</span>
                <span class="">(34)</span>
            </a>
            <a href="blog.html"
                class="tw-text-base fw-normal text-neutral-500 hover-text-main-600 d-flex align-items-center justify-content-between tw-pb-5 tw-mb-5 border-bottom border-neutral-200">
                <span class="">Financial Investment</span>
                <span class="">(02)</span>
            </a>
            <a href="blog.html"
                class="tw-text-base fw-normal text-neutral-500 hover-text-main-600 d-flex align-items-center justify-content-between tw-pb-5 tw-mb-5 border-bottom border-neutral-200">
                <span class="">Business</span>
                <span class="">(09)</span>
            </a>
            <a href="blog.html"
                class="tw-text-base fw-normal text-neutral-500 hover-text-main-600 d-flex align-items-center justify-content-between">
                <span class="">Design</span>
                <span class="">(23)</span>
            </a>

        </div>
    </div>

    <div class="">
        <h6 class="tw-mb-6">Categories</h6>
        <div class="d-flex align-items-center tw-gap-6 flex-wrap">
            <a href="blog.html"
                class="fw-bold text-neutral-600 text-decoration-underline hover-text-main-600">Finance</a>
            <a href="blog.html"
                class="fw-bold text-neutral-600 text-decoration-underline hover-text-main-600">Business</a>
            <a href="blog.html"
                class="fw-bold text-neutral-600 text-decoration-underline hover-text-main-600">Marketing</a>
            <a href="blog.html" class="fw-bold text-neutral-600 text-decoration-underline hover-text-main-600">IT</a>
            <a href="blog.html"
                class="fw-bold text-neutral-600 text-decoration-underline hover-text-main-600">Development</a>
            <a href="blog.html"
                class="fw-bold text-neutral-600 text-decoration-underline hover-text-main-600">Strategy</a>
            <a href="blog.html"
                class="fw-bold text-neutral-600 text-decoration-underline hover-text-main-600">Software</a>
        </div>
    </div>

</div>
<!-- Blog Sidebar end -->