<!-- ============================== Brand section start ============================== -->
<div class="brand pb-120">
  <div class="container">
    <div class="swiper brand-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="element-double-animation">
            <img src="assets/images/thumbs/brand-img1.png" alt="Logo" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation">
            <img src="assets/images/thumbs/brand-img2.png" alt="Logo" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation">
            <img src="assets/images/thumbs/brand-img3.png" alt="Logo" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation">
            <img src="assets/images/thumbs/brand-img4.png" alt="Logo" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation">
            <img src="assets/images/thumbs/brand-img5.png" alt="Logo" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation">
            <img src="assets/images/thumbs/brand-img6.png" alt="Logo" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation">
            <img src="assets/images/thumbs/brand-img3.png" alt="Logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================== Brand section end ============================== -->
