<!-- ================================== brand new two start ================================ -->
<div class="brand">
    <div class="container max-w-1720-px">
        <div class="swiper brand-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="tw-duration-300">
                            <img src="assets/images/thumbs/brand-new-img1.png" loading="lazy" alt="Brand Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="tw-duration-300">
                            <img src="assets/images/thumbs/brand-new-img2.png" loading="lazy" alt="Brand Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="tw-duration-300">
                            <img src="assets/images/thumbs/brand-new-img3.png" loading="lazy" alt="Brand Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="tw-duration-300">
                            <img src="assets/images/thumbs/brand-new-img4.png" loading="lazy" alt="Brand Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                        <div class="tw-duration-300">
                            <img src="assets/images/thumbs/brand-new-img5.png" loading="lazy" alt="Brand Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                        <div class="tw-duration-300">
                            <img src="assets/images/thumbs/brand-new-img6.png" loading="lazy" alt="Brand Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                        <div class="tw-duration-300">
                            <img src="assets/images/thumbs/brand-new-img3.png" loading="lazy" alt="Brand Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================================== brand new two end ================================ -->