<!-- ============================== Choose us two section start ============================ -->
<section class="choose-us pt-120 position-relative bg-70-percent z-1">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 pe-lg-5">
        <div class="">
          <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <span class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
              Why Choose Us</span>
            <h2 class="splitTextStyleOne cursor-big">
              Trusted by 450+ happy client
              <span class="font-playfair fw-normal font-playfair fst-italic">World-wide</span>
            </h2>
            <p class="text-neutral-600 tw-text-lg tw-mt-8">
              SEO and digital marketing agency committed to helping businesses
              grow online. With a team of skilled strategists, designers
            </p>
          </div>
          <div class="d-flex flex-column tw-gap-10 tw-mt-10">
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
              <span class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small">Content
                Marketing</span>
              <div class="progress-container style-yellow" data-percentage="80">
                <div class="progress active"></div>
                <div class="percentage active cursor-small">0%</div>
              </div>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
              <span class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small">Analytics &
                Reporting</span>
              <div class="progress-container" data-percentage="90">
                <div class="progress active"></div>
                <div class="percentage active cursor-small">0%</div>
              </div>
            </div>
          </div>
          <div class="tw-mt-17 d-flex align-items-center tw-gap-7 animation-item" data-aos="fade-up"
            data-aos-duration="800" data-aos-delay="100">
            <span class="">
              <img src="assets/images/icons/men-flag-icon.png" alt="Men Icon" class="animate__wobble">
            </span>
            <div class="">
              <h2 class="text-main-600 counter cursor-big">49349+</h2>
              <span class="tw-text-lg text-heading tw-mt-2">Project Completed</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            <div class="position-relative tw-rounded-xl overflow-hidden h-100 tw-p-8 z-1">
                <img src="assets/images/bg/choose-us-two-gradient-bg.png" alt="Background Image" class="position-absolute top-0 tw-start-0 h-100 w-100 z-n1">
              <div class="d-flex flex-column justify-content-between gap-4 align-items-start position-relative h-100">
                <h5 class="text-white fw-semibold">
                  Innovative Expert in Web Development Services
                </h5>
                <a href="about.html"
                  class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                  data-block="button">
                  <span class="button__flair"></span>
                  <span class="button__label">About Us</span>
                  <span class="tw-text-lg tw-leading-none z-1 position-relative">
                    <img src="assets/images/icons/arrow-right.png" alt="Arrow"
                      class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg">
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <div class="common-shadow-4 tw-p-8 tw-rounded-xl overflow-hidden bg-white animation-item">
              <div class="">
                <img src="assets/images/icons/choose-us-two-icon1.png" alt="Icon" class="animate__heartBeat">
              </div>
              <div class="tw-mt-11">
                <h6 class="">Professional Team</h6>
                <p class="text-neutral-600 tw-mt-6">
                  With a team of skilled strategists, designers, and marketers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            <div class="common-shadow-4 tw-p-8 tw-rounded-xl overflow-hidden bg-white animation-item">
              <div class="">
                <img src="assets/images/icons/choose-us-two-icon2.png" alt="Icon" class="animate__heartBeat">
              </div>
              <div class="tw-mt-11">
                <h6 class="">Audience Analytic</h6>
                <p class="text-neutral-600 tw-mt-6">
                  With a team of skilled strategists, designers, and marketers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <div class="position-relative">
              <figure class="hover-animation-white split-reveal position-relative overflow-hidden h-100">
                <img src="assets/images/thumbs/choose-us-two-img.png" alt="Thumb"
                  class="split-reveal-element tw-rounded-xl h-100 object-fit-cover origin-left">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Thumbs start -->
  <div class="">
    <div class="pt-120 choose-us-two-big-image-wrapper">
      <div class="container">
        <div class="text-center overflow-hidden">
          <img src="assets/images/thumbs/choose-us-two-big-img.png" alt="Thumbnail"
            class="choose-us-big-image tw-text-lg w-100 h-100 object-fit-cover">
        </div>
      </div>
    </div>
  </div>
  <!-- Thumbs end -->
</section>
<!-- ============================== Choose us two section end ============================ -->