<!-- =============================== Contact section start ================================= -->
<section class="contact pb-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-7">
                <div class="bg-white tw-text-2xl common-shadow-5 tw-p-60-px">
                    <!-- Section heading start -->
                    <div class="tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span
                            class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
                            Our Contact</span>
                        <h2 class="splitTextStyleOne cursor-big">
                            Contact Us
                        </h2>
                    </div>
                    <!-- Section heading end -->
                    <form action="#" class="">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="name"
                                        class="tw-text-base text-heading fw-medium text-capitalize tw-mb-2 d-block">Your
                                        name*</label>
                                    <input type="text" id="name"
                                        class="bg-neutral-100 tw-text-base tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100 focus-outline-0 border border-neutral-100 focus-border-main-600 placeholder-text-sm"
                                        placeholder="William John" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="mail"
                                        class="tw-text-base text-heading fw-medium text-capitalize tw-mb-2 d-block">Your
                                        email*</label>
                                    <input type="email" id="mail"
                                        class="bg-neutral-100 tw-text-base tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100 focus-outline-0 border border-neutral-100 focus-border-main-600 placeholder-text-sm"
                                        placeholder="william@gmail.com" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="phone"
                                        class="tw-text-base text-heading fw-medium text-capitalize tw-mb-2 d-block">Your
                                        Phone*</label>
                                    <input type="tel" id="phone"
                                        class="bg-neutral-100 tw-text-base tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100 focus-outline-0 border border-neutral-100 focus-border-main-600 placeholder-text-sm"
                                        placeholder="+12 (029) 993 442" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="category"
                                        class="tw-text-base text-heading fw-medium text-capitalize tw-mb-2 d-block">Your
                                        Subject*</label>
                                    <select
                                        class="bg-neutral-100 tw-text-base tw-px-6 tw-py-1 tw-h-13 tw-rounded-md w-100 focus-outline-0 border border-neutral-100 focus-border-main-600 placeholder-text-sm form-select shadow-none text-neutral-600"
                                        id="category">
                                        <option value="Digital Marketing">Digital Marketing</option>
                                        <option value="SEO">SEO</option>
                                        <option value="Digital Agency">Digital Agency</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="">
                                    <label for="message"
                                        class="tw-text-base text-heading fw-medium text-capitalize tw-mb-2 d-block">Your
                                        Message*</label>
                                    <div class="">
                                        <textarea id="message"
                                            class="bg-neutral-100 tw-text-base tw-px-6 tw-py-3 tw-rounded-md w-100 focus-outline-0 border border-neutral-100 focus-border-main-600 placeholder-text-sm tw-min-h-150-px"
                                            placeholder="Write your message..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit"
                                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Send Your Message</span>
                                    <span
                                        class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                        <i
                                            class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5 d-lg-block d-none">
                <div class="h-100 hover-animation-white">
                    <img src="assets/images/thumbs/contact-img.png" alt="Image"
                        class="tw-rounded-xl w-100 h-100 object-fit-cover">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Contact section end ================================= -->