<!-- ======================== Counter Three section start =============================== -->
<section class="counter-three py-120">
  <div class="container">
    <div class="row gy-md-5 gy-4">
      <div
        class="col-xl-5"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="0"
      >
        <div
          class="bg-blue-light tw-py-10 tw-p-48-px tw-rounded-xl position-relative overflow-hidden"
        >
          <div class="d-flex align-items-center tw-gap-4">
            <img src="assets/images/icons/google-icon.png" alt="Google Icon" >
            <div class="">
              <div class="d-flex align-items-center tw-gap-1">
                <span class="tw-text-lg tw-leading-none text-yellow">
                  <i class="ph-fill ph-star"></i>
                </span>
                <span class="tw-text-lg tw-leading-none text-yellow">
                  <i class="ph-fill ph-star"></i>
                </span>
                <span class="tw-text-lg tw-leading-none text-yellow">
                  <i class="ph-fill ph-star"></i>
                </span>
                <span class="tw-text-lg tw-leading-none text-yellow">
                  <i class="ph-fill ph-star"></i>
                </span>
                <span class="tw-text-lg tw-leading-none text-yellow">
                  <i class="ph-fill ph-star"></i>
                </span>
              </div>
              <span class="text-neutral-500 d-block tw-mt-2"
                >Review 4.9/5.0</span
              >
            </div>
          </div>
          <div
            class="d-flex align-items-center tw-gap-705 flex-sm-nowrap flex-wrap tw-mt-15"
          >
            <div class="d-flex align-items-center">
              <div
                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0"
              >
                <img
                  src="assets/images/thumbs/client-img1.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                >
              </div>
              <div
                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1"
              >
                <img
                  src="assets/images/thumbs/client-img2.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                >
              </div>
              <div
                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1"
              >
                <img
                  src="assets/images/thumbs/client-img3.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                >
              </div>
              <div
                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1 text-white fw-semibold tw-text-lg d-flex justify-content-center align-items-center bg-main-600 counter"
              >
                <span class=""> 32+ </span>
              </div>
            </div>
            <p class="fw-normal text-neutral-600 max-w-200-px text-balance">
              We have 40k+ customers word-wide
            </p>
          </div>

          <img
            src="assets/images/shapes/chaka-rounded-two.png"
            alt="Shape"
            class="counter-three-shape position-absolute top-0 tw-end-0 animation-rotate-right"
          >
        </div>
      </div>
      <div class="col-xl-7">
        <div
          class="d-flex justify-content-between flex-sm-row flex-column tw-gap-8 ps-xxl-5"
        >
          <div
            class="text-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="150"
          >
            <h6 class="fw-medium text-heading tw-mb-1">Years of Experience</h6>
            <h1 class="fw-medium text-main-600 counter text-120-px cursor-big">
              35+
            </h1>
            <p class="text-neutral-600 tw-text-lg max-w-280-px mx-auto">
              Dolor sit amet, adipiscing elit. Nibh ullamcorper arcu elementum.
            </p>
          </div>
          <div
            class="d-lg-block d-none aos-init aos-animate"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="150"
          >
            <span class="tw-w-px h-100 bg-neutral-200"></span>
          </div>
          <div
            class="text-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="250"
          >
            <h6 class="fw-medium text-heading tw-mb-1">Project Completed</h6>
            <h1 class="fw-medium text-main-600 counter text-120-px cursor-big">
              46K+
            </h1>
            <p class="text-neutral-600 tw-text-lg max-w-280-px mx-auto">
              Dolor sit amet, adipiscing elit. Nibh ullamcorper arcu elementum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======================== Counter Three section end =============================== -->
