<!-- ========================== Counter Four Section start ============================ -->
<section class="counter-four pt-120">
    <div class="container">
        <div class="d-flex justify-content-between flex-sm-row flex-column tw-gap-8 ps-xxl-5">
            <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                <h6 class="fw-medium text-heading tw-mb-1">Years of Experience</h6>
                <h1 class="fw-medium text-main-600 counter text-120-px cursor-big">
                    64+
                </h1>
                <p class="text-neutral-600 tw-text-lg max-w-280-px mx-auto">
                    Dolor sit amet, adipiscing elit. Nibh ullamcorper arcu elementum.
                </p>
            </div>
            <div class="d-lg-block d-none aos-init aos-animate" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="150">
                <span class="tw-w-px h-100 bg-neutral-200"></span>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                <h6 class="fw-medium text-heading tw-mb-1">Years of Experience</h6>
                <h1 class="fw-medium text-main-600 counter text-120-px cursor-big">
                    35+
                </h1>
                <p class="text-neutral-600 tw-text-lg max-w-280-px mx-auto">
                    Dolor sit amet, adipiscing elit. Nibh ullamcorper arcu elementum.
                </p>
            </div>
            <div class="d-lg-block d-none aos-init aos-animate" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="150">
                <span class="tw-w-px h-100 bg-neutral-200"></span>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                <h6 class="fw-medium text-heading tw-mb-1">Project Completed</h6>
                <h1 class="fw-medium text-main-600 counter text-120-px cursor-big">
                    46K+
                </h1>
                <p class="text-neutral-600 tw-text-lg max-w-280-px mx-auto">
                    Dolor sit amet, adipiscing elit. Nibh ullamcorper arcu elementum.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Counter Four Section End ============================ -->