<!-- ============================= Counter Two section start ======================== -->
<section class="counter-two pb-120">
  <div class="container">
    <div class="counter-two-wrapper d-flex justify-content-between tw-gap-3">
      <div
        class="counter-two-item text-center animation-item"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
      >
        <span class="tw-mb-4">
          <img
            src="assets/images/icons/counter-two-icon1.png"
            alt="Counter Icon"
            class="animate__wobble"
          >
        </span>
        <div class="">
          <h2 class="h1 counter cursor-big">563+</h2>
          <span class="tw-text-lg text-neutral-500 tw-mt-1"
            >Experts Instructors</span
          >
        </div>
      </div>
      <div
        class="d-lg-block d-none"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="150"
      >
        <span class="tw-w-px h-100 bg-neutral-200"></span>
      </div>
      <div
        class="counter-two-item text-center animation-item"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="200"
      >
        <span class="tw-mb-4">
          <img
            src="assets/images/icons/counter-two-icon2.png"
            alt="Counter Icon"
            class="animate__wobble"
          >
        </span>
        <div class="">
          <h2 class="h1 counter cursor-big">6,539+</h2>
          <span class="tw-text-lg text-neutral-500 tw-mt-1"
            >Class Completed</span
          >
        </div>
      </div>
      <div
        class="d-lg-block d-none"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="250"
      >
        <span class="tw-w-px h-100 bg-neutral-200"></span>
      </div>
      <div
        class="counter-two-item text-center animation-item"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <span class="tw-mb-4">
          <img
            src="assets/images/icons/counter-two-icon3.png"
            alt="Counter Icon"
            class="animate__wobble"
          >
        </span>
        <div class="">
          <h2 class="h1 counter cursor-big">34+</h2>
          <span class="tw-text-lg text-neutral-500 tw-mt-1"
            >Year of Experience</span
          >
        </div>
      </div>
      <div
        class="d-lg-block d-none"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="350"
      >
        <span class="tw-w-px h-100 bg-neutral-200"></span>
      </div>
      <div
        class="counter-two-item text-center animation-item"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="400"
      >
        <span class="tw-mb-4">
          <img
            src="assets/images/icons/counter-two-icon1.png"
            alt="Counter Icon"
            class="animate__wobble"
          >
        </span>
        <div class="">
          <h2 class="h1 counter cursor-big">6,632+</h2>
          <span class="tw-text-lg text-neutral-500 tw-mt-1"
            >Students Enroll</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================= Counter Two section end ======================== -->
