<!-- =========================== Counter section start ============================= -->
<section class="counter-new pb-140">
    <div class="container">
        <div class="row gy-5">
            <div class="col-md-3 col-sm-6">
                <div class="counter-new-item text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h4 class="h1 fw-medium text-main-two-600 counter tw-leading-none"> 94% </h4>
                    <p class="text-white tw-text-lg tw-mt-2"> Success Rate </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-new-item text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h4 class="h1 fw-medium text-main-two-600 counter tw-leading-none"> 53K </h4>
                    <p class="text-white tw-text-lg tw-mt-2"> Project Completed </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-new-item text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h4 class="h1 fw-medium text-main-two-600 counter tw-leading-none"> 67+ </h4>
                    <p class="text-white tw-text-lg tw-mt-2"> Our Employee </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-new-item text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h4 class="h1 fw-medium text-main-two-600 counter tw-leading-none"> 94% </h4>
                    <p class="text-white tw-text-lg tw-mt-2"> Success Rate </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Counter section end ============================= -->