<!-- ============================= Counter Two section start ======================== -->
<section class="counter-two pb-120">
  <div class="container">
    <div class="counter-two-wrapper d-flex justify-content-between tw-gap-3">
      <div class="counter-two-item text-center">
        <span class="tw-mb-4">
          <img
            src="assets/images/icons/counter-two-icon1.png"
            alt="Counter Icon"
          />
        </span>
        <div class="">
          <h2 class="h1 counter">563+</h2>
          <span class="tw-text-lg text-neutral-500 tw-mt-1"
            >Experts Instructors</span
          >
        </div>
      </div>
      <div class="d-lg-block d-none">
        <span class="tw-w-px h-100 bg-neutral-200"></span>
      </div>
      <div class="counter-two-item text-center">
        <span class="tw-mb-4">
          <img
            src="assets/images/icons/counter-two-icon2.png"
            alt="Counter Icon"
          />
        </span>
        <div class="">
          <h2 class="h1 counter">6,539+</h2>
          <span class="tw-text-lg text-neutral-500 tw-mt-1"
            >Class Completed</span
          >
        </div>
      </div>
      <div class="d-lg-block d-none">
        <span class="tw-w-px h-100 bg-neutral-200"></span>
      </div>
      <div class="counter-two-item text-center">
        <span class="tw-mb-4">
          <img
            src="assets/images/icons/counter-two-icon3.png"
            alt="Counter Icon"
          />
        </span>
        <div class="">
          <h2 class="h1 counter">34+</h2>
          <span class="tw-text-lg text-neutral-500 tw-mt-1"
            >Year of Experience</span
          >
        </div>
      </div>
      <div class="d-lg-block d-none">
        <span class="tw-w-px h-100 bg-neutral-200"></span>
      </div>
      <div class="counter-two-item text-center">
        <span class="tw-mb-4">
          <img
            src="assets/images/icons/counter-two-icon1.png"
            alt="Counter Icon"
          />
        </span>
        <div class="">
          <h2 class="h1 counter">6,632+</h2>
          <span class="tw-text-lg text-neutral-500 tw-mt-1"
            >Students Enroll</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================= Counter Two section end ======================== -->
