<!-- ==================== CTA Four start ============================ -->
<div class="cta-four position-relative overflow-hidden py-120 view-cursor-show" data-aos="fade-up"
    data-aos-duration="800" data-aos-delay="100">
    <div class="background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1"
        data-background-image="assets/images/bg/testimonials-four-gradient-bg.png"></div>
    <a href="contact.html" class="position-absolute w-100 h-100 tw-start-0 top-0 z-1"></a>

    <div class="marquee_left d-flex align-items-center tw-gap-6 overflow-hidden">
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-stroke-white">-</h2>
            <h2 class="text-uppercase text-64-px text-stroke-white">AGENCY</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-stroke-white">-</h2>
            <h2 class="text-uppercase text-64-px text-stroke-white">AGENCY</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-stroke-white">-</h2>
            <h2 class="text-uppercase text-64-px text-stroke-white">SEO</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-stroke-white">-</h2>
            <h2 class="text-uppercase text-64-px text-stroke-white">ANALYSIS</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-stroke-white">-</h2>
            <h2 class="text-uppercase text-64-px text-stroke-white">E-commerce</h2>
        </div>
    </div>

    <div class="marquee_right d-flex align-items-center tw-gap-6 overflow-hidden">
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-white">-</h2>
            <h2 class="text-uppercase text-64-px text-white">AGENCY</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-white">-</h2>
            <h2 class="text-uppercase text-64-px text-white">AGENCY</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-white">-</h2>
            <h2 class="text-uppercase text-64-px text-white">SEO</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-white">-</h2>
            <h2 class="text-uppercase text-64-px text-white">ANALYSIS</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-6 animation-item">
            <h2 class="text-uppercase text-64-px text-white">-</h2>
            <h2 class="text-uppercase text-64-px text-white">E-commerce</h2>
        </div>
    </div>
</div>
<!-- ==================== CTA Four end ============================ -->