<!-- ========================= CTA three section start ============================== -->
<div class="cta-three bg-half-blue-light position-relative z-1">
  <div class="container">
    <div
      class="cta-three-box bg-main-600 tw-rounded-xl tw-pb-120-px tw-pt-72-px tw-px-8 tw-mb-6"
    >
      <!-- Section heading start -->
      <div
        class="section-heading max-w-890-px tw-mb-17 mx-auto text-center"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
      >
        <span
          class="bg-white-06 text-white fw-normal tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
        >
          Start With Us</span
        >
        <h2 class="text-white splitTextStyleOne cursor-big pointer-events-auto">
          Ready to speak with a
          <span class="font-playfair fw-normal fst-italic">
            marketing expert?</span
          >
        </h2>
      </div>
      <!-- Section heading end -->
      <div
        class="rounded-top-34-px bg-heading tw-px-4 tw-pt-3 position-absolute tw-start-50 tw-translate-x-50 tw-mt-6 min-w-max"
      >
        <a
          href="tel:(+39) 393 532 44"
          class="btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
          data-block="button"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="100"
        >
          <span class="button__flair"></span>
          <span class="button__label">(+39) 393 532 44</span>
          <span
            class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
          >
            <i class="ph-fill ph-phone"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- ========================= CTA three section end ============================== -->
