<!-- ========================== Customer Statistics section start ================================ -->
<div class="customer-statistics">
  <div class="container">
    <div class="position-relative tw-rounded-lg overflow-hidden h-100 tw-p-10">
      <div
        class="animated-bg flowmap-deformation-wrapper"
        data-bg="assets/images/bg/customer-statistics-gradient-bg.png"
        data-bg-width="1290"
        data-bg-height="300"
      ></div>
      <div
        class="pointer-events-none z-1 position-relative d-flex align-items-center tw-gap-8 justify-content-between flex-lg-nowrap flex-wrap"
      >
        <div
          class="d-flex align-items-center tw-gap-705 flex-sm-nowrap flex-wrap"
        >
          <div class="d-flex align-items-center pointer-events-auto">
            <div
              class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0"
            >
              <img
                src="assets/images/thumbs/client-img1.png"
                alt="Client Image"
                class="w-100 h-100 object-fit-cover"
              />
            </div>
            <div
              class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1"
            >
              <img
                src="assets/images/thumbs/client-img2.png"
                alt="Client Image"
                class="w-100 h-100 object-fit-cover"
              />
            </div>
            <div
              class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1"
            >
              <img
                src="assets/images/thumbs/client-img3.png"
                alt="Client Image"
                class="w-100 h-100 object-fit-cover"
              />
            </div>
            <div
              class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1 text-heading fw-semibold tw-text-xl d-flex justify-content-center align-items-center bg-main-two-600 counter"
            >
              <span class=""> 4k+ </span>
            </div>
          </div>
          <p class="fw-normal text-white max-w-200-px text-balance">
            We have 40k+ customers word-wide
          </p>
        </div>
        <!-- Rotate Text Start -->
        <div class="rotate-text-wrapper hover-parallax-wrapper">
          <a
            href="about.html"
            class="position-relative pointer-events-auto group group-item hover-parallax-item"
          >
            <img
              src="assets/images/shapes/totate-text-two.png"
              alt="Rotate Text"
              class="animation-rotate-right"
            />
            <span
              class="position-absolute top-50 tw-start-50 tw--translate-middle text-main-two-600 tw-text-3xl group-hover-text-main-600"
            >
              <i class="ph-bold ph-arrow-down"></i>
            </span>
          </a>
        </div>
        <!-- Rotate Text End -->

        <div
          class="bg-white tw-rounded-xl tw-px-7 tw-py-10 pointer-events-none text-center max-w-280-px"
        >
          <h2 class="h1 text-heading counter">687+</h2>
          <p class="tw-mt-5 fw-medium">
            Learning is a lifelong journey, and we're passionate
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========================== Customer Statistics section end ================================ -->
