<!-- =========================== Experience Four Section Start =========================  -->
<section class="experience-four mx-sm-4 tw-mt-8 pb-120">
    <div class="row gy-4">
        <div class="col-xl-6">
            <div class="row h-100 gy-lg-0 gy-4">
                <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="h-100 bg-main-600 tw-rounded-xl overflow-hidden tw-p-48-px position-relative">
                        <span class="d-block text-22-px fw-medium text-white">Years of Experience</span>
                        <h2 class="text-120-px fw-medium counter text-white">35+</h2>
                        <img src="assets/images/shapes/pattern-net.png" loading="lazy" alt="Pattern Shape"
                            class="position-absolute tw-end-0 bottom-0">
                    </div>
                </div>
                <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="h-100 hover-animation-white">
                        <img src="assets/images/thumbs/experience-four-thumb.png" loading="lazy" alt="Image"
                            class="w-100 h-100 tw-rounded-xl overflow-hidden object-fit-cover">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
            <div class="h-100 tw-rounded-xl overflow-hidden tw-p-48-px position-relative z-1">
                <div class="">
                    <img src="assets/images/icons/round-two-arrow.png" loading="lazy" alt="Icon">
                    <h4 class="text-42-px text-white fw-semibold tw-mt-12">We craft data-driven marketing strategies
                        that turn
                        businesses into
                        industry leaders.</h4>
                </div>
                <div class="background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1"
                    data-background-image="assets/images/bg/experience-four-gradient-bg.png"></div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Experience Four Section End =========================  -->