<!-- =========================== Explore more three section start =========================== -->
<section class="explore-more-three bg-main-600 position-relative z-1">
  <img
    src="assets/images/shapes/explore-more-three-shape1.png"
    alt="Shape"
    class="position-absolute d-lg-block d-none top-0 tw-start-0 animated-upDown pt-120"
  >
  <img
    src="assets/images/shapes/dotted-spread-white.png"
    alt="Shape"
    class="position-absolute d-lg-block d-none bottom-0 tw-end-0 animation-scalation tw--me-7-percent tw--mb-12-percent"
  >

  <div class="container">
    <div class="row gy-4 align-items-center">
      <div class="col-md-6">
        <div class="position-relative text-end d-md-block d-none pe-xl-5">
          <img
            src="assets/images/icons/white-big-fagicon.png"
            alt="Icon"
            class="position-absolute tw-start-0 bottom-0 d-lg-block d-none"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
          <img
            src="assets/images/thumbs/explore-more-three-img.png"
            alt="Thumbnail"
            class=""
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="py-120">
          <h2
            class="text-white cursor-big splitTextStyleOne"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            We Provide Special Offers for The Best Customers
          </h2>
          <div
            class="tw-mt-12"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            <a
              href="about.html"
              class="btn btn-main-two hover-style-three group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
              data-block="button"
            >
              <span class="button__flair"></span>
              <span class="button__label">Explore More</span>
              <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                <img
                  src="assets/images/icons/arrow-right.png"
                  alt="Arrow"
                  class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
                >
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =========================== Explore more three section end =========================== -->
