<!-- ============================ FAQ section start =============================== -->
<section class="faq py-120 bg-blue-light">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-5">
                <!-- Section heading start -->
                <div class="tw-mb-10 d-flex flex-wrap align-items-center justify-content-between tw-gap-6"
                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="max-w-680-px">
                        <span
                            class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">Our
                            FAQ's</span>
                        <h2 class="splitTextStyleOne cursor-big">
                            Common Frequently
                            <span class="font-playfair fw-normal font-playfair fst-italic">
                                Asked Questions</span>
                        </h2>
                    </div>
                </div>
                <!-- Section heading end -->
            </div>
            <div class="col-lg-7">
                <div class="accordion common-accordion style-two d-flex flex-column tw-gap-5" id="accordionExampleTwp">
                    <div class="accordion-item tw-rounded-xl bg-transparent mb-0 border border-neutral-200"
                        data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header d-flex align-items-center justify-content-between tw-gap-3">
                            <button
                                class="accordion-button shadow-none tw-px-705 tw-py-4 line-clamp-3 bg-white text-22-px fw-semibold collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo"
                                aria-expanded="false" aria-controls="collapseTwoTwo">
                                1. What is digital marketing?
                            </button>
                        </h5>
                        <div id="collapseTwoTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwp">
                            <div class="accordion-body tw-px-705 tw-py-705 max-w-620-px bg-white">
                                <p class="text-neutral-500 tw-leading-212">We offer both short-term and
                                    Digital marketing refers to online strategies like SEO, social media, paid ads, and
                                    email marketing used to promote brands and drive sales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-rounded-xl bg-transparent mb-0 border border-neutral-200"
                        data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header d-flex align-items-center justify-content-between tw-gap-3">
                            <button
                                class="accordion-button shadow-none tw-px-705 tw-py-4 line-clamp-3 bg-white text-22-px fw-semibold"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneTwo"
                                aria-expanded="true" aria-controls="collapseOneTwo">
                                2. How can digital marketing help my business?
                            </button>
                        </h5>
                        <div id="collapseOneTwo" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExampleTwp">
                            <div class="accordion-body tw-px-705 tw-py-705 max-w-620-px bg-white">
                                <p class="text-neutral-500 tw-leading-212">We offer both short-term and
                                    Digital marketing refers to online strategies like SEO, social media, paid ads, and
                                    email marketing used to promote brands and drive sales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-rounded-xl bg-transparent mb-0 border border-neutral-200"
                        data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header d-flex align-items-center justify-content-between tw-gap-3">
                            <button
                                class="accordion-button shadow-none tw-px-705 tw-py-4 line-clamp-3 bg-white text-22-px fw-semibold collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo"
                                aria-expanded="false" aria-controls="collapseThreeTwo">
                                3. Which services do you provide?
                            </button>
                        </h5>
                        <div id="collapseThreeTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwp">
                            <div class="accordion-body tw-px-705 tw-py-705 max-w-620-px bg-white">
                                <p class="text-neutral-500 tw-leading-212">We offer both short-term and
                                    Digital marketing refers to online strategies like SEO, social media, paid ads, and
                                    email marketing used to promote brands and drive sales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-rounded-xl bg-transparent mb-0 border border-neutral-200"
                        data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header d-flex align-items-center justify-content-between tw-gap-3">
                            <button
                                class="accordion-button shadow-none tw-px-705 tw-py-4 line-clamp-3 bg-white text-22-px fw-semibold collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTwo"
                                aria-expanded="false" aria-controls="collapseFourTwo">
                                4. How long does it take to see results?
                            </button>
                        </h5>
                        <div id="collapseFourTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwp">
                            <div class="accordion-body tw-px-705 tw-py-705 max-w-620-px bg-white">
                                <p class="text-neutral-500 tw-leading-212">We offer both short-term and
                                    Digital marketing refers to online strategies like SEO, social media, paid ads, and
                                    email marketing used to promote brands and drive sales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-rounded-xl bg-transparent mb-0 border border-neutral-200"
                        data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header d-flex align-items-center justify-content-between tw-gap-3">
                            <button
                                class="accordion-button shadow-none tw-px-705 tw-py-4 line-clamp-3 bg-white text-22-px fw-semibold collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveTwo"
                                aria-expanded="false" aria-controls="collapseFiveTwo">
                                5. Do you work with small businesses?
                            </button>
                        </h5>
                        <div id="collapseFiveTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwp">
                            <div class="accordion-body tw-px-705 tw-py-705 max-w-620-px bg-white">
                                <p class="text-neutral-500 tw-leading-212">We offer both short-term and
                                    Digital marketing refers to online strategies like SEO, social media, paid ads, and
                                    email marketing used to promote brands and drive sales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-rounded-xl bg-transparent mb-0 border border-neutral-200"
                        data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header d-flex align-items-center justify-content-between tw-gap-3">
                            <button
                                class="accordion-button shadow-none tw-px-705 tw-py-4 line-clamp-3 bg-white text-22-px fw-semibold collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTwo"
                                aria-expanded="false" aria-controls="collapseSixTwo">
                                6. How much do your services cost?
                            </button>
                        </h5>
                        <div id="collapseSixTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwp">
                            <div class="accordion-body tw-px-705 tw-py-705 max-w-620-px bg-white">
                                <p class="text-neutral-500 tw-leading-212">We offer both short-term and
                                    Digital marketing refers to online strategies like SEO, social media, paid ads, and
                                    email marketing used to promote brands and drive sales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ FAQ section end =============================== -->