<!-- ========================= Feature new section start ============================== -->
<section class="feature-new pb-140">
    <div class="container">
        <div class="text-center tw-mb-100-px max-w-780-px mx-auto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <h1 class="fw-bold text-white text-uppercase">Creative Strategy<br> for Lasting Growth</h1>
        </div>
        <div class="row g-90-px">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="d-flex align-items-start tw-gap-5 flex-sm-nowrap flew animation-item">
                     <span class="tw-mt-2 flex-shrink-0">
                        <img src="assets/images/icons/feature-two-icon1.png" alt="icon" class="animate__wobble">
                    </span>
                    <div>
                        <h4 class="fw-bold text-white">
                            INNOVATIVE
                        </h4>
                        <span class="w-100 tw-h-px bg-neutral-600 tw-mt-5 tw-mb-6"></span>
                        <p class="fw-medium tw-text-base text-white ">
                            Feugiat nibh sed pulvinar proin. Velit aliquet sagittis id consectetur purus ut.
                            Tristique sollicitudin nibh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="d-flex align-items-start tw-gap-5 flex-sm-nowrap flew animation-item">
                    <span class="tw-mt-2 flex-shrink-0">
                        <img src="assets/images/icons/feature-two-icon2.png" alt="icon" class="animate__wobble">
                    </span>
                    <div>
                        <h4 class="fw-bold text-white">
                            DYNAMIC
                        </h4>
                        <span class="w-100 tw-h-px bg-neutral-600 tw-mt-5 tw-mb-6"></span>
                        <p class="fw-medium tw-text-base text-white ">
                            Feugiat nibh sed pulvinar proin. Velit aliquet sagittis id consectetur purus ut.
                            Tristique sollicitudin nibh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="d-flex align-items-start tw-gap-5 flex-sm-nowrap flew animation-item">
                    <span class="tw-mt-2 flex-shrink-0">
                        <img src="assets/images/icons/feature-two-icon3.png" alt="icon" class="animate__wobble">
                    </span>
                    <div>
                        <h4 class="fw-bold text-white">
                            VISIONARY
                        </h4>
                        <span class="w-100 tw-h-px bg-neutral-600 tw-mt-5 tw-mb-6"></span>
                        <p class="fw-medium tw-text-base text-white ">
                            Feugiat nibh sed pulvinar proin. Velit aliquet sagittis id consectetur purus ut.
                            Tristique sollicitudin nibh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="d-flex align-items-start tw-gap-5 flex-sm-nowrap flew animation-item">
                    <span class="tw-mt-2 flex-shrink-0">
                        <img src="assets/images/icons/feature-two-icon4.png" alt="icon" class="animate__wobble">
                    </span>
                    <div>
                        <h4 class="fw-bold text-white">
                            VISIONARY
                        </h4>
                        <span class="w-100 tw-h-px bg-neutral-600 tw-mt-5 tw-mb-6"></span>
                        <p class="fw-medium tw-text-base text-white ">
                            Feugiat nibh sed pulvinar proin. Velit aliquet sagittis id consectetur purus ut.
                            Tristique sollicitudin nibh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="d-flex align-items-start tw-gap-5 flex-sm-nowrap flew animation-item">
                    <span class="tw-mt-2 flex-shrink-0">
                        <img src="assets/images/icons/feature-two-icon5.png" alt="icon" class="animate__wobble">
                    </span>
                    <div>
                        <h4 class="fw-bold text-white">
                            STRATEGY
                        </h4>
                        <span class="w-100 tw-h-px bg-neutral-600 tw-mt-5 tw-mb-6"></span>
                        <p class="fw-medium tw-text-base text-white ">
                            Feugiat nibh sed pulvinar proin. Velit aliquet sagittis id consectetur purus ut.
                            Tristique sollicitudin nibh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="d-flex align-items-start tw-gap-5 flex-sm-nowrap flew animation-item">
                    <span class="tw-mt-2 flex-shrink-0">
                        <img src="assets/images/icons/feature-two-icon6.png" alt="icon" class="animate__wobble">
                    </span>
                    <div>
                        <h4 class="fw-bold text-white">
                            MARKETING
                        </h4>
                        <span class="w-100 tw-h-px bg-neutral-600 tw-mt-5 tw-mb-6"></span>
                        <p class="fw-medium tw-text-base text-white ">
                            Feugiat nibh sed pulvinar proin. Velit aliquet sagittis id consectetur purus ut.
                            Tristique sollicitudin nibh.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Feature new section end ============================== -->