<!-- ============================== Feature section start ================================ -->
<section class="feature pb-120 tw-mb-6">
  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-6">
        <div class="">
          <div class="row gy-4">
            <div
              class="col-md-6"
              data-aos="fade-up"
              data-aos-duration="600"
              data-aos-delay="100"
            >
              <div
                class="bg-red-50 hover-bg-red-100 tw-px-6 tw-py-8 tw-rounded-xl animation-item tw-duration-300 tw-mt-705 d-flex flex-column align-items-start tw-gap-92-px"
              >
                <div class="">
                  <img
                    src="assets/images/icons/feature-icon1.png"
                    alt="Icon"
                    class="animate__swing"
                  />
                </div>
                <div class="">
                  <span
                    class="tw-px-5 tw-py-1 rounded-pill border border-main-600 text-main-600 fw-medium tw-mb-6"
                    >Our Mission</span
                  >
                  <h5 class="fw-medium">
                    Strive to be more than just a service provider
                  </h5>
                  <p class="text-neutral-500 tw-mt-6">
                    SEO and digital marketing initiatives, businesses can unlock
                    a myriad of benefits.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-md-6"
              data-aos="fade-up"
              data-aos-duration="600"
              data-aos-delay="300"
            >
              <div class="">
                <div
                  class="bg-main-40 hover-bg-main-100 tw-px-6 tw-py-8 tw-rounded-xl animation-item tw-duration-300 d-flex flex-column align-items-start tw-gap-92-px"
                >
                  <div class="">
                    <img
                      src="assets/images/icons/feature-icon2.png"
                      alt="Icon"
                      class="animate__swing"
                    />
                  </div>
                  <div class="">
                    <span
                      class="tw-px-5 tw-py-1 rounded-pill border border-main-600 text-main-600 fw-medium tw-mb-6"
                      >Our Mission</span
                    >
                    <h5 class="fw-medium">
                      Strive to be more than just a service provider
                    </h5>
                    <p class="text-neutral-500 tw-mt-6">
                      SEO and digital marketing initiatives, businesses can
                      unlock a myriad of benefits.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-6"
        data-aos="fade-up"
        data-aos-duration="600"
        data-aos-delay="500"
      >
        <div
          class="tw-mt-705 background-img bg-img tw-p-705 h-100 tw-rounded-xl overflow-hidden gradient-overlay-1"
          data-background-image="assets/images/thumbs/feature-bg-img.png"
        >
          <div
            class="d-flex flex-column justify-content-between tw-gap-8 align-items-start h-100"
          >
            <span
              class="bg-main-600 text-white fw-normal tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
            >
              Our Services</span
            >
            <div class="max-w-455-px">
              <h4 class="text-white fw-medium">
                Explore Our Unique Value Proposition & How We Drive
                <span
                  class="text-main-two-600 font-playfair fst-italic fw-medium"
                  >Business Growth</span
                >
              </h4>
              <div class="tw-mt-6">
                <a
                  href="contact.html"
                  class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                  data-block="button"
                >
                  <span class="button__flair"></span>
                  <span class="button__label">Get Started</span>
                  <span
                    class="tw-text-lg tw-leading-none z-1 position-relative"
                  >
                    <img
                      src="assets/images/icons/arrow-right.png"
                      alt="Arrow"
                      class="group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
                    />
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================== Feature section end ================================ -->
