<!-- ======================= Footer New section start =============================== -->
<section class="footer-new bg-white-06">
    <div class="pt-140">
        <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <h5 class="h1 text-main-two-600 text-uppercase">Let's work together</h5>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <span class="tw-w-120-px tw-h-1 bg-main-two-600"></span>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <h5 class="h1 text-main-two-600 text-uppercase">Let's work together</h5>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <span class="tw-w-120-px tw-h-1 bg-main-two-600"></span>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <h5 class="h1 text-main-two-600 text-uppercase">Let's work together</h5>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <span class="tw-w-120-px tw-h-1 bg-main-two-600"></span>
            </div>
        </div>
    </div>
    <div class="py-140">
        <div class="container max-w-1700-px">
            <div class="row gy-5">
                <div class="col-lg-6">
                    <div class="">
                        <a href="index.html" class="">
                            <img src="assets/images/logo/logo.png" alt="SEO7 Logo">
                        </a>
                    </div>
                    <div class="d-flex align-items-center tw-gap-5 tw-mt-4 flex-wrap">
                        <a href="mailto:hello@yourdomain.com" class="h3 text-white hover-text-main-two-600">hello@yourdomain.com</a>
                        <span class="h5 fw-medium text-white">//</span>
                        <a href="tel:+1-2863928933" class="h3 text-white hover-text-main-two-600">+1-286 392 8933</a>
                    </div>
                    <div class="tw-mt-10 d-flex align-items-center tw-gap-4 flex-wrap">
                        <a href="javascript:void(0)" class="text-white tw-py-2 tw-px-5 rounded-pill bg-white-08 hover-bg-main-two-600 hover-text-heading">About Us</a>
                        <a href="javascript:void(0)" class="text-white tw-py-2 tw-px-5 rounded-pill bg-white-08 hover-bg-main-two-600 hover-text-heading">Solution</a>
                        <a href="javascript:void(0)" class="text-white tw-py-2 tw-px-5 rounded-pill bg-white-08 hover-bg-main-two-600 hover-text-heading">Community</a>
                        <a href="javascript:void(0)" class="text-white tw-py-2 tw-px-5 rounded-pill bg-white-08 hover-bg-main-two-600 hover-text-heading">Work</a>
                        <a href="javascript:void(0)" class="text-white tw-py-2 tw-px-5 rounded-pill bg-white-08 hover-bg-main-two-600 hover-text-heading">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="">
                        <h5 class="h3 text-white text-uppercaser">Subscribe to our newsletter</h5>
                        <div class="tw-mt-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Footer New section end =============================== -->