<!-- ==================== Footer Start Here ==================== -->
<footer class="footer position-relative z-1 bg-black overflow-hidden mt-auto">
  <div
    class="animated-bg flowmap-deformation-wrapper"
    data-bg="assets/images/bg/footer-two-gradient-bg.png"
    data-bg-width="1920"
    data-bg-height="848"
  ></div>

  <!-- =========================== Footer Two Top start ================================ -->
  <div class="footer-two-top py-120 position-relative z-1 pointer-events-none">
    <div class="container">
      <div
        class="d-flex align-items-xl-center tw-gap-92-px justify-content-between flex-xl-row flex-column pointer-events-auto"
      >
        <div
          class="max-w-346-px"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="100"
        >
          <a href="index.html" class="">
            <img src="assets/images/logo/logo.png" alt="Logo" />
          </a>
          <p class="text-white tw-mt-4">
            Discover what our customers have to say about their experience with
            ReachOut
          </p>
        </div>
        <div
          class="d-flex align-items-center tw-gap-6 justify-content-between flex-lg-nowrap flex-wrap flex-grow-1"
        >
          <div
            class="d-flex align-items-start tw-gap-4 max-w-280-px animation-item"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="200"
          >
            <span class="tw-mt-105 flex-shrink-0">
              <img
                src="assets/images/icons/headphone-icon.png"
                alt="Headphone Icon"
                class="tw-w-8 tw-h-8 object-fit-contain animate__bounce"
              />
            </span>
            <div class="">
              <h6 class="text-white tw-text-lg tw-mb-2">For Support:</h6>
              <div class="d-flex flex-column tw-gap-2">
                <a
                  href="tel:(635) 525-4250"
                  class="text-white-8 hover-text-white hover-underline tw-text-lg"
                  >(635) 525-4250</a
                >
                <a
                  href="tel:(635) 525-425045"
                  class="text-white-8 hover-text-white hover-underline tw-text-lg"
                  >(635) 525-425045</a
                >
              </div>
            </div>
          </div>
          <div
            class="d-flex align-items-start tw-gap-4 max-w-280-px animation-item"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            <span class="tw-mt-105 flex-shrink-0">
              <img
                src="assets/images/icons/envelop-icon.png"
                alt="Headphone Icon"
                class="tw-w-8 tw-h-8 object-fit-contain animate__bounce"
              />
            </span>
            <div class="">
              <h6 class="text-white tw-text-lg tw-mb-2">Email us</h6>
              <div class="d-flex flex-column tw-gap-2">
                <a
                  href="mailto:support@seo7.com"
                  class="text-white-8 hover-text-white hover-underline tw-text-lg"
                  >support@seo7.com</a
                >
                <a
                  href="mailto:hello@seo7.com"
                  class="text-white-8 hover-text-white hover-underline tw-text-lg"
                  >hello@seo7.com</a
                >
              </div>
            </div>
          </div>
          <div
            class="d-flex align-items-start tw-gap-4 max-w-280-px animation-item"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="400"
          >
            <span class="tw-mt-105 flex-shrink-0">
              <img
                src="assets/images/icons/map-icon.png"
                alt="Headphone Icon"
                class="tw-w-8 tw-h-8 object-fit-contain animate__bounce"
              />
            </span>
            <div class="">
              <h6 class="text-white tw-text-lg tw-mb-2">For Support:</h6>
              <div class="d-flex flex-column tw-gap-2">
                <p class="text-white-8 hover-text-white tw-text-lg">
                  Office: 2220 Plymouth R02 Road, Hopkins, UK
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================== Footer Two Top end ================================ -->

  <!-- =========================== Footer Two Middle Start ================================ -->
  <div class="footer-two-middle">
    <div class="container max-w-1700-px">
      <div class="footer-two-middle__box position-relative z-1">
        <div class="container">
          <div class="py-120">
            <div class="row gy-5">
              <div
                class="col-xl-3 col-sm-6"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="100"
              >
                <h5 class="text-white tw-mb-9">About Us</h5>
                <ul class="d-flex flex-column tw-gap-4">
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >Our Team</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                    >
                      About Company</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >Contact Us</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >Terms & Condition</a
                    >
                  </li>
                </ul>
              </div>
              <div
                class="col-xl-3 col-sm-6"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="200"
              >
                <h5 class="text-white tw-mb-9">Quick Links</h5>
                <ul class="d-flex flex-column tw-gap-4">
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >OOur Support</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                    >
                      System Status</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >Knowledge base</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >Blog & News</a
                    >
                  </li>
                </ul>
              </div>
              <div
                class="col-xl-3 col-sm-6"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="300"
              >
                <h5 class="text-white tw-mb-9">Our Service</h5>
                <ul class="d-flex flex-column tw-gap-4">
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >Keyword Research</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                    >
                      On-Page SEO
                    </a>
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >SEO Content</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-white-8 hover-text-white hover-underline line-clamp-1 hover--translate-y-1 text-capitalize"
                      >Local SEO Solutions</a
                    >
                  </li>
                </ul>
              </div>
              <div
                class="col-xl-3 col-sm-6"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="400"
              >
                <form action="#" class="d-flex tw-gap-4 flex-column">
                  <div class="position-relative flex-grow-1">
                    <input
                      type="email"
                      id="email"
                      class="bg-white tw-ps-14 tw-pe-6 tw-py-3 tw-h-13 w-100 rounded-pill"
                      placeholder="Enter your e-mail"
                    />
                    <span
                      class="position-absolute top-50 translate-middle-y tw-ms-705 tw-start-0 d-flex"
                    >
                      <img
                        src="assets/images/icons/email-icon.png"
                        alt="Email Icon"
                      />
                    </span>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-main hover-style-one group group-item button--stroke active-scale-094 tw-duration-100 d-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 rounded-pill flex-sm-grow-0 flex-grow-1 flex-grow-1"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Subscribe Now</span>
                    <span
                      class="tw-text-lg tw-leading-none z-1 position-relative d-sm-block d-none"
                    >
                      <img
                        src="assets/images/icons/arrow-right-white.png"
                        alt="Arrow"
                        class="group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
                      />
                    </span>
                  </button>
                </form>
                <p class="text-neutral-400 tw-mt-5">
                  By subscribing, you're accept
                  <a
                    href="javascript:void(0)"
                    class="text-white hover-underline hover-text-white text-capitalize"
                    >Privacy Policy</a
                  >
                </p>
              </div>
            </div>
          </div>

          <div
            class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap tw-pb-10"
          >
            <p class="text-white text-line-1 fw-normal">
              Copyright &copy; SEO7 2025 . All rights reserved, Wowtheme7
            </p>
            <ul class="d-flex align-items-center tw-gap-305">
              <li>
                <a
                  href="https://www.facebook.com"
                  class="text-white tw-w-10 tw-h-10 bg-yellow-950 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                  ><i class="ph-bold ph-facebook-logo"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.twitter.com"
                  class="text-white tw-w-10 tw-h-10 bg-yellow-950 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                >
                  <i class="ph-bold ph-twitter-logo"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com"
                  class="text-white tw-w-10 tw-h-10 bg-yellow-950 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                  ><i class="ph-bold ph-instagram-logo"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.pinterest.com"
                  class="text-white tw-w-10 tw-h-10 bg-yellow-950 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                  ><i class="ph-bold ph-pinterest-logo"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================== Footer Two Middle end ================================ -->
</footer>
<!-- ==================== Footer End Here ==================== -->
