<!-- ======================= Footer New section start =============================== -->
<section class="footer-new bg-white-06">
    <div class="py-140">
        <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <h5 class="h1 text-main-two-600 text-uppercase">Let's work together</h5>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <span class="tw-w-120-px tw-h-1 bg-main-two-600"></span>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <h5 class="h1 text-main-two-600 text-uppercase">Let's work together</h5>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <span class="tw-w-120-px tw-h-1 bg-main-two-600"></span>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <h5 class="h1 text-main-two-600 text-uppercase">Let's work together</h5>
            </div>
            <div class="d-flex align-items-center tw-gap-10 animation-item">
                <span class="tw-w-120-px tw-h-1 bg-main-two-600"></span>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Footer New section end =============================== -->