<!-- ======================== Get In Touch section start =========================== -->
<section class="get-in-touch pt-120 position-relative z-1">
  <div class="container max-w-1720-px">
    <!-- Section heading start -->
    <div
      class="max-w-680-px text-center mx-auto tw-mb-10"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="300"
    >
      <span
        class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
      >
        Contact Us</span
      >
      <h2 class="splitTextStyleOne cursor-big">
        Get In Touch With
        <span class="font-playfair fw-normal font-playfair fst-italic"
          >Us Today</span
        >
      </h2>
      <p class="tw-text-lg text-neutral-500 tw-mt-8 max-w-590-px mx-auto">
        Snake mackerel upside-down catfish finback cat shark. Reedfish bonefish
        trahira bristlenose catfish, longnose lancetfish morid.
      </p>
    </div>
    <!-- Section heading end -->

    <div class="row gy-4 team-item-wrapper">
      <div
        class="col-lg-8"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <div
          class="tw-rounded-xl overflow-hidden position-relative z-1 tw-p-74-px"
        >
          <div
            class="animated-bg flowmap-deformation-wrapper"
            data-bg="assets/images/bg/get-in-touch-gradient-bg.png"
            data-bg-width="848"
            data-bg-height="690"
          ></div>
          <div class="position-relative z-1 pointer-events-auto">
            <h4 class="text-white tw-mb-9">Send Your Message</h4>
            <form action="#">
              <div class="row g-40-px">
                <div class="col-sm-6">
                  <div class="">
                    <label
                      for="name"
                      class="tw-text-sm text-white tw-mb-2 d-block"
                      >Name</label
                    >
                    <input
                      type="text"
                      id="name"
                      class="bg-white tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                      placeholder="Your name"
                    >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="">
                    <label
                      for="email"
                      class="tw-text-sm text-white tw-mb-2 d-block"
                      >Your Email</label
                    >
                    <input
                      type="email"
                      id="email"
                      class="bg-white tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                      placeholder="Your Email"
                    >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="">
                    <label
                      for="tel"
                      class="tw-text-sm text-white tw-mb-2 d-block"
                      >Phone</label
                    >
                    <input
                      type="text"
                      id="tel"
                      class="bg-white tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                      placeholder="Your phone"
                    >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="">
                    <label
                      for="department"
                      class="tw-text-sm text-white tw-mb-2 d-block"
                      >Department</label
                    >
                    <select
                      class="bg-white tw-px-6 tw-py-4 tw-rounded-md w-100"
                      id="department"
                    >
                      <option value="1">English</option>
                      <option value="1">Science</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="">
                    <label
                      for="message"
                      class="tw-text-sm text-white tw-mb-2 d-block"
                      >Your message</label
                    >
                    <textarea
                      id="message"
                      class="bg-white tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100 tw-min-h-150-px"
                      placeholder="Write your message..."
                    ></textarea>
                  </div>
                </div>

                <div class="col-12 d-inline-block">
                  <button
                    type="submit"
                    class="btn btn-main hover-style-one group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Get Started</span>
                    <span
                      class="tw-text-lg tw-leading-none z-1 position-relative"
                    >
                      <img
                        src="assets/images/icons/arrow-right-white.png"
                        alt="Arrow"
                        class="group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
                      >
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="500"
      >
        <div
          class="bg-main-600 tw-rounded-xl overflow-hidden position-relative z-1 tw-p-10 h-100 d-flex flex-column justify-content-between tw-gap-6"
        >
          <div class="">
            <div class="position-relative tw-pb-5 d-inline-block">
              <h5 class="text-white d-inline-block">Contact Information</h5>
              <span
                class="tw-h-1 bg-main-two-600 w-50 position-absolute tw-start-0 bottom-0"
              ></span>
            </div>
            <p class="text-white tw-text-lg">
              Snake mackerel upside-down catfish finback cat shark. Reedfish
              trahira bristlenose catfish.
            </p>
          </div>
          <div class="d-flex flex-column tw-gap-10">
            <div class="d-flex align-items-center tw-gap-6">
              <span
                class="tw-h-17 tw-w-17 bg-white rounded-circle d-flex justify-content-center flex-shrink-0 align-items-center"
              >
                <img src="assets/images/icons/phone.png" alt="Icon" >
              </span>
              <div class="">
                <span class="tw-text-sm text-white d-block">Call Us</span>
                <a href="#" class="h6 text-white fw-medium hover-underline"
                  >+49 (03) 9834 939 99</a
                >
              </div>
            </div>
            <div class="d-flex align-items-center tw-gap-6">
              <span
                class="tw-h-17 tw-w-17 bg-white rounded-circle d-flex justify-content-center flex-shrink-0 align-items-center"
              >
                <img src="assets/images/icons/envelop.png" alt="Icon" >
              </span>
              <div class="">
                <span class="tw-text-sm text-white d-block">Send Email</span>
                <a href="#" class="h6 text-white fw-medium hover-underline"
                  >yordomain@gmial.com</a
                >
              </div>
            </div>
            <div class="d-flex align-items-center tw-gap-6">
              <span
                class="tw-h-17 tw-w-17 bg-white rounded-circle d-flex justify-content-center flex-shrink-0 align-items-center"
              >
                <img src="assets/images/icons/location.png" alt="Icon" >
              </span>
              <div class="">
                <span class="tw-text-sm text-white d-block">Location</span>
                <p class="h6 text-white fw-medium">
                  2702 Memory Lane Chicago 53755 NY, USA
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======================== Get In Touch section end =========================== -->
