<!-- ==================== Header Start Here ==================== -->
<header class="header tw-transition-all tw-z-99 @@headerClass">
  <div class="container max-w-1520-px">
    <nav
      class="d-flex align-items-center justify-content-between position-relative"
    >
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img
            src="assets/images/logo/logo.png"
            alt="Logo"
            class="max-w-200-px"
          >
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-lg-block d-none">
        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
      <div class="d-lg-block d-none tw-ms-12">
        <div class="d-flex align-items-center tw-gap-6 flex-shrink-0">
          <div class="d-flex align-items-center tw-gap-1 d-lg-flex d-none">
            <a
              href="contact.html"
              class="fw-semibold text-white text-decoration-underline tw-text-lg hover-underline-none"
              >Let's Talk
            </a>
            <img
              src="assets/images/icons/greettings-hand.png"
              alt="Icon"
              class="animate-hand-move tw-mb-2"
            >
          </div>
          <span class="border-line tw-w-px tw-h-9 bg-white-54 d-lg-flex d-none"></span>
          <div class="d-flex align-items-center tw-gap-2">
            <a
              href="tel:(234)534-890-11"
              class="tw-w-9 tw-h-9 bg-main-two-600 text text-heading tw-text-xl d-flex justify-content-center align-items-center rounded-circle hover-bg-main-two-800 hover-text-heading"
            >
              <i class="ph-fill ph-phone"></i>
            </a>
            <a
              href="tel:(234)534-890-11"
              class="text-white fw-semibold tw-text-base hover-underline"
              >(234) 534-890-11</a
            >
          </div>
        </div>
      </div>
      <button
        type="button"
        class="toggle-mobileMenu leading-none d-lg-none ms-3 text-white tw-text-9"
      >
        <i class="ph ph-list"></i>
      </button>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
