<!-- ==================== Header Two Start Here ==================== -->
<header class="header tw-transition-all tw-z-99 @@headerClass">
  <div class="container max-w-1520-px">
    <nav
      class="d-flex align-items-center justify-content-between position-relative"
    >
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img
            src="assets/images/logo/logo-two.png"
            alt="Logo"
            class="max-w-200-px"
          >
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-lg-block d-none">
        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
      <div class="d-lg-block d-none tw-ms-12">
        <div class="d-flex align-items-center tw-gap-6">
          <button
            type="button"
            class="search-popup__button tw-text-2xl tw-leading-none text-heading hover-text-main-600"
          >
            <i class="ph-bold ph-magnifying-glass"></i>
          </button>
          <span class="tw-w-px tw-h-96-px bg-main-50"></span>
          <div class="d-flex align-items-center tw-gap-5">
            <span class="text-main-600 text-36-px tw-leading-none">
              <i class="ph ph-phone-call"></i>
            </span>
            <div class="">
              <span class="text-neutral-500 d-block tw-mb-1"
                >Call Emergency</span
              >
              <a
                href="tel:(635)52584250"
                class="tw-text-lg text-heading fw-bold hover-underline hover-text-main-600"
                >(635) 5258-4250</a
              >
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="toggle-mobileMenu leading-none d-lg-none ms-3 text-heading tw-text-9 tw-duration-300"
      >
        <i class="ph ph-list"></i>
      </button>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header Two End Here ==================== -->
