<!-- ==================== Marketing Growth section start ============================= -->
<section class="marketing-growth-new-two py-140 position-relative z-1">
    <div class="scale-up-wrapper position-absolute top-0 tw-start-0 w-100 h-100 z-n1">
        <img src="assets/images/bg/marketing-growth-new-two-bg.png" class="w-100 h-100 object-fit-cover scale-up__img"
            loading="lazy" alt="Agency Thumbnail Image">
    </div>
    <div class="max-w-780-px text-center mx-auto tw-mb-100-px">
        <h3 class="h1 text-white">Achieve Marketing </h3>
        <div class="d-flex align-items-center justify-content-center tw-gap-42-px">
            <h3 class="h1 text-white flex-shrink-0 text-start">GROWTH</h3>
            <p class="text-white flex-grow-1 text-start max-w-280-px">Feugiat nibh sed pulvinar proin. Velit aliquet
                sagittis id consectetur purus ut. Tristique sollicitudin nibh.</p>
        </div>
    </div>

    <div class="container max-w-1680-px">
        <div class="row gy-4 item-animation-section">
            <div class="col-xl-3 col-sm-6">
                <div
                    class="bg-white-08 tw-p-40-px tw-rounded-xl h-100 animation-item backdrop-filter-26-px border border-neutral-600 d-flex flex-column tw-gap-10 justify-content-between hover-bg-main-two-600 hover-border-main-two-600 tw-duration-300 group group-item">
                    <div class="">
                        <span class="tw-mb-6">
                            <img src="assets/images/logo/google-logo.png" loading="lazy" alt="Google Logo"
                                class="tw-duration-300 group-hover-item-text-invert-black animate__heartBeat">
                        </span>
                        <h3 class="text-white group-hover-text-heading tw-duration-300 h2">4.9</h3>
                        <p class="text-uppercase text-white group-hover-text-heading tw-duration-300 tw-mt-2">client
                            reviews</p>
                    </div>
                    <div class="">
                        <p class="text-white group-hover-text-heading tw-duration-300">We develop strategies that align
                            with your business goals, clear objectives and actionable steps to build.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div
                    class="bg-white-08 tw-p-40-px tw-rounded-xl h-100 animation-item backdrop-filter-26-px border border-neutral-600 d-flex flex-column tw-gap-10 justify-content-between hover-bg-main-two-600 hover-border-main-two-600 tw-duration-300 group group-item item-animation-down sm-transalte-y-0">
                    <div class="">
                        <span class="tw-mb-6">
                            <img src="assets/images/shapes/fingure.png" loading="lazy" alt="Fingure Logo"
                                class="tw-duration-300 group-hover-item-text-invert-black animation-rotate-right">
                        </span>
                    </div>
                    <div class="">
                        <h3 class="text-white group-hover-text-heading tw-duration-300 h2">4838+</h3>
                        <p class="text-uppercase text-white group-hover-text-heading tw-duration-300 tw-mt-2">Projects
                            Completed</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div
                    class="bg-white-08 tw-p-40-px tw-rounded-xl h-100 animation-item backdrop-filter-26-px border border-neutral-600 d-flex flex-column tw-gap-10 justify-content-between hover-bg-main-two-600 hover-border-main-two-600 tw-duration-300 group group-item">
                    <div class="">
                        <h3 class="text-white group-hover-text-heading tw-duration-300 h2">230$</h3>
                        <p class="text-uppercase text-white group-hover-text-heading tw-duration-300 tw-mt-2">Projects
                            Completed</p>
                    </div>
                    <div class="">
                        <p class="text-white group-hover-text-heading tw-duration-300">We develop strategies that align
                            with your business goals, clear objectives and actionable steps to build.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div
                    class="bg-white-08 tw-p-40-px tw-rounded-xl h-100 animation-item backdrop-filter-26-px border border-neutral-600 d-flex flex-column tw-gap-10 justify-content-between hover-bg-main-two-600 hover-border-main-two-600 tw-duration-300 group group-item item-animation-down sm-transalte-y-0">
                    <div class="">
                        <span class="tw-mb-6">
                            <img src="assets/images/shapes/line-round.png" loading="lazy" alt="Line Logo"
                                class="tw-duration-300 group-hover-item-text-invert-black animate__heartBeat">
                        </span>
                    </div>
                    <div class="">
                        <h3 class="text-white group-hover-text-heading tw-duration-300 h2">67K</h3>
                        <p class="text-uppercase text-white group-hover-text-heading tw-duration-300 tw-mt-2">product
                            launch</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Marketing Growth section end ============================= -->