<!-- ======================== Marquee section start =========================== -->
<div class="marquee pb-120">
  <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img1.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px">MARKETING</h2>
    </div>
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img2.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px text-stroke">AGENCY</h2>
    </div>
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img3.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px text-stroke">SEO</h2>
    </div>
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img4.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px text-stroke">ANALYSIS</h2>
    </div>
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img5.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px text-stroke">E-commerce</h2>
    </div>
  </div>

  <div
    class="marquee_right d-flex align-items-center tw-gap-16 overflow-hidden"
  >
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img1.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px">MARKETING</h2>
    </div>
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img2.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px text-stroke">AGENCY</h2>
    </div>
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img3.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px text-stroke">SEO</h2>
    </div>
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img4.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px text-stroke">ANALYSIS</h2>
    </div>
    <div class="d-flex align-items-center tw-gap-10 animation-item">
      <img
        src="assets/images/icons/marquee-img5.png"
        alt="Icon"
        class="animate__swing"
      />
      <h2 class="text-uppercase text-64-px text-stroke">E-commerce</h2>
    </div>
  </div>
</div>
<!-- ======================== Marquee section end =========================== -->
