<!-- =========================== Mission vision section start =============================== -->
<section class="mission-vision @@sectionClass">
  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-7">
        <div class="">
          <div class="max-w-630-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="0">
            <span class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
              Our Value</span>
            <h2 class="splitTextStyleOne cursor-big text-48-px">
              The Secret Weapon For Your
              <span class="font-playfair fw-normal font-playfair fst-italic">Business Success</span>
            </h2>
            <p class="text-neutral-500 tw-text-lg tw-mt-6">
              Your brand deserves more than just attention—it deserves results.
              That's why we offer end-to-end creative services that help you
              engage your audience.
            </p>
            <p class="text-neutral-500 tw-text-lg tw-mt-8">
              We are committed to creating healthy, beautiful smiles in a
              comfortable and caring environment. With a team of experienced
              dentists, modern equipment, and personalized treatment plans,
            </p>
          </div>
          <div class="tw-mt-11 d-flex align-items-center tw-gap-8 flex-wrap" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            <a href="about.html"
              class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill group-item"
              data-block="button">
              <span class="button__flair"></span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                <i class="ph-bold ph-caret-right"></i>
              </span>
              <span class="button__label">More About us</span>
            </a>
            <div class="d-flex align-items-center tw-gap-4">
              <div class="">
                <img src="assets/images/thumbs/ceo-img.png" alt="Image"
                  class="tw-h-17 tw-h-17 rounded-circle object-fit-cover">
              </div>
              <div class="d-flex flex-column tw-gap-1">
                <img src="assets/images/thumbs/ceo-signature.png" alt="Signature Image">
                <span class="text-neutral-500 fw-medium">CEO, of SEO7</span>
              </div>
            </div>
          </div>
          <div class="tw-mt-17 position-relative max-w-630-px" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            <figure class="hover-animation-white split-reveal position-relative overflow-hidden h-100">
              <img src="assets/images/thumbs/mission-vision-img.png" alt="Thumb"
                class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="">
          <div class="">
            <div class="d-inline-block tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
              <ul
                class="nav nav-pills animate-background-wrapper activeTextBlackUnderline tw-gap-2 justify-content-start position-relative z-1 border border-neutral-600 tw-rounded-xl"
                id="pills-tabThree" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link text-capitalize fw-semibold tw-text-base text-neutral-400 hover-text-heading bg-transparent hover-text-main-600 tw-py-305 tw-px-8 active"
                    id="pills-mission-two-tab" data-bs-toggle="pill" data-bs-target="#pills-mission-two" type="button"
                    role="tab" aria-controls="pills-mission-two" aria-selected="true">
                    Our Mission
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link text-capitalize fw-semibold tw-text-base text-neutral-400 hover-text-heading bg-transparent hover-text-main-600 tw-py-305 tw-px-8"
                    id="pills-vision-tab" data-bs-toggle="pill" data-bs-target="#pills-vision" type="button" role="tab"
                    aria-controls="pills-vision" aria-selected="false">
                    Our Vision
                  </button>
                </li>
                <li class="animate-background"></li>
              </ul>
            </div>
          </div>

          <div class="tab-content" id="pills-tabThreeContentTwo">
            <div class="tab-pane fad show active" id="pills-mission-two" role="tabpanel"
              aria-labelledby="pills-mission-two-tab" tabindex="0">
              <div class="">
                <p class="text-neutral-500 tw-text-lg" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                  Our exceptional and experienced staff is dedicated to
                  improving our patients' dental health and enhancing smiles.
                  Experienced staff is dedicated to improving our patients
                </p>
                <div class="tw-mt-11" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                  <div class="row gy-4">
                    <div class="col-sm-5">
                      <div class="d-flex flex-column tw-gap-4">
                        <div class="d-flex align-items-center tw-gap-2">
                          <span class="text-main-600 tw-text-lg tw-leading-none">
                            <i class="ph-bold ph-check"></i>
                          </span>
                          <span class="tw-text-lg text-neutral-500">Audience Analytic</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2">
                          <span class="text-main-600 tw-text-lg tw-leading-none">
                            <i class="ph-bold ph-check"></i>
                          </span>
                          <span class="tw-text-lg text-neutral-500">Social Branding
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-7">
                      <div class="d-flex flex-column tw-gap-4">
                        <div class="d-flex align-items-center tw-gap-2">
                          <span class="text-main-600 tw-text-lg tw-leading-none">
                            <i class="ph-bold ph-check"></i>
                          </span>
                          <span class="tw-text-lg text-neutral-500">Content Creation</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2">
                          <span class="text-main-600 tw-text-lg tw-leading-none">
                            <i class="ph-bold ph-check"></i>
                          </span>
                          <span class="tw-text-lg text-neutral-500">Advanced Technology</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative tw-mt-12 w-100" data-aos="fade-up" data-aos-duration="800"
                  data-aos-delay="100">
                  <figure class="hover-animation-white split-reveal position-relative overflow-hidden h-100">
                    <img src="assets/images/thumbs/mission-vision-img2.png" alt="Thumb"
                      class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left">
                  </figure>
                </div>
                <div class="d-flex align-items-center tw-gap-52-px flex-wrap tw-mt-14">
                  <div class="counter-four-item d-flex align-items-center tw-gap-5 animation-item" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="100">
                    <span
                      class="tw-h-84-px tw-w-84-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                      <img src="assets/images/icons/counter-four-icon1.png" alt="Icon" class="animate__wobble">
                    </span>
                    <div class="">
                      <h3 class="counter h2 cursor-big">32+</h3>
                      <span class="text-capitalize text-neutral-600 fw-medium tw-mt-1">Awards Winning</span>
                    </div>
                  </div>
                  <div class="counter-four-item d-flex align-items-center tw-gap-5 animation-item" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="100">
                    <span
                      class="tw-h-84-px tw-w-84-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                      <img src="assets/images/icons/counter-four-icon2.png" alt="Icon" class="animate__wobble">
                    </span>
                    <div class="">
                      <h3 class="counter h2 cursor-big">32+</h3>
                      <span class="text-capitalize text-neutral-600 fw-medium tw-mt-1">Awards Winning</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fad" id="pills-vision" role="tabpanel" aria-labelledby="pills-vision-tab" tabindex="0">
              <div class="">
                <p class="text-neutral-500 tw-text-lg" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                  Our exceptional and experienced staff is dedicated to
                  improving our patients' dental health and enhancing smiles.
                  Our patients' well-trained staff is committed to improving
                </p>
                <div class="tw-mt-11" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                  <div class="row gy-4">
                    <div class="col-sm-5">
                      <div class="d-flex flex-column tw-gap-4">
                        <div class="d-flex align-items-center tw-gap-2">
                          <span class="text-main-600 tw-text-lg tw-leading-none">
                            <i class="ph-bold ph-check"></i>
                          </span>
                          <span class="tw-text-lg text-neutral-500">Audience Insights</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2">
                          <span class="text-main-600 tw-text-lg tw-leading-none">
                            <i class="ph-bold ph-check"></i>
                          </span>
                          <span class="tw-text-lg text-neutral-500">Digital Brand Presence
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-7">
                      <div class="d-flex flex-column tw-gap-4">
                        <div class="d-flex align-items-center tw-gap-2">
                          <span class="text-main-600 tw-text-lg tw-leading-none">
                            <i class="ph-bold ph-check"></i>
                          </span>
                          <span class="tw-text-lg text-neutral-500">Creative Content Development</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2">
                          <span class="text-main-600 tw-text-lg tw-leading-none">
                            <i class="ph-bold ph-check"></i>
                          </span>
                          <span class="tw-text-lg text-neutral-500">Innovative Technology</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative tw-mt-12 w-100" data-aos="fade-up" data-aos-duration="800"
                  data-aos-delay="100">
                  <figure class="hover-animation-white split-reveal position-relative overflow-hidden h-100">
                    <img src="assets/images/thumbs/mission-vision-img2.png" alt="Thumb"
                      class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left">
                  </figure>
                </div>
                <div class="d-flex align-items-center tw-gap-52-px flex-wrap tw-mt-14">
                  <div class="counter-four-item d-flex align-items-center tw-gap-5 animation-item" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="100">
                    <span
                      class="tw-h-84-px tw-w-84-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                      <img src="assets/images/icons/counter-four-icon1.png" alt="Icon" class="animate__wobble">
                    </span>
                    <div class="">
                      <h3 class="counter h2">32+</h3>
                      <span class="text-capitalize text-neutral-600 fw-medium tw-mt-1">Awards Winning</span>
                    </div>
                  </div>
                  <div class="counter-four-item d-flex align-items-center tw-gap-5 animation-item" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="100">
                    <span
                      class="tw-h-84-px tw-w-84-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                      <img src="assets/images/icons/counter-four-icon2.png" alt="Icon" class="animate__wobble">
                    </span>
                    <div class="">
                      <h3 class="counter h2">32+</h3>
                      <span class="text-capitalize text-neutral-600 fw-medium tw-mt-1">Awards Winning</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =========================== Mission vision section end =============================== -->