<!-- =========================== Mission vision section start =============================== -->
<section class="mission-vision py-120">
  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-7">
        <div class="">
          <div
            class="max-w-630-px"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="0"
          >
            <span
              class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
            >
              About Our Company</span
            >
            <h2 class="splitTextStyleOne cursor-big text-48-px">
              The Secret Weapon For Your
              <span class="font-playfair fw-normal font-playfair fst-italic"
                >Business Success</span
              >
            </h2>
            <p class="text-neutral-500 tw-text-lg tw-mt-6">
              Your brand deserves more than just attention—it deserves results.
              That's why we offer end-to-end creative services that help you
              engage your audience.
            </p>
            <p class="text-neutral-500 tw-text-lg tw-mt-8">
              We are committed to creating healthy, beautiful smiles in a
              comfortable and caring environment. With a team of experienced
              dentists, modern equipment, and personalized treatment plans,
            </p>
          </div>
          <div class="tw-mt-11 d-flex align-items-center tw-gap-8 flex-wrap">
            <a
              href="contact.html"
              class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill group-item"
              data-block="button"
            >
              <span class="button__flair"></span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
              >
                <i class="ph-bold ph-caret-right"></i>
              </span>
              <span class="button__label">More About us</span>
            </a>
            <div class="d-flex align-items-center tw-gap-4">
              <div class="">
                <img
                  src="assets/images/thumbs/ceo-img.png"
                  alt="Image"
                  class="tw-h-17 tw-h-17 rounded-circle object-fit-cover"
                />
              </div>
              <div class="d-flex flex-column tw-gap-1">
                <img
                  src="assets/images/thumbs/ceo-signature.png"
                  alt="Signature Image"
                />
                <span class="text-neutral-500 fw-medium">CEO, of SEO7</span>
              </div>
            </div>
          </div>
          <div class="tw-mt-17 position-relative">
            <figure
              class="hover-animation-white split-reveal position-relative overflow-hidden h-100"
            >
              <img
                src="assets/images/thumbs/mission-vision-img.png"
                alt="Thumb"
                class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left"
              />
            </figure>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class=""></div>
      </div>
    </div>
  </div>
</section>
<!-- =========================== Mission vision section end =============================== -->
