<!-- ============================ Our Project section start ================================ -->
<section class="py-120 position-relative z-1 bg-black overflow-hidden">
  <img src="assets/images/bg/project-gradient-bg.png" alt="Background Image"
    class="position-absolute top-0 tw-start-0 h-100 w-100 z-n1">
  <!-- Section heading start -->
  <div class="section-heading max-w-890-px mx-auto text-center tw-mb-17" data-aos="fade-up" data-aos-duration="800"
    data-aos-delay="100">
    <span class="bg-white-08 text-main-two-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
      Our Projects</span>
    <h2 class="text-white splitTextStyleOne cursor-big">
      See How We've Transformed
      <span class="font-playfair fw-normal fst-italic">Brands Online</span>
    </h2>
  </div>
  <!-- Section heading end -->

  <div class="position-relative z-1">
    <div class="swiper project-slider tw-pt-10">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="image-double-animation bg-white tw-rounded-xl tw-p-24-px d-flex tw-gap-52-px flex-column flex-lg-row mx-3 mx-sm-0"
            data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            <a href="project-details.html" class="position-relative overflow-hidden tw-rounded-2xl view-cursor-show">
              <img src="assets/images/thumbs/project-img1.png" alt="Image"
                class="image-double-animation__element tw-rounded-2xl w-100 h-100 object-fit-cover">
              <img src="assets/images/thumbs/project-img1.png" alt="Image"
                class="image-double-animation__element tw-rounded-2xl w-100 h-100 object-fit-cover">
            </a>
            <div class="align-self-center">
              <span
                class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium tw-mb-6">Marketing</span>
              <h4 class="splitTextStyleOne cursor-big">
                Article Data Analysis
              </h4>
              <p class="tw-text-lg text-neutral-500 tw-mt-4 max-w-510-px line-clamp-3">
                Marketing agency committed to helping businesses grow online.
                With a team of skilled strategists, designers.
              </p>
              <div class="tw-mt-12">
                <a href="project-details.html"
                  class="btn btn-main-outline hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill tw-py-305"
                  data-block="button">
                  <span class="button__flair"></span>
                  <span class="button__label">View Details</span>
                  <span class="tw-text-lg tw-leading-none z-1 position-relative">
                    <i class="ph ph-arrow-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="image-double-animation bg-white tw-rounded-xl tw-p-24-px d-flex tw-gap-52-px flex-column flex-lg-row mx-3 mx-sm-0"
            data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <a href="project-details.html" class="position-relative overflow-hidden tw-rounded-2xl view-cursor-show">
              <img src="assets/images/thumbs/project-img2.png" alt="Image"
                class="image-double-animation__element tw-rounded-2xl w-100 h-100 object-fit-cover">
              <img src="assets/images/thumbs/project-img2.png" alt="Image"
                class="image-double-animation__element tw-rounded-2xl w-100 h-100 object-fit-cover">
            </a>
            <div class="align-self-center">
              <span
                class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium tw-mb-6">Marketing</span>
              <h4 class="splitTextStyleOne cursor-big">
                Article Data Analysis
              </h4>
              <p class="tw-text-lg text-neutral-500 tw-mt-4 max-w-510-px line-clamp-3">
                Marketing agency committed to helping businesses grow online.
                With a team of skilled strategists, designers.
              </p>
              <div class="tw-mt-12">
                <a href="project-details.html"
                  class="btn btn-main-outline hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill tw-py-305"
                  data-block="button">
                  <span class="button__flair"></span>
                  <span class="button__label">View Details</span>
                  <span class="tw-text-lg tw-leading-none z-1 position-relative">
                    <i class="ph ph-arrow-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="image-double-animation bg-white tw-rounded-xl tw-p-24-px d-flex tw-gap-52-px flex-column flex-lg-row mx-3 mx-sm-0"
            data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
            <a href="project-details.html" class="position-relative overflow-hidden tw-rounded-2xl view-cursor-show">
              <img src="assets/images/thumbs/project-img3.png" alt="Image"
                class="image-double-animation__element tw-rounded-2xl w-100 h-100 object-fit-cover">
              <img src="assets/images/thumbs/project-img3.png" alt="Image"
                class="image-double-animation__element tw-rounded-2xl w-100 h-100 object-fit-cover">
            </a>
            <div class="align-self-center">
              <span
                class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium tw-mb-6">Marketing</span>
              <h4 class="splitTextStyleOne cursor-big">
                Article Data Analysis
              </h4>
              <p class="tw-text-lg text-neutral-500 tw-mt-4 max-w-510-px line-clamp-3">
                Marketing agency committed to helping businesses grow online.
                With a team of skilled strategists, designers.
              </p>
              <div class="tw-mt-12">
                <a href="project-details.html"
                  class="btn btn-main-outline hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill tw-py-305"
                  data-block="button">
                  <span class="button__flair"></span>
                  <span class="button__label">View Details</span>
                  <span class="tw-text-lg tw-leading-none z-1 position-relative">
                    <i class="ph ph-arrow-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="image-double-animation bg-white tw-rounded-xl tw-p-24-px d-flex tw-gap-52-px flex-column flex-lg-row mx-3 mx-sm-0"
            data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            <a href="project-details.html" class="position-relative overflow-hidden tw-rounded-2xl view-cursor-show">
              <img src="assets/images/thumbs/project-img2.png" alt="Image"
                class="image-double-animation__element tw-rounded-2xl w-100 h-100 object-fit-cover">
              <img src="assets/images/thumbs/project-img2.png" alt="Image"
                class="image-double-animation__element tw-rounded-2xl w-100 h-100 object-fit-cover">
            </a>
            <div class="align-self-center">
              <span
                class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium tw-mb-6">Marketing</span>
              <h4 class="splitTextStyleOne cursor-big">
                Article Data Analysis
              </h4>
              <p class="tw-text-lg text-neutral-500 tw-mt-4 max-w-510-px line-clamp-3">
                Marketing agency committed to helping businesses grow online.
                With a team of skilled strategists, designers.
              </p>
              <div class="tw-mt-12">
                <a href="project-details.html"
                  class="btn btn-main-outline hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill tw-py-305"
                  data-block="button">
                  <span class="button__flair"></span>
                  <span class="button__label">View Details</span>
                  <span class="tw-text-lg tw-leading-none z-1 position-relative">
                    <i class="ph ph-arrow-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination style-one bottom-0"></div>
    </div>
  </div>
</section>
<!-- ============================ Our Project section end ================================ -->