<!-- ======================= Pricing Plan new section start =========================== -->
<section class="pricing-plan-new py-140">
    <div class="container">
        <div class="text-center tw-mb-100-px max-w-780-px mx-auto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <h1 class="fw-bold text-white text-uppercase">Special offer! choose your pack today</h1>
        </div>
        
        <div class="row gy-4">
            <div class="col-xl-4 col-sm-6">
                <div class="pricing-plan-new-item tw-p-54-px bg-white">
                    <span class="text-uppercase tw-text-lg fw-bold text-heading tw-mb-2">BASIC PLAN</span>
                    <h4 class="h2">$25.00</h4>
                    <p class="text-neutral-500 tw-mt-4">We develop strategies that align with your business goals,
                        defining clear.</p>
                    <ul class="tw-mt-6 d-flex flex-column tw-gap-4">
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">Unlimited cards</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">Automated management</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">SOX compliance</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">Enterprise ERP integrations</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">Limited tools</span>
                        </li>
                    </ul>
                    <div class="tw-mt-9">
                        <a href="contact.html"
                            class="btn btn-main-two hover-style-three group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Buy Now</span>
                            <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                                <img src="assets/images/icons/arrow-right.png" alt="Arrow"
                                    class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="pricing-plan-new-item tw-p-54-px bg-main-two-600 tw--mt-32-px">
                    <span class="text-uppercase tw-text-lg fw-bold text-heading tw-mb-2">ADVANCED PLAN</span>
                    <h4 class="h2">$45.00</h4>
                    <p class="text-neutral-700 tw-mt-4">We develop strategies that align with your business goals,
                        defining clear.</p>
                    <ul class="tw-mt-6 d-flex flex-column tw-gap-4">
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-700 fw-medium">Unlimited cards</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-700 fw-medium">Automated management</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-700 fw-medium">SOX compliance</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-700 fw-medium">Enterprise ERP integrations</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-700 fw-medium">Limited tools</span>
                        </li>
                    </ul>
                    <div class="tw-mt-9">
                        <a href="contact.html"
                            class="btn btn-black hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Buy Now</span>
                            <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                                <img src="assets/images/icons/arrow-right-white.png" alt="Arrow"
                                    class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="pricing-plan-new-item tw-p-54-px bg-white">
                    <span class="text-uppercase tw-text-lg fw-bold text-heading tw-mb-2">PREMIUM PLAN</span>
                    <h4 class="h2">$99.00</h4>
                    <p class="text-neutral-500 tw-mt-4">We develop strategies that align with your business goals,
                        defining clear.</p>
                    <ul class="tw-mt-6 d-flex flex-column tw-gap-4">
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">Unlimited cards</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">Automated management</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">SOX compliance</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">Enterprise ERP integrations</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-105">
                            <img src="assets/images/icons/check-icon-new.png" alt="Check Icon">
                            <span class="text-neutral-600 fw-medium">Limited tools</span>
                        </li>
                    </ul>
                    <div class="tw-mt-9">
                        <a href="contact.html"
                            class="btn btn-main-two hover-style-three group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Buy Now</span>
                            <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                                <img src="assets/images/icons/arrow-right.png" alt="Arrow"
                                    class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Pricing Plan new section end =========================== -->