<!-- ========================= pricing plan two section start =============================== -->
<section class="pricing-plan-two py-120">
  <div class="container">
    <!-- Section heading start -->
    <div class="max-w-680-px text-center mx-auto tw-mb-10" data-aos="fade-up" data-aos-duration="800"
      data-aos-delay="100">
      <span class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
        Our Pricing Plan</span>
      <h2 class="splitTextStyleOne cursor-big">
        Fair, Simple
        <span class="font-playfair fw-normal font-playfair fst-italic">Start Pricing</span>
      </h2>
    </div>
    <!-- Section heading end -->

    <div class="row g-0 align-items-center pricing-plan-two-wrapper">
      <div class="col-xl-4 col-md-6 p-0 pricing-plan-two-item">
        <div class="tw-p-48-px bg-white tw-rounded-32-px common-shadow-3 border border-neutral-200">
          <h6 class="text-22-px tw-mb-5">Basic Plan</h6>
          <p class="text-neutral-500 fw-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus.
          </p>

          <div class="tw-mt-8 d-flex align-items-end tw-gap-1">
            <h2 class="cursor-big">$239</h2>
            <span class="text-neutral-600 fw-medium tw-mb-2"> / Per Month</span>
          </div>
          <div class="d-flex flex-column tw-gap-5 tw-mt-11">
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">Flexible Subscription</span>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">Customizable Service Packages</span>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">24/7 Support Included</span>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">No Hidden Fees </span>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">Cancel Anytime, No Penalties</span>
            </div>
          </div>
          <div class="tw-mt-8">
            <a href="contact.html"
              class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
              data-block="button">
              <span class="button__flair"></span>
              <span class="button__label">Get Started</span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                <i class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 p-0 pricing-plan-two-item">
        <div class="tw-rounded-32-px common-shadow-3 border border-main-two-600 overflow-hidden">
          <div class="text-center bg-main-two-600 tw-py-2 tw-px-4">
            <span class="text-heading fw-semibold tw-text-lg">Most Popular</span>
          </div>
          <div class="tw-p-48-px bg-white">
            <h6 class="text-22-px tw-mb-5">Advanced Plan</h6>
            <p class="text-neutral-500 fw-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus.
            </p>

            <div class="tw-mt-8 d-flex align-items-end tw-gap-1">
              <h2 class="cursor-big">$439</h2>
              <span class="text-neutral-600 fw-medium tw-mb-2">
                / Per Month</span>
            </div>
            <div class="d-flex flex-column tw-gap-5 tw-mt-11">
              <div class="d-flex align-items-center tw-gap-2">
                <span
                  class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="tw-text-lg text-neutral-600">Flexible Subscription</span>
              </div>
              <div class="d-flex align-items-center tw-gap-2">
                <span
                  class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="tw-text-lg text-neutral-600">Customizable Service Packages</span>
              </div>
              <div class="d-flex align-items-center tw-gap-2">
                <span
                  class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="tw-text-lg text-neutral-600">24/7 Support Included</span>
              </div>
              <div class="d-flex align-items-center tw-gap-2">
                <span
                  class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="tw-text-lg text-neutral-600">No Hidden Fees </span>
              </div>
              <div class="d-flex align-items-center tw-gap-2">
                <span
                  class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="tw-text-lg text-neutral-600">Cancel Anytime, No Penalties</span>
              </div>
              <div class="d-flex align-items-center tw-gap-2">
                <span
                  class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="tw-text-lg text-neutral-600">Free Platform Access</span>
              </div>
            </div>
            <div class="tw-mt-8">
              <a href="contact.html"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">Get Started</span>
                <span
                  class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                  <i class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 p-0 pricing-plan-two-item">
        <div class="tw-p-48-px bg-white tw-rounded-32-px common-shadow-3 border border-neutral-200">
          <h6 class="text-22-px tw-mb-5">Premium Plan</h6>
          <p class="text-neutral-500 fw-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus.
          </p>

          <div class="tw-mt-8 d-flex align-items-end tw-gap-1">
            <h2 class="cursor-big">$999</h2>
            <span class="text-neutral-600 fw-medium tw-mb-2"> / Per Month</span>
          </div>
          <div class="d-flex flex-column tw-gap-5 tw-mt-11">
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">Flexible Subscription</span>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">Customizable Service Packages</span>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">24/7 Support Included</span>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">No Hidden Fees </span>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
              <span
                class="tw-w-4 tw-h-4 bg-main-600 tw-text-xs text-white d-flex justify-content-center align-items-center rounded-circle flex-shrink-0">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="tw-text-lg text-neutral-600">Cancel Anytime, No Penalties</span>
            </div>
          </div>
          <div class="tw-mt-8">
            <a href="contact.html"
              class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
              data-block="button">
              <span class="button__flair"></span>
              <span class="button__label">Get Started</span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                <i class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= pricing plan two section end =============================== -->