<!-- =========================== Projects New Two section start =========================-->
<section class="projects-new-two py-140">
    <div class="container max-w-1720-px">
        <div class="text-center tw-mb-100-px max-w-890-px mx-auto aos-init aos-animate" data-aos="fade-up"
            data-aos-duration="1000" data-aos-delay="200">
            <h2 class="h1 fw-bold text-white text-uppercase">Driving Startup Success Through Projects.</h2>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up"
            data-aos-duration="1000" data-aos-delay="200">
                <div class="h-100">
                    <figure
                        class="hover-animation-white split-reveal position-relative overflow-hidden mb-0 scale-up-wrapper tw-rounded-xl">
                        <img src="assets/images/thumbs/projects-new-two-img1.png" loading="lazy" alt="About Image"
                            class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left scale-up__img">
                    </figure>
                    <div class="tw-pt-7">
                        <div class="d-flex align-items-center tw-gap-2">
                            <a href="javascript:void(0)"
                                class="tw-px-5 tw-py-1 border border-neutral-600 text-white fw-medium rounded-pill hover-bg-white hover-text-heading tw-duration-200">Marketing</a>
                            <a href="javascript:void(0)"
                                class="tw-px-5 tw-py-1 border border-neutral-600 text-white fw-medium rounded-pill hover-bg-white hover-text-heading tw-duration-200">Development</a>
                        </div>
                        <h3 class="h4 text-uppercase tw-mt-6">
                            <a href="project-details.html" class="text-white hover-text-main-two-600">Alma Brava Haven Rebrand</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-6" data-aos="fade-up"
            data-aos-duration="1000" data-aos-delay="400">
                <div class="h-100">
                    <figure
                        class="hover-animation-white split-reveal position-relative overflow-hidden mb-0 scale-up-wrapper tw-rounded-xl">
                        <img src="assets/images/thumbs/projects-new-two-img2.png" loading="lazy" alt="About Image"
                            class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left scale-up__img">
                    </figure>
                    <div class="tw-pt-7">
                        <div class="d-flex align-items-center tw-gap-2">
                            <a href="javascript:void(0)"
                                class="tw-px-5 tw-py-1 border border-neutral-600 text-white fw-medium rounded-pill hover-bg-white hover-text-heading tw-duration-200">Data</a>
                            <a href="javascript:void(0)"
                                class="tw-px-5 tw-py-1 border border-neutral-600 text-white fw-medium rounded-pill hover-bg-white hover-text-heading tw-duration-200">Media</a>
                        </div>
                        <h3 class="h4 text-uppercase tw-mt-6">
                            <a href="project-details.html" class="text-white hover-text-main-two-600">Multiple Data Sources</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-6" data-aos="fade-up"
            data-aos-duration="1000" data-aos-delay="200">
                <div class="h-100">
                    <figure
                        class="hover-animation-white split-reveal position-relative overflow-hidden mb-0 scale-up-wrapper tw-rounded-xl">
                        <img src="assets/images/thumbs/projects-new-two-img3.png" loading="lazy" alt="About Image"
                            class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left scale-up__img">
                    </figure>
                    <div class="tw-pt-7">
                        <div class="d-flex align-items-center tw-gap-2">
                            <a href="javascript:void(0)"
                                class="tw-px-5 tw-py-1 border border-neutral-600 text-white fw-medium rounded-pill hover-bg-white hover-text-heading tw-duration-200">Coding</a>
                            <a href="javascript:void(0)"
                                class="tw-px-5 tw-py-1 border border-neutral-600 text-white fw-medium rounded-pill hover-bg-white hover-text-heading tw-duration-200">Development</a>
                        </div>
                        <h3 class="h4 text-uppercase tw-mt-6">
                            <a href="project-details.html" class="text-white hover-text-main-two-600">Voice Typing System for coding</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up"
            data-aos-duration="1000" data-aos-delay="400">
                <div class="h-100">
                    <figure
                        class="hover-animation-white split-reveal position-relative overflow-hidden mb-0 scale-up-wrapper tw-rounded-xl">
                        <img src="assets/images/thumbs/projects-new-two-img4.png" loading="lazy" alt="About Image"
                            class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left scale-up__img">
                    </figure>
                    <div class="tw-pt-7">
                        <div class="d-flex align-items-center tw-gap-2">
                            <a href="javascript:void(0)"
                                class="tw-px-5 tw-py-1 border border-neutral-600 text-white fw-medium rounded-pill hover-bg-white hover-text-heading tw-duration-200">Artificial</a>
                            <a href="javascript:void(0)"
                                class="tw-px-5 tw-py-1 border border-neutral-600 text-white fw-medium rounded-pill hover-bg-white hover-text-heading tw-duration-200">Chatbot</a>
                        </div>
                        <h3 class="h4 text-uppercase tw-mt-6">
                            <a href="project-details.html" class="text-white hover-text-main-two-600">The AI-driven chatbot for solution</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Projects New Two section end =========================-->