<!-- =============================== project section start ================================= -->
<section class="project-new pb-140">
    <div class="container max-w-1700-px">
        <div class="text-center">
            <h3 class="display-1 fw-bold text-neutral-600 tw-leading-none letter-spacing--10-px tw--mb-70-px text-hover-animation-scale">PROJECTS</h3>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="project-new-item tw-p-40-px group-item position-relative z-1 overflow-hidden new-black">
                    <img src="assets/images/thumbs/project-new-img1.png" loading="lazy" alt="Project Image One"
                        class="w-100 h-100 object-fit-cover position-absolute top-0 tw-start-0 z-n1 filter-blur-20-px">
                    <span class="tw-mb-8">
                        <img src="assets/images/thumbs/project-logo1.png" loading="lazy" alt="Theme Logo">
                    </span>
                    <figure
                        class="mb-0 max-w-440-px tw-max-h-440-px rounded-circle border border-white overflow-hidden mx-auto aspect-ratio-1">
                        <img src="assets/images/thumbs/project-new-img1.png" loading="lazy" alt="Project Image One"
                            class="w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                    </figure>
                    <div class="tw-mt-8">
                        <span
                            class="bg-main-two-600 text-heading tw-px-5 tw-py-105 rounded-pill tw-text-sm">Marketing</span>
                        <h3 class="text-uppercase tw-mt-6 tw-leading-14">
                            <a href="project-details.html" class="text-white hover-text-main-two-600">creating dynamic
                                web interactions</a>
                        </h3>
                    </div>
                </div>
            </div>  
            <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="project-new-item tw-p-40-px group-item position-relative z-1 overflow-hidden new-black">
                    <img src="assets/images/thumbs/project-new-img2.png" loading="lazy" alt="Project Image Two"
                        class="w-100 h-100 object-fit-cover position-absolute top-0 tw-start-0 z-n1 filter-blur-20-px">
                    <span class="tw-mb-8">
                        <img src="assets/images/thumbs/project-logo2.png" loading="lazy" alt="Terra Logo">
                    </span>
                    <figure
                        class="mb-0 max-w-440-px tw-max-h-440-px rounded-circle border border-white overflow-hidden mx-auto aspect-ratio-1">
                        <img src="assets/images/thumbs/project-new-img2.png" loading="lazy" alt="Project Image Two"
                            class="w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                    </figure>
                    <div class="tw-mt-8">
                        <span
                            class="bg-main-two-600 text-heading tw-px-5 tw-py-105 rounded-pill tw-text-sm">Marketing</span>
                        <h3 class="text-uppercase tw-mt-6 tw-leading-14">
                            <a href="project-details.html" class="text-white hover-text-main-two-600">creating dynamic
                                web interactions</a>
                        </h3>
                    </div>
                </div>
            </div>  
            <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="project-new-item tw-p-40-px group-item position-relative z-1 overflow-hidden new-black">
                    <img src="assets/images/thumbs/project-new-img3.png" loading="lazy" alt="Project Image Two"
                        class="w-100 h-100 object-fit-cover position-absolute top-0 tw-start-0 z-n1 filter-blur-20-px">
                    <span class="tw-mb-8">
                        <img src="assets/images/thumbs/project-logo3.png" loading="lazy" alt="Spark Logo">
                    </span>
                    <figure
                        class="mb-0 max-w-440-px tw-max-h-440-px rounded-circle border border-white overflow-hidden mx-auto aspect-ratio-1">
                        <img src="assets/images/thumbs/project-new-img3.png" loading="lazy" alt="Project Image Two"
                            class="w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                    </figure>
                    <div class="tw-mt-8">
                        <span
                            class="bg-main-two-600 text-heading tw-px-5 tw-py-105 rounded-pill tw-text-sm">Marketing</span>
                        <h3 class="text-uppercase tw-mt-6 tw-leading-14">
                            <a href="project-details.html" class="text-white hover-text-main-two-600">creating dynamic
                                web interactions</a>
                        </h3>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
<!-- =============================== project section end ================================= -->