<!-- ============================= Project Two section start ================================ -->
<section
  class="project-two pt-120 position-relative z-1"
  data-aos="fade-up"
  data-aos-duration="800"
  data-aos-delay="100"
>
  <img
    src="assets/images/shapes/project-two-shape1.png"
    alt="Shape"
    class="project-two-shape-1 d-lg-block d-none position-absolute top-0 tw-start-0 animation-rotate-right animation-duration-40"
  >
  <img
    src="assets/images/shapes/project-two-shape2.png"
    alt="Shape"
    class="project-two-shape-2 d-lg-block d-none position-absolute top-0 tw-start-0 animation-scalation"
  >
  <img
    src="assets/images/shapes/project-two-shape3.png"
    alt="Shape"
    class="project-two-shape-3 d-lg-block d-none position-absolute top-0 tw-end-0 animated-upDown tw-mt-12 tw-me-8"
  >

  <div class="container">
    <!-- Section heading start -->
    <div
      class="max-w-780-px text-center mx-auto tw-mb-10"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="100"
    >
      <span
        class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
      >
        Our Projects
      </span>
      <h2 class="splitTextStyleOne cursor-big">
        See How We've Transformed
        <span class="font-playfair fw-normal font-playfair fst-italic"
          >Brands Online</span
        >
      </h2>
    </div>
    <!-- Section heading end -->
  </div>

  <div class="swiper project-two-slider tw-pt-12 pb-120">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="bg-white tw-rounded-xl tw-p-6 image-double-animation h-100 common-shadow-5"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="100"
        >
          <a
            href="project-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/project-two-img1.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
            <img
              src="assets/images/thumbs/project-two-img1.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
          </a>
          <div class="tw-pt-6">
            <h6 class="tw-mb-4">
              <a
                href="project-details.html"
                class="text-heading hover-text-main-600"
                >Article Data Analysis</a
              >
            </h6>
            <p class="text-neutral-500 fw-normal tw-text-lg">
              Marketing agency committed to helping businesses grow online. With
              a team of skilled strategists, designers.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-white tw-rounded-xl tw-p-6 image-double-animation h-100 common-shadow-5"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="200"
        >
          <a
            href="project-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/project-two-img2.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
            <img
              src="assets/images/thumbs/project-two-img2.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
          </a>
          <div class="tw-pt-6">
            <h6 class="tw-mb-4">
              <a
                href="project-details.html"
                class="text-heading hover-text-main-600"
                >Lead Generation Made Easy</a
              >
            </h6>
            <p class="text-neutral-500 fw-normal tw-text-lg">
              Marketing agency committed to helping businesses grow online. With
              a team of skilled strategists, designers.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-white tw-rounded-xl tw-p-6 image-double-animation h-100 common-shadow-5"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="300"
        >
          <a
            href="project-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/project-two-img3.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
            <img
              src="assets/images/thumbs/project-two-img3.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
          </a>
          <div class="tw-pt-6">
            <h6 class="tw-mb-4">
              <a
                href="project-details.html"
                class="text-heading hover-text-main-600"
                >Content Strategy That Converts</a
              >
            </h6>
            <p class="text-neutral-500 fw-normal tw-text-lg">
              Marketing agency committed to helping businesses grow online. With
              a team of skilled strategists, designers.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-white tw-rounded-xl tw-p-6 image-double-animation h-100 common-shadow-5"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="400"
        >
          <a
            href="project-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/project-two-img4.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
            <img
              src="assets/images/thumbs/project-two-img4.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
          </a>
          <div class="tw-pt-6">
            <h6 class="tw-mb-4">
              <a
                href="project-details.html"
                class="text-heading hover-text-main-600"
                >YouTube Ads Performance Boost</a
              >
            </h6>
            <p class="text-neutral-500 fw-normal tw-text-lg">
              Marketing agency committed to helping businesses grow online. With
              a team of skilled strategists, designers.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-white tw-rounded-xl tw-p-6 image-double-animation h-100 common-shadow-5"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="500"
        >
          <a
            href="project-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/project-two-img1.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
            <img
              src="assets/images/thumbs/project-two-img1.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
          </a>
          <div class="tw-pt-6">
            <h6 class="tw-mb-4">
              <a
                href="project-details.html"
                class="text-heading hover-text-main-600"
                >Lead Generation Made Easy</a
              >
            </h6>
            <p class="text-neutral-500 fw-normal tw-text-lg">
              Marketing agency committed to helping businesses grow online. With
              a team of skilled strategists, designers.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-white tw-rounded-xl tw-p-6 image-double-animation h-100 common-shadow-5"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="600"
        >
          <a
            href="project-details.html"
            class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
          >
            <img
              src="assets/images/thumbs/project-two-img2.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
            <img
              src="assets/images/thumbs/project-two-img2.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
            >
          </a>
          <div class="tw-pt-6">
            <h6 class="tw-mb-4">
              <a
                href="project-details.html"
                class="text-heading hover-text-main-600"
                >Lead Generation Made Easy</a
              >
            </h6>
            <p class="text-neutral-500 fw-normal tw-text-lg">
              Marketing agency committed to helping businesses grow online. With
              a team of skilled strategists, designers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================= Project Two section end ================================ -->
