<!-- =========================== project Four section start =========================== -->
<section class="project-four py-120">
    <div class="container">

        <!-- Section heading start -->
        <div class="tw-mb-12 d-flex flex-wrap align-items-center justify-content-between tw-gap-6" data-aos="fade-up"
            data-aos-duration="800" data-aos-delay="100">
            <div class="max-w-680-px">
                <span class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">Our
                    Projects</span>
                <h2 class="splitTextStyleOne cursor-big">
                    Success Stories
                </h2>
            </div>
            <a href="blog.html"
                class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">View Details</span>
                <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                    <img src="assets/images/icons/arrow-right.png" alt="Arrow"
                        class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg">
                </span>
            </a>
        </div>
        <!-- Section heading end -->


        <div class="">

            <div class="project-four-item image-double-animation d-flex align-items-center tw-gap-6 justify-content-between flex-lg-nowrap flex-wrap tw-pt-12 tw-mt-12 border-top border-neutral-200"
                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="max-w-510-px">
                    <div class="d-flex align-items-center tw-gap-4">
                        <span
                            class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium">Business</span>
                        <span
                            class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium">Marketing</span>
                    </div>
                    <h4 class="tw-mt-4">
                        <a href="project-details.html" class="text-heading hover-text-main-600 line-clamp-3">How We
                            Doubled Organic Traffic in Months</a>
                    </h4>
                </div>
                <div class="w-100 max-w-430-px">
                    <a href="project-details.html"
                        class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/project-four-img1.png" alt="Image"
                            class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
                        <img src="assets/images/thumbs/project-four-img1.png" alt="Image"
                            class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
                    </a>
                </div>
                <div class="flex-shrink-0">
                    <a href="project-details.html"
                        class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                        <span class="element-double-animation__element" data-content="Read Details">Read
                            Details</span>

                        <span class="group-hover-item-rotate-45-deg tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="project-four-item image-double-animation d-flex align-items-center tw-gap-6 justify-content-between flex-lg-nowrap flex-wrap tw-pt-12 tw-mt-12 border-top border-neutral-200"
                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="max-w-510-px">
                    <div class="d-flex align-items-center tw-gap-4">
                        <span
                            class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium">Business</span>
                        <span
                            class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium">Marketing</span>
                    </div>
                    <h4 class="tw-mt-4">
                        <a href="project-details.html" class="text-heading hover-text-main-600 line-clamp-3">Turning
                            Website Visitors into Loyal Customers</a>
                    </h4>
                </div>
                <div class="w-100 max-w-430-px">
                    <a href="project-details.html"
                        class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/project-four-img2.png" alt="Image"
                            class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
                        <img src="assets/images/thumbs/project-four-img2.png" alt="Image"
                            class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
                    </a>
                </div>
                <div class="flex-shrink-0">
                    <a href="project-details.html"
                        class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                        <span class="element-double-animation__element" data-content="Read Details">Read
                            Details</span>

                        <span class="group-hover-item-rotate-45-deg tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="project-four-item image-double-animation d-flex align-items-center tw-gap-6 justify-content-between flex-lg-nowrap flex-wrap tw-pt-12 tw-mt-12 border-top border-neutral-200"
                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="max-w-510-px">
                    <div class="d-flex align-items-center tw-gap-4">
                        <span
                            class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium">Business</span>
                        <span
                            class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium">Marketing</span>
                    </div>
                    <h4 class="tw-mt-4">
                        <a href="project-details.html" class="text-heading hover-text-main-600 line-clamp-3">Boosting
                            Local SEO for Service-Based Business</a>
                    </h4>
                </div>
                <div class="w-100 max-w-430-px">
                    <a href="project-details.html"
                        class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/project-four-img3.png" alt="Image"
                            class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
                        <img src="assets/images/thumbs/project-four-img3.png" alt="Image"
                            class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
                    </a>
                </div>
                <div class="flex-shrink-0">
                    <a href="project-details.html"
                        class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                        <span class="element-double-animation__element" data-content="Read Details">Read
                            Details</span>

                        <span class="group-hover-item-rotate-45-deg tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="project-four-item image-double-animation d-flex align-items-center tw-gap-6 justify-content-between flex-lg-nowrap flex-wrap tw-pt-12 tw-mt-12 border-top border-neutral-200"
                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="max-w-510-px">
                    <div class="d-flex align-items-center tw-gap-4">
                        <span
                            class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium">Business</span>
                        <span
                            class="tw-px-5 tw-py-1 rounded-pill border border-main-two-600 text-main-two-600 fw-medium">Marketing</span>
                    </div>
                    <h4 class="tw-mt-4">
                        <a href="project-details.html" class="text-heading hover-text-main-600 line-clamp-3">Scaling
                            E-Commerce Sales with Google Ads</a>
                    </h4>
                </div>
                <div class="w-100 max-w-430-px">
                    <a href="project-details.html"
                        class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/project-four-img4.png" alt="Image"
                            class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
                        <img src="assets/images/thumbs/project-four-img4.png" alt="Image"
                            class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
                    </a>
                </div>
                <div class="flex-shrink-0">
                    <a href="project-details.html"
                        class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                        <span class="element-double-animation__element" data-content="Read Details">Read
                            Details</span>

                        <span class="group-hover-item-rotate-45-deg tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- =========================== project Four section end =========================== -->