<!-- ========================== Send message new two section start ============================== -->
<section class="send-message-new-two tw-py-9 position-relative z-1">
    <div class="w-100 overflow-hidden scale-up-wrapper position-absolute top-0 tw-start-0 h-100 z-n1">
        <img src="assets/images/thumbs/send-message-new-two-img.png" class="w-100 h-100 object-fit-cover scale-up__img"
            loading="lazy" alt="Agency Thumbnail Image">
    </div>

    <div class="container max-w-1700-px">
        <div class="tw-p-4 d-flex">
            <div class="flex-grow-1 w-100 border border-16 border-white border-end-0 d-lg-block d-none"></div>
            <div class="bg-white ms-auto tw-p-60-px position-relative max-w-680-px">
                <h4 class="tw-mb-9 text-uppercase h2">Send Your Message</h4>
                <form action="#" class="form-submit">
                    <div class="row g-40-px">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="nameThree"
                                    class="tw-text-base text-heading fw-semibold tw-mb-2 d-block">Name</label>
                                <input type="text" id="nameThree"
                                    class="bg-neutral-50 border border-neutral-200 focus-border-main-600 focus-outline-0 tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                                    placeholder="Your name" required="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="emailThree"
                                    class="tw-text-base text-heading fw-semibold tw-mb-2 d-block">Your
                                    Email</label>
                                <input type="email" id="emailThree"
                                    class="bg-neutral-50 border border-neutral-200 focus-border-main-600 focus-outline-0 tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                                    placeholder="Your Email" required="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="telThree"
                                    class="tw-text-base text-heading fw-semibold tw-mb-2 d-block">Phone</label>
                                <input type="text" id="telThree"
                                    class="bg-neutral-50 border border-neutral-200 focus-border-main-600 focus-outline-0 tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                                    placeholder="Your phone" required="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="departmentThree"
                                    class="tw-text-base text-heading fw-semibold tw-mb-2 d-block">Department</label>
                                <select
                                    class="bg-neutral-50 border border-neutral-200 focus-border-main-600 focus-outline-0 tw-px-6 tw-py-1 tw-rounded-md w-100 tw-h-13 form-select shadow-none"
                                    id="departmentThree">
                                    <option value="Digital Marketing">Digital Marketing</option>
                                    <option value="SEO">SEO</option>
                                    <option value="Digital Agency">Digital Agency</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="">
                                <label for="messageThree"
                                    class="tw-text-base text-heading fw-semibold tw-mb-2 d-block">Your
                                    message</label>
                                <textarea id="messageThree"
                                    class="bg-neutral-50 border border-neutral-200 focus-border-main-600 focus-outline-0 tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100 tw-min-h-150-px"
                                    placeholder="Write your message..."></textarea>
                            </div>
                        </div>
                        <div class="col-12 d-inline-block">
                            <button type="submit"
                                class="btn btn-main-two hover-style-three group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                                data-block="button">
                                <span class="button__flair" style="translate: none; rotate: none; scale: none;"></span>
                                <span class="button__label">Send Message</span>
                                <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                                    <img src="assets/images/icons/arrow-right.png" loading="lazy" alt="Arrow"
                                        class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg">
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Send message new two section end ============================== -->