<!-- ========================== Service Three section start ============================== -->
<section class="service-three py-120 bg-blue-light">
  <div class="container">
    <div
      class="tw-mb-14 max-w-890-px mx-auto text-center"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="0"
    >
      <span
        class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
      >
        Our Services</span
      >
      <h2 class="splitTextStyleOne cursor-big">
        Our approach to
        <span class="font-playfair fw-normal font-playfair fst-italic"
          >SEO is Data-Driven,</span
        >
        strategic, and results-oriented.
      </h2>
    </div>

    <div class="row gy-4">
      <div class="col-lg-4 col-md-6">
        <div
          class="service-three-item bg-white tw-rounded-xl tw-p-36-px tw-py-12 group group-item d-flex flex-column justify-content-between tw-gap-92-px tw-duration-300 position-relative z-1"
        >
          <span class="">
            <img src="assets/images/icons/service-three-icon1.png" alt="Icon" />
          </span>
          <div class="">
            <span class="fw-bold group-hover-text-white tw-duration-300 tw-mb-5"
              >01</span
            >
            <h6
              class="text-22-px group-hover-text-white tw-duration-300 fw-semibold text-balance max-w-330-px"
            >
              Innovative Expert in Web Development
            </h6>
            <p
              class="text-neutral-600 group-hover-text-white tw-duration-300 text-main-two-600 tw-mt-6"
            >
              It deserves results. That's why we offer end-to-end creative
              services that help you engage your audience.
            </p>
            <div class="tw-mt-9">
              <a
                href="service-details.html"
                class="text-main-600 group-hover-text-main-two-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-two-600 group-hover-border-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
              >
                <span
                  class="element-double-animation__element"
                  data-content="Read Details"
                  >Read Details</span
                >

                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
          <img
            src="assets/images/thumbs/service-three-img1.png"
            alt="Thumbnail"
            class="position-absolute tw-start-0 top-0 w-100 h-100 object-fit-cover tw-rounded-xl tw--z-2 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300"
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="service-three-item bg-white tw-rounded-xl tw-p-36-px tw-py-12 group group-item d-flex flex-column justify-content-between tw-gap-92-px tw-duration-300 position-relative z-1"
        >
          <span class="">
            <img src="assets/images/icons/service-three-icon1.png" alt="Icon" />
          </span>
          <div class="">
            <span class="fw-bold group-hover-text-white tw-duration-300 tw-mb-5"
              >02</span
            >
            <h6
              class="text-22-px group-hover-text-white tw-duration-300 fw-semibold text-balance max-w-330-px"
            >
              Content Creation & Copywriting
            </h6>
            <p
              class="text-neutral-600 group-hover-text-white tw-duration-300 text-main-two-600 tw-mt-6"
            >
              It deserves results. That's why we offer end-to-end creative
              services that help you engage your audience.
            </p>
            <div class="tw-mt-9">
              <a
                href="service-details.html"
                class="text-main-600 group-hover-text-main-two-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-two-600 group-hover-border-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
              >
                <span
                  class="element-double-animation__element"
                  data-content="Read Details"
                  >Read Details</span
                >

                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
          <img
            src="assets/images/thumbs/service-three-img1.png"
            alt="Thumbnail"
            class="position-absolute tw-start-0 top-0 w-100 h-100 object-fit-cover tw-rounded-xl tw--z-2 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300"
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="service-three-item bg-white tw-rounded-xl tw-p-36-px tw-py-12 group group-item d-flex flex-column justify-content-between tw-gap-92-px tw-duration-300 position-relative z-1"
        >
          <span class="">
            <img src="assets/images/icons/service-three-icon1.png" alt="Icon" />
          </span>
          <div class="">
            <span class="fw-bold group-hover-text-white tw-duration-300 tw-mb-5"
              >03</span
            >
            <h6
              class="text-22-px group-hover-text-white tw-duration-300 fw-semibold text-balance max-w-330-px"
            >
              Creative Campaign Development
            </h6>
            <p
              class="text-neutral-600 group-hover-text-white tw-duration-300 text-main-two-600 tw-mt-6"
            >
              It deserves results. That's why we offer end-to-end creative
              services that help you engage your audience.
            </p>
            <div class="tw-mt-9">
              <a
                href="service-details.html"
                class="text-main-600 group-hover-text-main-two-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-two-600 group-hover-border-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
              >
                <span
                  class="element-double-animation__element"
                  data-content="Read Details"
                  >Read Details</span
                >

                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
          <img
            src="assets/images/thumbs/service-three-img1.png"
            alt="Thumbnail"
            class="position-absolute tw-start-0 top-0 w-100 h-100 object-fit-cover tw-rounded-xl tw--z-2 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================== Service Three section end ============================== -->
