<!-- ================================ Service Two section start ============================== -->
<section class="service-two py-120 position-relative z-1 overflow-hidden">
  <div class="service-two__bg">
    <div
      class="animated-bg flowmap-deformation-wrapper"
      data-bg="assets/images/bg/service-two-gradient-bg.png"
      data-bg-width="1920"
      data-bg-height="764"
    ></div>
  </div>

  <img
    src="assets/images/shapes/service-two-shape1.png"
    alt="Shape"
    class="position-absolute tw-start-0 top-0 service-two__shape-1 animation-duration-40 animation-scalation"
  >
  <img
    src="assets/images/shapes/service-two-shape2.png"
    alt="Shape"
    class="position-absolute tw-start-0 top-0 service-two__shape-2 animation-duration-40 animation-rotate-right d-lg-block d-none"
  >

  <div class="container position-relative z-1 pointer-events-none">
    <!-- Section heading start -->
    <div
      class="section-heading max-w-890-px mx-auto text-center tw-mb-17"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="0"
    >
      <span
        class="bg-white text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
      >
        Our Services</span
      >
      <h2 class="text-white splitTextStyleOne cursor-big pointer-events-auto">
        Our approach to
        <span class="font-playfair fw-normal fst-italic">
          SEO is Data-Driven,</span
        >
        strategic, and results-oriented.
      </h2>
      <p class="text-white tw-text-lg tw-mt-6 max-w-680-px mx-auto fw-normal">
        Snake mackerel upside-down catfish finback cat shark. Reedfish trahira
        bristlenose catfish. Snake mackerel upside-down catfish finback cat
        shark.
      </p>
    </div>
    <!-- Section heading end -->

    <div class="row g-0 service-two-item-wrapper">
      <div class="col-xl-3 col-sm-6 p-0 service-two-item">
        <div
          class="pointer-events-auto tw-p-36-px tw-rounded-32-px bg-mint-sky animation-item"
        >
          <span class="">
            <img
              src="assets/images/icons/service-two-icon1.png"
              alt="Icon"
              class="animate__wobble"
            >
          </span>
          <div class="tw-mt-10">
            <h5 class="text-22-px tw-mb-4">Content Creation</h5>
            <p class="text-neutral-500 fw-medium text-balance">
              Dedicated to high-performance ad campaigns on platforms.
            </p>
          </div>
          <ul class="d-flex flex-column tw-gap-4 tw-mt-8">
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Consistent brand voice across
            </li>
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Monthly performance reports
            </li>
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Custom ad creatives
            </li>
          </ul>
          <div class="tw-mt-8">
            <a
              href="service-details.html"
              class="btn btn-main-outline hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
              data-block="button"
            >
              <span class="button__flair"></span>
              <span class="button__label">View Details</span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
              >
                <i
                  class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"
                ></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 p-0 service-two-item">
        <div
          class="pointer-events-auto tw-p-36-px tw-rounded-32-px bg-soft-pink animation-item"
        >
          <span class="">
            <img
              src="assets/images/icons/service-two-icon2.png"
              alt="Icon"
              class="animate__wobble"
            >
          </span>
          <div class="tw-mt-10">
            <h5 class="text-22-px tw-mb-4">Content Creation</h5>
            <p class="text-neutral-500 fw-medium text-balance">
              Dedicated to high-performance ad campaigns on platforms.
            </p>
          </div>
          <ul class="d-flex flex-column tw-gap-4 tw-mt-8">
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Consistent brand voice across
            </li>
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Monthly performance reports
            </li>
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Custom ad creatives
            </li>
          </ul>
          <div class="tw-mt-8">
            <a
              href="service-details.html"
              class="btn btn-main-outline hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
              data-block="button"
            >
              <span class="button__flair"></span>
              <span class="button__label">View Details</span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
              >
                <i
                  class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"
                ></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 p-0 service-two-item">
        <div
          class="pointer-events-auto tw-p-36-px tw-rounded-32-px bg-lavender-blue animation-item"
        >
          <span class="">
            <img
              src="assets/images/icons/service-two-icon3.png"
              alt="Icon"
              class="animate__wobble"
            >
          </span>
          <div class="tw-mt-10">
            <h5 class="text-22-px tw-mb-4">Content Creation</h5>
            <p class="text-neutral-500 fw-medium text-balance">
              Dedicated to high-performance ad campaigns on platforms.
            </p>
          </div>
          <ul class="d-flex flex-column tw-gap-4 tw-mt-8">
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Consistent brand voice across
            </li>
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Monthly performance reports
            </li>
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Custom ad creatives
            </li>
          </ul>
          <div class="tw-mt-8">
            <a
              href="service-details.html"
              class="btn btn-main-outline hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
              data-block="button"
            >
              <span class="button__flair"></span>
              <span class="button__label">View Details</span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
              >
                <i
                  class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"
                ></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 p-0 service-two-item">
        <div
          class="pointer-events-auto tw-p-36-px tw-rounded-32-px bg-creamy-lemon animation-item"
        >
          <span class="">
            <img
              src="assets/images/icons/service-two-icon4.png"
              alt="Icon"
              class="animate__wobble"
            >
          </span>
          <div class="tw-mt-10">
            <h5 class="text-22-px tw-mb-4">Content Creation</h5>
            <p class="text-neutral-500 fw-medium text-balance">
              Dedicated to high-performance ad campaigns on platforms.
            </p>
          </div>
          <ul class="d-flex flex-column tw-gap-4 tw-mt-8">
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Consistent brand voice across
            </li>
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Monthly performance reports
            </li>
            <li class="text-neutral-600 d-flex align-items-center tw-gap-205">
              <span class="tw-h-105 tw-w-105 bg-heading rounded-circle"></span>
              Custom ad creatives
            </li>
          </ul>
          <div class="tw-mt-8">
            <a
              href="service-details.html"
              class="btn btn-main-outline hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
              data-block="button"
            >
              <span class="button__flair"></span>
              <span class="button__label">View Details</span>
              <span
                class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
              >
                <i
                  class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"
                ></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================ Service Two section end ============================== -->
