<!-- ============================= Service New section start ============================= -->
<section class="service-new sidebar-sticky-wrapper py-140">
    <div class="container max-w-1700-px">
        <div class="row gy-5">
            <div class="col-xxl-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="sidebar-sticky">
                    <h1 class="text-white text-uppercase splitTextStyleOne">Strategic Branding Solutions for you</h1>
                    <div class="tw-mt-12">
                        <a href="contact.html"
                            class="btn btn-main-two-outline hover-style-one group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill hover-text-heading"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">View All Services</span>
                            <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                                <img src="assets/images/icons/arrow-right-main-two.png" loading="lazy" alt="Arrow"
                                    class="arrow-right-img group-hover-item-text-invert-black tw-duration-300 group-hover-item-rotate-45-deg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6">
                <div class="scroll-content">
                    <div class="row g-90-px">
                        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <div class="service-new-item animation-item">
                                <span
                                    class="d-block tw-pb-6 border-bottom border-neutral-500 text-uppercase text-white tw-text-lg fw-medium">STRATEGY</span>
                                <div class="tw-mt-11 d-flex align-items-start tw-gap-4 flex-md-nowrap flex-wrap">
                                    <span class="flex-shrink-0 tw-mt-4">
                                        <img src="assets/images/icons/service-new-icon1.png" class="animate__bounce"
                                            loading="lazy" alt="Service Innovative digital solution Icon">
                                    </span>
                                    <div class="flex-grow-1">
                                        <h3 class="h4 text-uppercase text-white">Innovative digital solution</h3>
                                        <p class="text-white tw-mt-8">We develop strategies that align with your business
                                            goals, defining clear objectives and actionable steps to build a powerful,
                                            enduring brand.</p>
                                        <div class="tw-mt-8 element-double-animation">
                                            <a href="service-details.html"
                                                class="text-main-two-600 fw-semibold border-bottom border-main-two-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                                <span class="element-double-animation__element hover-element-main-two-600"
                                                    data-content="Read Details">Read Details</span>
                                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <div class="service-new-item animation-item">
                                <span
                                    class="d-block tw-pb-6 border-bottom border-neutral-500 text-uppercase text-white tw-text-lg fw-medium">PRODUCTION</span>
                                <div class="tw-mt-11 d-flex align-items-start tw-gap-4 flex-md-nowrap flex-wrap">
                                    <span class="flex-shrink-0 tw-mt-4">
                                        <img src="assets/images/icons/service-new-icon2.png" class="animate__bounce"
                                            loading="lazy" alt="Service Market research & strategy Icon">
                                    </span>
                                    <div class="flex-grow-1">
                                        <h3 class="h4 text-uppercase text-white">Market research & strategy</h3>
                                        <p class="text-white tw-mt-8">We develop strategies that align with your business
                                            goals, defining clear objectives and actionable steps to build a powerful,
                                            enduring brand.</p>
                                        <div class="tw-mt-8 element-double-animation">
                                            <a href="service-details.html"
                                                class="text-main-two-600 fw-semibold border-bottom border-main-two-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                                <span class="element-double-animation__element hover-element-main-two-600"
                                                    data-content="Read Details">Read Details</span>
                                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <div class="service-new-item animation-item">
                                <span
                                    class="d-block tw-pb-6 border-bottom border-neutral-500 text-uppercase text-white tw-text-lg fw-medium">DESIGN</span>
                                <div class="tw-mt-11 d-flex align-items-start tw-gap-4 flex-md-nowrap flex-wrap">
                                    <span class="flex-shrink-0 tw-mt-4">
                                        <img src="assets/images/icons/service-new-icon3.png" class="animate__bounce"
                                            loading="lazy" alt="Service UX/UI and website designing Icon">
                                    </span>
                                    <div class="flex-grow-1">
                                        <h3 class="h4 text-uppercase text-white">UX/UI and website designing</h3>
                                        <p class="text-white tw-mt-8">We develop strategies that align with your business
                                            goals, defining clear objectives and actionable steps to build a powerful,
                                            enduring brand.</p>
                                        <div class="tw-mt-8 element-double-animation">
                                            <a href="service-details.html"
                                                class="text-main-two-600 fw-semibold border-bottom border-main-two-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                                <span class="element-double-animation__element hover-element-main-two-600"
                                                    data-content="Read Details">Read Details</span>
                                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <div class="service-new-item animation-item">
                                <span
                                    class="d-block tw-pb-6 border-bottom border-neutral-500 text-uppercase text-white tw-text-lg fw-medium">CAMPAIGNS</span>
                                <div class="tw-mt-11 d-flex align-items-start tw-gap-4 flex-md-nowrap flex-wrap">
                                    <span class="flex-shrink-0 tw-mt-4">
                                        <img src="assets/images/icons/service-new-icon4.png" class="animate__bounce"
                                            loading="lazy" alt="Service Business campaign consultation Icon">
                                    </span>
                                    <div class="flex-grow-1">
                                        <h3 class="h4 text-uppercase text-white">Business campaign consultation</h3>
                                        <p class="text-white tw-mt-8">We develop strategies that align with your business
                                            goals, defining clear objectives and actionable steps to build a powerful,
                                            enduring brand.</p>
                                        <div class="tw-mt-8 element-double-animation">
                                            <a href="service-details.html"
                                                class="text-main-two-600 fw-semibold border-bottom border-main-two-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                                <span class="element-double-animation__element hover-element-main-two-600"
                                                    data-content="Read Details">Read Details</span>
                                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Service New section end ============================= -->