<div
  class="step-bg-shape position-relative bg-white tw-p-705 tw-rounded-xl d-flex flex-column flex-lg-row tw-gap-74-px animation-item"
>
  <div class="position-relative max-w-346-px w-100 tw-h-402-px">
    <span
      class="bg-main-600 text-white tw-text-sm fw-medium tw-py-105 tw-px-405 tw-rounded position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3 z-1"
    >
      Web Development
    </span>
    <figure
      class="hover-animation-white split-reveal position-relative overflow-hidden h-100"
    >
      <img
        src="@@imageSrc"
        alt="Thumb"
        class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left"
      >
    </figure>
  </div>
  <div class="d-flex flex-column justify-content-between tw-gap-6">
    <span
      class="tw-h-92-px tw-w-92-px bg-main-600 rounded-circle d-flex justify-content-center align-items-center tw-max-h-376-px"
    >
      <img
        src="assets/images/icons/web-tag.png"
        alt="Icon"
        class="animate__heartBeat"
      >
    </span>
    <div class="">
      <h5 class="splitTextStyleOne">
        Innovative Expert in Web Development Services
      </h5>
      <p class="text-neutral-500 tw-mt-9 tw-text-lg">
        Our orthopedic specialists are to helping you move freely an without
        pain.
      </p>
      <div class="tw-mt-9">
        <a
          href="service-details.html"
          class="btn btn-main-two hover-style-two group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
          data-block="button"
        >
          <span class="button__flair"></span>
          <span class="button__label">View Details</span>
          <span class="tw-text-lg tw-leading-none z-1 position-relative">
            <img
              src="assets/images/icons/arrow-right.png"
              alt="Arrow"
              class="group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg"
            >
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
