<!-- ======================== Service new two section start =========================== -->
<section class="service-new-two py-140">
    <div class="container max-w-1720-px">
        <div class="text-center tw-mb-100-px max-w-780-px mx-auto" data-aos="fade-up" data-aos-duration="1000"
            data-aos-delay="200">
            <h2 class="h1 fw-bold text-white text-uppercase">Strategic Branding Solutions for you</h2>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="bg-white-06 tw-rounded-xl tw-py-60-px tw-px-50-px text-center animation-item border border-neutral-900 hover-border-neutral-700 tw-duration-200">
                    <span class="tw-mb-14">
                        <img src="assets/images/icons/service-new-two-icon1.png" alt="Service Icon One"
                            class="animate__heartBeat">
                    </span>
                    <div class="">
                        <h4 class="text-white text-uppercase">Innovative digital solution</h4>
                        <p class="text-white-8 tw-mt-8">We develop strategies that align with your business goals,
                            defining clear</p>
                        <div class="tw-mt-8 element-double-animation">
                            <a href="service-details.html"
                                class="text-main-two-600 fw-semibold border-bottom border-main-two-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                <span class="element-double-animation__element hover-element-main-two-600"
                                    data-content="Read Details">Read Details</span>
                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="bg-white-06 tw-rounded-xl tw-py-60-px tw-px-50-px text-center animation-item border border-neutral-900 hover-border-neutral-700 tw-duration-200">
                    <span class="tw-mb-14">
                        <img src="assets/images/icons/service-new-two-icon2.png" alt="Service Icon One"
                            class="animate__heartBeat">
                    </span>
                    <div class="">
                        <h4 class="text-white text-uppercase">Business campaign consultation</h4>
                        <p class="text-white-8 tw-mt-8">We develop strategies that align with your business goals,
                            defining clear</p>
                        <div class="tw-mt-8 element-double-animation">
                            <a href="service-details.html"
                                class="text-main-two-600 fw-semibold border-bottom border-main-two-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                <span class="element-double-animation__element hover-element-main-two-600"
                                    data-content="Read Details">Read Details</span>
                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                <div class="bg-white-06 tw-rounded-xl tw-py-60-px tw-px-50-px text-center animation-item border border-neutral-900 hover-border-neutral-700 tw-duration-200">
                    <span class="tw-mb-14">
                        <img src="assets/images/icons/service-new-two-icon3.png" alt="Service Icon One"
                            class="animate__heartBeat">
                    </span>
                    <div class="">
                        <h4 class="text-white text-uppercase">UX/UI and website designing</h4>
                        <p class="text-white-8 tw-mt-8">We develop strategies that align with your business goals,
                            defining clear</p>
                        <div class="tw-mt-8 element-double-animation">
                            <a href="service-details.html"
                                class="text-main-two-600 fw-semibold border-bottom border-main-two-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                <span class="element-double-animation__element hover-element-main-two-600"
                                    data-content="Read Details">Read Details</span>
                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                <div class="bg-white-06 tw-rounded-xl tw-py-60-px tw-px-50-px text-center animation-item border border-neutral-900 hover-border-neutral-700 tw-duration-200">
                    <span class="tw-mb-14">
                        <img src="assets/images/icons/service-new-two-icon4.png" alt="Service Icon One"
                            class="animate__heartBeat">
                    </span>
                    <div class="">
                        <h4 class="text-white text-uppercase">Market research & strategy</h4>
                        <p class="text-white-8 tw-mt-8">We develop strategies that align with your business goals,
                            defining clear</p>
                        <div class="tw-mt-8 element-double-animation">
                            <a href="service-details.html"
                                class="text-main-two-600 fw-semibold border-bottom border-main-two-600 hover-border-main-two-600 hover-text-main-two-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                <span class="element-double-animation__element hover-element-main-two-600"
                                    data-content="Read Details">Read Details</span>
                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Service new two section end =========================== -->