<!-- =============================== Service section start ================================== -->
<section class="service py-120 bg-main-600">
  <div class="container">
    <!-- Section heading start -->
    <div
      class="section-heading max-w-890-px mx-auto text-center tw-mb-17"
      data-aos="fade-up"
      data-aos-duration="600"
      data-aos-delay="100"
    >
      <span
        class="bg-white text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
      >
        Our Services</span
      >
      <h2 class="text-white splitTextStyleOne">
        Our approach to
        <span class="font-playfair fw-normal fst-italic"
          >SEO is Data-Driven,</span
        >
        strategic, and results-oriented.
      </h2>
    </div>
    <!-- Section heading end -->
    <div class="row gy-4">
      <div
        class="col-lg-4"
      >
        <div
          class="tab-style-one nav flex-column nav-pills tw-gap-4"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link bg-white overflow-hidden tw-p-1 rounded-pill group text-heading fw-semibold h6 d-flex align-items-center active"
            id="v-pills-web-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-web"
            type="button"
            role="tab"
            aria-controls="v-pills-web"
            aria-selected="true"
            data-aos="fade-up"
            data-aos-duration="600"
            data-aos-delay="100"
          >
            <span
              class="nav-link__icon tw-w-15 tw-h-15 border border-neutral-300 rounded-circle text-main-600 tw-text-lg d-flex justify-content-center align-items-center group-hover-bg-main-600 group-hover-text-white tw-duration-300"
            >
              <i class="ph-bold ph-caret-right"></i>
            </span>
            <span
              class="tw-ps-6 d-flex align-items-center justify-content-between tw-gap-2 flex-grow-1"
            >
              <span class="nav-link__text line-clamp-1">Web Development</span>
              <span
                class="nav-link__yellow tw-w-15 tw-h-15 border border-black bg-black text-main-two-600 rounded-circle tw-text-lg d-flex justify-content-center align-items-center"
              >
                <i class="ph-bold ph-caret-right"></i>
              </span>
            </span>
          </button>
          <button
            class="nav-link bg-white overflow-hidden tw-p-1 rounded-pill group text-heading fw-semibold h6 d-flex align-items-center"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
            data-aos="fade-up"
            data-aos-duration="600"
            data-aos-delay="200"
          >
            <span
              class="nav-link__icon tw-w-15 tw-h-15 border border-neutral-300 rounded-circle text-main-600 tw-text-lg d-flex justify-content-center align-items-center group-hover-bg-main-600 group-hover-text-white tw-duration-300"
            >
              <i class="ph-bold ph-caret-right"></i>
            </span>
            <span
              class="tw-ps-6 d-flex align-items-center justify-content-between tw-gap-2 flex-grow-1"
            >
              <span class="nav-link__text line-clamp-1">SEO Optimization</span>
              <span
                class="nav-link__yellow tw-w-15 tw-h-15 border border-black bg-black text-main-two-600 rounded-circle tw-text-lg d-flex justify-content-center align-items-center"
              >
                <i class="ph-bold ph-caret-right"></i>
              </span>
            </span>
          </button>
          <button
            class="nav-link bg-white overflow-hidden tw-p-1 rounded-pill group text-heading fw-semibold h6 d-flex align-items-center"
            id="v-pills-disabled-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-disabled"
            type="button"
            role="tab"
            aria-controls="v-pills-disabled"
            aria-selected="false"
            data-aos="fade-up"
            data-aos-duration="600"
            data-aos-delay="300"
          >
            <span
              class="nav-link__icon tw-w-15 tw-h-15 border border-neutral-300 rounded-circle text-main-600 tw-text-lg d-flex justify-content-center align-items-center group-hover-bg-main-600 group-hover-text-white tw-duration-300"
            >
              <i class="ph-bold ph-caret-right"></i>
            </span>
            <span
              class="tw-ps-6 d-flex align-items-center justify-content-between tw-gap-2 flex-grow-1"
            >
              <span class="nav-link__text line-clamp-1"
                >E-commerce Solutions</span
              >
              <span
                class="nav-link__yellow tw-w-15 tw-h-15 border border-black bg-black text-main-two-600 rounded-circle tw-text-lg d-flex justify-content-center align-items-center"
              >
                <i class="ph-bold ph-caret-right"></i>
              </span>
            </span>
          </button>
          <button
            class="nav-link bg-white overflow-hidden tw-p-1 rounded-pill group text-heading fw-semibold h6 d-flex align-items-center"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            type="button"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
            data-aos="fade-up"
            data-aos-duration="600"
            data-aos-delay="400"
          >
            <span
              class="nav-link__icon tw-w-15 tw-h-15 border border-neutral-300 rounded-circle text-main-600 tw-text-lg d-flex justify-content-center align-items-center group-hover-bg-main-600 group-hover-text-white tw-duration-300"
            >
              <i class="ph-bold ph-caret-right"></i>
            </span>
            <span
              class="tw-ps-6 d-flex align-items-center justify-content-between tw-gap-2 flex-grow-1"
            >
              <span class="nav-link__text line-clamp-1">Responsive Design</span>
              <span
                class="nav-link__yellow tw-w-15 tw-h-15 border border-black bg-black text-main-two-600 rounded-circle tw-text-lg d-flex justify-content-center align-items-center"
              >
                <i class="ph-bold ph-caret-right"></i>
              </span>
            </span>
          </button>
        </div>
      </div>

      <div
        class="col-lg-8"
        data-aos="fade-up"
        data-aos-duration="600"
        data-aos-delay="300"
      >
        <div class="tab-content ps-lg-5" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-web"
            role="tabpanel"
            aria-labelledby="v-pills-web-tab"
            tabindex="0"
          >
            @@include('../partials/_service-tab-content.html', { 'imageSrc':
            'assets/images/thumbs/service-img1.png' })
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
            tabindex="0"
          >
            @@include('../partials/_service-tab-content.html', { 'imageSrc':
            'assets/images/thumbs/service-img2.png' })
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-disabled"
            role="tabpanel"
            aria-labelledby="v-pills-disabled-tab"
            tabindex="0"
          >
            @@include('../partials/_service-tab-content.html', { 'imageSrc':
            'assets/images/thumbs/service-img3.png' })
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
            tabindex="0"
          >
            @@include('../partials/_service-tab-content.html', { 'imageSrc':
            'assets/images/thumbs/service-img1.png' })
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============================== Service section end ================================== -->
