<!-- =========================== Static Three section start ============================ -->
<section class="statistics-three py-120">
  <div class="container">
    <div class="row gy-5">
      <div class="col-xl-7">
        <div class="">
          <div
            class=""
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="0"
          >
            <span
              class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
            >
              Our Value
            </span>
            <h2 class="splitTextStyleOne cursor-big text-48-px">
              The Secret Weapon For Your
              <span class="font-playfair fw-normal font-playfair fst-italic"
                >Startup Business.</span
              >
            </h2>
            <p
              class="tw-pt-14 text-neutral-500 tw-text-lg fw-normal"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="50"
            >
              Your brand deserves more than just attention—it deserves results.
              That's why we offer end-to-end creative services that help you
              engage your audience.
            </p>
            <p
              class="tw-pt-8 text-neutral-500 tw-text-lg fw-normal"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              We are committed to creating healthy, beautiful smiles in a
              comfortable and caring environment. With a team of experienced
              dentists, modern equipment, and personalized treatment plans,
            </p>
          </div>
          <div
            class="d-flex align-items-center tw-gap-52-px flex-wrap tw-mt-12"
          >
            <div
              class="counter-four-item d-flex align-items-center tw-gap-5 animation-item"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              <span
                class="tw-h-104-px tw-w-104-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0"
              >
                <img
                  src="assets/images/icons/statistics-three-icon1.png"
                  alt="Icon"
                  class="animate__wobble"
                >
              </span>
              <div class="">
                <h3 class="counter h2">45+</h3>
                <span class="text-capitalize text-neutral-600 fw-medium tw-mt-1"
                  >Years driving growth</span
                >
              </div>
            </div>
            <div
              class="counter-four-item d-flex align-items-center tw-gap-5 animation-item"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="200"
            >
              <span
                class="tw-h-104-px tw-w-104-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0"
              >
                <img
                  src="assets/images/icons/statistics-three-icon2.png"
                  alt="Icon"
                  class="animate__wobble"
                >
              </span>
              <div class="">
                <h3 class="counter h2">78K+</h3>
                <span class="text-capitalize text-neutral-600 fw-medium tw-mt-1"
                  >Projects complete</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="">
          <div
            class="swiper statistics-brand-slider left-right-gradient gradient-width-50"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div
                  class="text-center"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="100"
                >
                  <div class="">
                    <img
                      src="assets/images/thumbs/brand-two-logo1.png"
                      alt="Logo"
                    >
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="text-center"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="200"
                >
                  <img
                    src="assets/images/thumbs/brand-two-logo2.png"
                    alt="Logo"
                  >
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="text-center"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="300"
                >
                  <img
                    src="assets/images/thumbs/brand-two-logo3.png"
                    alt="Logo"
                  >
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="text-center"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="400"
                >
                  <img
                    src="assets/images/thumbs/brand-two-logo4.png"
                    alt="Logo"
                  >
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="text-center"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="500"
                >
                  <img
                    src="assets/images/thumbs/brand-two-logo3.png"
                    alt="Logo"
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="tw-mt-14">
            <figure
              class="hover-animation-white split-reveal position-relative overflow-hidden h-100"
            >
              <img
                src="assets/images/thumbs/statistics-three-img.png"
                alt="Thumb"
                class="split-reveal-element w-100 h-100 object-fit-cover tw-rounded-32-px origin-left"
              >
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =========================== Static Three section end ============================ -->
