<!-- ======================== Team section start =========================== -->
<section class="team py-120 position-relative z-1 overflow-hidden">
  <img src="assets/images/shapes/team-shape1.png" loading="lazy" alt="Shape"
    class="position-absolute z-n1 d-xl-block d-none tw-end-0 top-0 tw--mt-160-px">
  <img src="assets/images/shapes/team-shape2.png" loading="lazy" alt="Shape"
    class="position-absolute z-n1 d-xl-block d-none tw-end-0 top-0 tw-pt-17 tw-mt-10 tw-me-250-px scale-animation">

  <div class="container max-w-1720-px">
    <!-- Section heading start -->
    <div class="max-w-680-px text-center mx-auto tw-mb-10" data-aos="fade-up" data-aos-duration="800"
      data-aos-delay="300">
      <span class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
        Our Members</span>
      <h2 class="splitTextStyleOne cursor-big">
        Meet With Our Marketing
        <span class="font-playfair fw-normal font-playfair fst-italic">Team Members.</span>
      </h2>
      <p class="tw-text-lg text-neutral-500 tw-mt-8 max-w-590-px mx-auto">
        Snake mackerel upside-down catfish finback cat shark. Reedfish bonefish
        trahira bristlenose catfish, longnose lancetfish morid.
      </p>
    </div>
    <!-- Section heading end -->

    <div class="row gy-4 team-item-wrapper">
      <div class="col-xl-3 col-sm-6">
        <div class="image-double-animation team-item">
          <a href="team-details.html" class="tw-rounded-2xl overflow-hidden d-block position-relative view-cursor-show">
            <img src="assets/images/thumbs/team-img1.png" loading="lazy" alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
            <img src="assets/images/thumbs/team-img1.png" loading="lazy" alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
          </a>
          <div class="tw-pt-8 position-relative">
            <h5 class="element-double-animation">
              <a href="team-details.html" class="element-double-animation__element" data-content="Ariana Collins">Ariana
                Collins</a>
            </h5>
            <p class="text-neutral-500 tw-text-lg tw-mt-2">
              PPC Campaign Manager
            </p>
            <!-- Social Icons start -->
            <div class="position-absolute tw-end-0 top-0 z-1 tw-me-6 z-3 tw--mt-26-px">
              <button type="button"
                class="show-social-icon-button tw-w-13 tw-h-13 bg-main-600 text-white tw-text-2xl rounded-circle group-hover-bg-main-two-600 group-hover-text-heading tw-duration-300">
                <span class="icon tw-duration-300">
                  <i class="ph-bold ph-plus"></i>
                </span>
              </button>
              <div
                class="show-socials-icons d-flex flex-column tw-gap-2 position-absolute bottom-100 start-50 translate-middle-x tw-mb-2 z-1">
                <a href="https://www.facebook.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-facebook-logo"></i>
                </a>
                <a href="https://www.twitter.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-twitter-logo"></i>
                </a>
                <a href="https://www.linkedin.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-linkedin-logo"></i>
                </a>
                <a href="https://www.instagram.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-instagram-logo"></i>
                </a>
              </div>
            </div>
            <!-- Social Icons End -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="image-double-animation team-item">
          <a href="team-details.html" class="tw-rounded-2xl overflow-hidden d-block position-relative view-cursor-show">
            <img src="assets/images/thumbs/team-img2.png" loading="lazy" alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
            <img src="assets/images/thumbs/team-img2.png" loading="lazy" alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
          </a>
          <div class="tw-pt-8 position-relative">
            <h5 class="element-double-animation">
              <a href="team-details.html" class="element-double-animation__element" data-content="Daniel Rivera">Daniel
                Rivera</a>
            </h5>
            <p class="text-neutral-500 tw-text-lg tw-mt-2">
              Chief Marketing Officer
            </p>
            <!-- Social Icons start -->
            <div class="position-absolute tw-end-0 top-0 z-1 tw-me-6 z-3 tw--mt-26-px">
              <button type="button"
                class="show-social-icon-button tw-w-13 tw-h-13 bg-main-600 text-white tw-text-2xl rounded-circle group-hover-bg-main-two-600 group-hover-text-heading tw-duration-300">
                <span class="icon tw-duration-300">
                  <i class="ph-bold ph-plus"></i>
                </span>
              </button>
              <div
                class="show-socials-icons d-flex flex-column tw-gap-2 position-absolute bottom-100 start-50 translate-middle-x tw-mb-2 z-1">
                <a href="https://www.facebook.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-facebook-logo"></i>
                </a>
                <a href="https://www.twitter.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-twitter-logo"></i>
                </a>
                <a href="https://www.linkedin.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-linkedin-logo"></i>
                </a>
                <a href="https://www.instagram.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-instagram-logo"></i>
                </a>
              </div>
            </div>
            <!-- Social Icons End -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="image-double-animation team-item">
          <a href="team-details.html" class="tw-rounded-2xl overflow-hidden d-block position-relative view-cursor-show">
            <img src="assets/images/thumbs/team-img3.png" loading="lazy" alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
            <img src="assets/images/thumbs/team-img3.png" loading="lazy" alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
          </a>
          <div class="tw-pt-8 position-relative">
            <h5 class="element-double-animation">
              <a href="team-details.html" class="element-double-animation__element" data-content="Sophia Bennett">Sophia
                Bennett</a>
            </h5>
            <p class="text-neutral-500 tw-text-lg tw-mt-2">SEO Specialist</p>
            <!-- Social Icons start -->
            <div class="position-absolute tw-end-0 top-0 z-1 tw-me-6 z-3 tw--mt-26-px">
              <button type="button"
                class="show-social-icon-button tw-w-13 tw-h-13 bg-main-600 text-white tw-text-2xl rounded-circle group-hover-bg-main-two-600 group-hover-text-heading tw-duration-300">
                <span class="icon tw-duration-300">
                  <i class="ph-bold ph-plus"></i>
                </span>
              </button>
              <div
                class="show-socials-icons d-flex flex-column tw-gap-2 position-absolute bottom-100 start-50 translate-middle-x tw-mb-2 z-1">
                <a href="https://www.facebook.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-facebook-logo"></i>
                </a>
                <a href="https://www.twitter.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-twitter-logo"></i>
                </a>
                <a href="https://www.linkedin.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-linkedin-logo"></i>
                </a>
                <a href="https://www.instagram.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-instagram-logo"></i>
                </a>
              </div>
            </div>
            <!-- Social Icons End -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="image-double-animation team-item">
          <a href="team-details.html" class="tw-rounded-2xl overflow-hidden d-block position-relative view-cursor-show">
            <img src="assets/images/thumbs/team-img4.png" loading="lazy" alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
            <img src="assets/images/thumbs/team-img4.png" loading="lazy" alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
          </a>
          <div class="tw-pt-8 position-relative">
            <h5 class="element-double-animation">
              <a href="team-details.html" class="element-double-animation__element" data-content="Sofia Martin">Sofia
                Martin</a>
            </h5>
            <p class="text-neutral-500 tw-text-lg tw-mt-2">
              Rapid Response Courier
            </p>
            <!-- Social Icons start -->
            <div class="position-absolute tw-end-0 top-0 z-1 tw-me-6 z-3 tw--mt-26-px">
              <button type="button"
                class="show-social-icon-button tw-w-13 tw-h-13 bg-main-600 text-white tw-text-2xl rounded-circle group-hover-bg-main-two-600 group-hover-text-heading tw-duration-300">
                <span class="icon tw-duration-300">
                  <i class="ph-bold ph-plus"></i>
                </span>
              </button>
              <div
                class="show-socials-icons d-flex flex-column tw-gap-2 position-absolute bottom-100 start-50 translate-middle-x tw-mb-2 z-1">
                <a href="https://www.facebook.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-facebook-logo"></i>
                </a>
                <a href="https://www.twitter.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-twitter-logo"></i>
                </a>
                <a href="https://www.linkedin.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-linkedin-logo"></i>
                </a>
                <a href="https://www.instagram.com"
                  class="show-socials-icons__item tw-w-13 tw-h-13 text-main-600 bg-white tw-text-2xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                  <i class="ph-fill ph-instagram-logo"></i>
                </a>
              </div>
            </div>
            <!-- Social Icons End -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======================== Team section end =========================== -->