<!-- =========================== Team section two start ========================== -->
<section class="team-new py-140 bg-main-two-600">
    <div class="container max-w-1700-px w-100">
        <div class="row g-90-px">
            <div class="col-xl-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="w-100">
                    <div class="d-flex align-items-center tw-gap-8 flex-sm-nowrap flex-wrap group-item">
                        <figure class="mb-0 rounded-circle overflow-hidden max-w-266-px tw-max-h-266-px w-100 h-100">
                            <img src="assets/images/thumbs/team-two-img1.png" alt="Eleanor Pena's Image" class="group-hover-item-scale-12 tw-duration-300">
                        </figure>
                        <div>
                            <span class="fw-normal tw-text-lg text-neutral-700 tw-mb-2">
                                Senior Developer
                            </span>
                            <h2 class="fw-bold text-neutral-1000">
                                Eleanor Pena
                            </h2>
                            <span class="w-100 tw-h-px bg-neutral-1000 tw-mt-7 tw-mb-6"></span>
                            <p class="fw-normal tw-text-base text-neutral-950">
                                Brand identity design a the key we not to be have to where SEO7 agency taken of my
                                entire soul, like on these sweet mornings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="w-100">
                    <div class="d-flex align-items-center tw-gap-8 flex-sm-nowrap flex-wrap group-item">
                        <figure class="mb-0 rounded-circle overflow-hidden max-w-266-px tw-max-h-266-px w-100 h-100">
                            <img src="assets/images/thumbs/team-two-img2.png" alt="Brooklyn Simmons's Image" class="group-hover-item-scale-12 tw-duration-300">
                        </figure>
                        <div>
                            <span class="fw-normal tw-text-lg text-neutral-700 tw-mb-2">
                                Senior Developer
                            </span>
                            <h2 class="fw-bold text-neutral-1000">
                                Brooklyn Simmons
                            </h2>
                            <span class="w-100 tw-h-px bg-neutral-1000 tw-mt-7 tw-mb-6"></span>
                            <p class="fw-normal tw-text-base text-neutral-950">
                                Brand identity design a the key we not to be have to where SEO7 agency taken of my
                                entire soul, like on these sweet mornings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="w-100">
                    <div class="d-flex align-items-center tw-gap-8 flex-sm-nowrap flex-wrap group-item">
                        <figure class="mb-0 rounded-circle overflow-hidden max-w-266-px tw-max-h-266-px w-100 h-100">
                            <img src="assets/images/thumbs/team-two-img3.png" alt="Arlene McCoy's Image" class="group-hover-item-scale-12 tw-duration-300">
                        </figure>
                        <div>
                            <span class="fw-normal tw-text-lg text-neutral-700 tw-mb-2">
                                Senior Developer
                            </span>
                            <h2 class="fw-bold text-neutral-1000">
                                Arlene McCoy
                            </h2>
                            <span class="w-100 tw-h-px bg-neutral-1000 tw-mt-7 tw-mb-6"></span>
                            <p class="fw-normal tw-text-base text-neutral-950">
                                Brand identity design a the key we not to be have to where SEO7 agency taken of my
                                entire soul, like on these sweet mornings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="w-100">
                    <div class="d-flex align-items-center tw-gap-8 flex-sm-nowrap flex-wrap group-item">
                        <figure class="mb-0 rounded-circle overflow-hidden max-w-266-px tw-max-h-266-px w-100 h-100">
                            <img src="assets/images/thumbs/team-two-img4.png" alt="Aşenur Özkan's Image" class="group-hover-item-scale-12 tw-duration-300">
                        </figure>
                        <div>
                            <span class="fw-normal tw-text-lg text-neutral-700 tw-mb-2">
                                Senior Developer
                            </span>
                            <h2 class="fw-bold text-neutral-1000">
                                Aşenur Özkan
                            </h2>
                            <span class="w-100 tw-h-px bg-neutral-1000 tw-mt-7 tw-mb-6"></span>
                            <p class="fw-normal tw-text-base text-neutral-950">
                                Brand identity design a the key we not to be have to where SEO7 agency taken of my
                                entire soul, like on these sweet mornings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Team section two end ========================== -->