<!-- ======================== Team section start =========================== -->
<section class="team py-120">
  <div class="container max-w-1720-px">
    <!-- Section heading start -->
    <div
      class="max-w-680-px text-center mx-auto tw-mb-10"
      data-aos="fade-up"
      data-aos-duration="600"
      data-aos-delay="300"
    >
      <span
        class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
      >
        Our Members</span
      >
      <h2 class="splitTextStyleOne cursor-big">
        Meet With Our Marketing
        <span class="font-playfair fw-normal font-playfair fst-italic"
          >Team Members.</span
        >
      </h2>
      <p class="tw-text-lg text-neutral-500 tw-mt-8 max-w-590-px mx-auto">
        Snake mackerel upside-down catfish finback cat shark. Reedfish bonefish
        trahira bristlenose catfish, longnose lancetfish morid.
      </p>
    </div>
    <!-- Section heading end -->

    <div class="row gy-4">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="team-item image-double-animation tw-rounded-2xl">
          <a
            href="team-details.html"
            class="tw-rounded-2xl overflow-hidden d-block"
          >
            <img
              src="assets/images/thumbs/team-img1.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover"
            />
            <img
              src="assets/images/thumbs/team-img1.png"
              alt="Image"
              class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover"
            />
          </a>
          <div class="tw-mt-8">
            <h5 class="">
              <a href="team-details.html" class="hover-text-main-600"
                >Ariana Collins</a
              >
            </h5>
            <p class="text-neutral-500 tw-text-lg tw-mt-2">
              PPC Campaign Manager
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======================== Team section end =========================== -->
