<!-- ========================== Team Four Section start ============================ -->
<section class="team-four py-120">
    <div class="container">
        <!-- Section heading start -->
        <div class="max-w-680-px text-center mx-auto tw-mb-78-px" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            <span class="bg-main-50 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
                Our Members</span>
            <h2 class="splitTextStyleOne cursor-big">
                Meet With Our Marketing
                <span class="font-playfair fw-normal font-playfair fst-italic">Team Members</span>
            </h2>
            <p class="tw-text-lg text-neutral-500 tw-mt-8 max-w-590-px mx-auto">
                Snake mackerel upside-down catfish finback cat shark. Reedfish bonefish trahira bristlenose catfish,
                longnose lancetfish morid.
            </p>
        </div>
        <!-- Section heading end -->

        <div class="row gy-4 team-item-wrapper">
            <div class="col-xl-4 col-md-6">
                <div class="image-double-animation team-item mt-0">
                    <a href="team-details.html"
                        class="tw-rounded-2xl overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/team-img1.png" loading="lazy" alt="Image"
                            class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
                        <img src="assets/images/thumbs/team-img1.png" loading="lazy" alt="Image"
                            class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
                    </a>
                    <div
                        class="tw-pt-5 tw-px-5 position-relative d-flex align-items-center justify-content-between flex-wrap tw-gap-4">
                        <div class="">
                            <p class="text-neutral-500 tw-text-lg">
                                Managing Director
                            </p>
                            <h5 class="element-double-animation">
                                <a href="team-details.html" class="element-double-animation__element"
                                    data-content="Michael Bennett">Michael Bennett</a>
                            </h5>
                        </div>
                        <ul class="pagination d-flex align-items-center tw-gap-5 justify-content-start flex-wrap">
                            <li>
                                <a href="https://www.facebook.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-twitter-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-instagram-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="image-double-animation team-item mt-0">
                    <a href="team-details.html"
                        class="tw-rounded-2xl overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/team-img2.png" loading="lazy" alt="Image"
                            class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
                        <img src="assets/images/thumbs/team-img2.png" loading="lazy" alt="Image"
                            class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
                    </a>
                    <div
                        class="tw-pt-5 tw-px-5 position-relative d-flex align-items-center justify-content-between flex-wrap tw-gap-4">
                        <div class="">
                            <p class="text-neutral-500 tw-text-lg">
                                Chief Financial Officer (CFO)
                            </p>
                            <h5 class="element-double-animation">
                                <a href="team-details.html" class="element-double-animation__element"
                                    data-content="James Thornton">James Thornton</a>
                            </h5>
                        </div>
                        <ul class="pagination d-flex align-items-center tw-gap-5 justify-content-start flex-wrap">
                            <li>
                                <a href="https://www.facebook.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-twitter-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-instagram-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="image-double-animation team-item mt-0">
                    <a href="team-details.html"
                        class="tw-rounded-2xl overflow-hidden d-block position-relative view-cursor-show">
                        <img src="assets/images/thumbs/team-img3.png" loading="lazy" alt="Image"
                            class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
                        <img src="assets/images/thumbs/team-img3.png" loading="lazy" alt="Image"
                            class="image-double-animation__element tw-rounded-2xl w-100 object-fit-cover">
                    </a>
                    <div
                        class="tw-pt-5 tw-px-5 position-relative d-flex align-items-center justify-content-between flex-wrap tw-gap-4">
                        <div class="">
                            <p class="text-neutral-500 tw-text-lg">
                                Digital Marketer
                            </p>
                            <h5 class="element-double-animation">
                                <a href="team-details.html" class="element-double-animation__element"
                                    data-content="William John">William John</a>
                            </h5>
                        </div>
                        <ul class="pagination d-flex align-items-center tw-gap-5 justify-content-start flex-wrap">
                            <li>
                                <a href="https://www.facebook.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-twitter-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" class="tw-text-xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-instagram-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Team Four Section End ============================ -->