<!-- ============================= Team Three section start ================================= -->
<section class="team-three py-120 bg-blue-light position-relative z-1">
  <div class="position-relative">
    <img
      src="assets/images/shapes/team-three-shape1.png"
      alt="Shape"
      class="position-absolute top-0 tw-start-0 tw-mt-17 tw-pt-205 animated-upDown"
    >
    <div class="container position-relative">
      <img
        src="assets/images/shapes/team-three-shape2.png"
        alt="Shape"
        class="position-absolute top-0 tw-end-0 tw-mt-17 tw-pt-7 left-right-animation"
      >

      <div
        class="tw-mb-14 max-w-890-px mx-auto text-center"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="0"
      >
        <span
          class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
        >
          Our Members</span
        >
        <h2 class="splitTextStyleOne cursor-big">
          Meet With Our Marketing
          <span class="font-playfair fw-normal font-playfair fst-italic"
            >Team Members</span
          >
        </h2>
        <p class="tw-text-lg text-neutral-500 tw-mt-6 max-w-590-px mx-auto">
          Snake mackerel upside-down catfish finback cat shark. Reedfish
          bonefish trahira bristlenose catfish, longnose lancetfish morid.
        </p>
      </div>

      <div class="row gy-4">
        <div
          class="col-lg-6"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="100"
        >
          <div
            class="team-three-item image-double-animation bg-white tw-rounded-xl tw-p-205 d-flex flex-sm-row align-items-sm-center flex-column tw-gap-6 justify-content-between"
          >
            <div class="tw-ps-705 tw-py-3 flex-grow-1">
              <h5 class="tw-mb-2">
                <a
                  href="service-details.html"
                  class="text-heading fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
                >
                  <span
                    class="element-double-animation__element"
                    data-content="Sofia Martin"
                    >Sofia Martin</span
                  >
                </a>
              </h5>
              <p class="tw-text-lg text-neutral-400">
                Client Relationship Manager
              </p>
              <ul class="d-flex align-items-center tw-gap-205 tw-mt-6">
                <li>
                  <a
                    href="https://www.facebook.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-facebook-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.twitter.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                  >
                    <i class="ph-fill ph-twitter-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-instagram-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.pinterest.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-pinterest-logo"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="flex-grow-1">
              <a
                href="team-details.html"
                class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
              >
                <img
                  src="assets/images/thumbs/team-three-img1.png"
                  alt="Image"
                  class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
                >
                <img
                  src="assets/images/thumbs/team-three-img1.png"
                  alt="Image"
                  class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
                >
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-lg-6"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="300"
        >
          <div
            class="team-three-item image-double-animation bg-white tw-rounded-xl tw-p-205 d-flex flex-sm-row align-items-sm-center flex-column tw-gap-6 justify-content-between"
          >
            <div class="tw-ps-705 tw-py-3 flex-grow-1">
              <h5 class="tw-mb-2">
                <a
                  href="service-details.html"
                  class="text-heading fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
                >
                  <span
                    class="element-double-animation__element"
                    data-content="Liam Patel"
                    >Liam Patel</span
                  >
                </a>
              </h5>
              <p class="tw-text-lg text-neutral-400">PPC Campaign Manager</p>
              <ul class="d-flex align-items-center tw-gap-205 tw-mt-6">
                <li>
                  <a
                    href="https://www.facebook.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-facebook-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.twitter.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                  >
                    <i class="ph-fill ph-twitter-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-instagram-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.pinterest.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-pinterest-logo"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="flex-grow-1">
              <a
                href="team-details.html"
                class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
              >
                <img
                  src="assets/images/thumbs/team-three-img2.png"
                  alt="Image"
                  class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
                >
                <img
                  src="assets/images/thumbs/team-three-img2.png"
                  alt="Image"
                  class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
                >
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-lg-6"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="100"
        >
          <div
            class="team-three-item image-double-animation bg-white tw-rounded-xl tw-p-205 d-flex flex-sm-row align-items-sm-center flex-column tw-gap-42-px"
          >
            <div class="flex-grow-1">
              <a
                href="team-details.html"
                class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
              >
                <img
                  src="assets/images/thumbs/team-three-img3.png"
                  alt="Image"
                  class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
                >
                <img
                  src="assets/images/thumbs/team-three-img3.png"
                  alt="Image"
                  class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
                >
              </a>
            </div>
            <div class="tw-py-3 flex-grow-1">
              <h5 class="tw-mb-2">
                <a
                  href="service-details.html"
                  class="text-heading fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
                >
                  <span
                    class="element-double-animation__element"
                    data-content="Mia Johnson"
                    >Mia Johnson</span
                  >
                </a>
              </h5>
              <p class="tw-text-lg text-neutral-400">Email Marketing Expert</p>
              <ul class="d-flex align-items-center tw-gap-205 tw-mt-6">
                <li>
                  <a
                    href="https://www.facebook.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-facebook-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.twitter.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                  >
                    <i class="ph-fill ph-twitter-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-instagram-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.pinterest.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-pinterest-logo"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="col-lg-6"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="300"
        >
          <div
            class="team-three-item image-double-animation bg-white tw-rounded-xl tw-p-205 d-flex flex-sm-row align-items-sm-center flex-column tw-gap-42-px"
          >
            <div class="flex-grow-1">
              <a
                href="team-details.html"
                class="tw-rounded-xl overflow-hidden d-block position-relative view-cursor-show"
              >
                <img
                  src="assets/images/thumbs/team-three-img4.png"
                  alt="Image"
                  class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
                >
                <img
                  src="assets/images/thumbs/team-three-img4.png"
                  alt="Image"
                  class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover"
                >
              </a>
            </div>
            <div class="tw-py-3 flex-grow-1">
              <h5 class="tw-mb-2">
                <a
                  href="service-details.html"
                  class="text-heading fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation"
                >
                  <span
                    class="element-double-animation__element"
                    data-content="Ethan Brooks"
                    >Ethan Brooks</span
                  >
                </a>
              </h5>
              <p class="tw-text-lg text-neutral-400">Rapid Response Courier</p>
              <ul class="d-flex align-items-center tw-gap-205 tw-mt-6">
                <li>
                  <a
                    href="https://www.facebook.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-facebook-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.twitter.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                  >
                    <i class="ph-fill ph-twitter-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-instagram-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.pinterest.com"
                    class="text-heading tw-w-8 tw-h-8 border border-neutral-300 hover-border-main-two-600 rounded-circle d-flex justify-content-center align-items-center tw-text-base tw-leading-none hover-bg-main-two-600 hover-text-heading active-scale-09"
                    ><i class="ph-fill ph-pinterest-logo"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================= Team Three section end ================================= -->
