<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js" defer></script>
<!-- phosphor Js -->
<script src="assets/js/phosphor-icon.js" defer></script>
<!-- Bootstrap Bundle Js -->
<script src="assets/js/boostrap.bundle.min.js" defer></script>
<!-- aos -->
<script src="assets/js/aos.js" defer></script>

<!-- GSAP js -->
<script src="assets/js/gsap.min.js" defer></script>
<!-- SplitText -->
<script src="assets/js/SplitText.min.js" defer></script>
<!-- Scroll Trigger -->
<script src="assets/js/ScrollTrigger.min.js" defer></script>
<script src="assets/js/ScrollSmoother.min.js" defer></script>
<!-- custom GSAP -->
<script src="assets/js/custom-gsap.js" defer></script>

<!-- flowmap effect -->
<script src="assets/js/flowmap-effect.min.js" defer></script>
<!-- counterup -->
<script src="assets/js/counterup.min.js" defer></script>
<!-- swiper slider -->
<script src="assets/js/swiper-bundle.min.js" defer></script>
<!-- marquee -->
<script src="assets/js/jquery.marquee.min.js" defer></script>
<!-- magnific popup -->
<script src="assets/js/magnific-popup.min.js" defer></script>
<!-- parallax -->
<script src="assets/js/parallax.min.js" defer></script>

<!-- main js -->
<script src="assets/js/main.js" defer></script>
