<!-- =========================== Testimonials new section start ============================ -->
<section class="testimonials-new pt-140">
    <div class="container max-w-1700-px">
        <div class="d-flex align-items-center justify-content-between tw-gap-17 flex-wrap">
            <h2
                class="display-1 fw-bold text-neutral-600 tw-leading-none letter-spacing--10-px tw--mb-70-px tw-leading-none">
                <span class="text-hover-animation-scale">TESTIMONIALS</span>
            </h2>
            <div class="d-flex align-items-center tw-gap-5">
                <div class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center bg-black text-main-two-600 hover-text-heading hover-bg-main-two-600 tw-duration-300 border border-white text-white hover-border-main-two-600 testimonials-new-prev"
                    tabindex="0" role="button" aria-label="Previous slide">
                    <i class="ph-bold ph-arrow-left"></i>
                </div>
                <div class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center bg-black text-main-two-600 hover-text-heading hover-bg-main-two-600 tw-duration-300 border border-white text-white hover-border-main-two-600 testimonials-new-next"
                    tabindex="0" role="button" aria-label="Next slide">
                    <i class="ph-bold ph-arrow-right"></i>
                </div>
            </div>
        </div>

        <div class="z-1 position-relative">
            <div class="swiper testimonials-new-slider tw-w-100-vw">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonials-new-item d-flex align-items-center tw-gap-42-px">
                            <figure class="mb-0 max-w-250-px tw-max-h-250-px w-100 h-100">
                                <img src="assets/images/thumbs/testimonials-new-img1.png" alt="Testimonials Image"
                                    class="w-100 h-100 object-fit-cover">
                            </figure>
                            <div class="">
                                <h4 class="line-clamp-3 text-white fw-medium">“Fusce accumsan tincidunt erat et
                                    convallis risus
                                    ullamcorper euoled vehicula massa a massa cursus”</h4>
                                <div class="d-flex align-items-center tw-gap-4 tw-mt-12 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-11 tw-h-px bg-white"></span>
                                        <h4 class="h5 text-white fw-medium">Shahriar Rahman</h4>
                                    </div>
                                    <span class="text-neutral-400">Small Business Owner </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-new-item d-flex align-items-center tw-gap-42-px">
                            <figure class="mb-0 max-w-250-px tw-max-h-250-px w-100 h-100">
                                <img src="assets/images/thumbs/testimonials-new-img2.png" alt="Testimonials Image"
                                    class="w-100 h-100 object-fit-cover">
                            </figure>
                            <div class="">
                                <h4 class="line-clamp-3 text-white fw-medium">“Fusce accumsan tincidunt erat et
                                    convallis risus
                                    ullamcorper euoled vehicula massa a massa cursus”</h4>
                                <div class="d-flex align-items-center tw-gap-4 tw-mt-12 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-11 tw-h-px bg-white"></span>
                                        <h4 class="h5 text-white fw-medium">John Doe</h4>
                                    </div>
                                    <span class="text-neutral-400">Small Business Owner </span>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="swiper-slide">
                        <div class="testimonials-new-item d-flex align-items-center tw-gap-42-px">
                            <figure class="mb-0 max-w-250-px tw-max-h-250-px w-100 h-100">
                                <img src="assets/images/thumbs/testimonials-new-img1.png" alt="Testimonials Image"
                                    class="w-100 h-100 object-fit-cover">
                            </figure>
                            <div class="">
                                <h4 class="line-clamp-3 text-white fw-medium">“Fusce accumsan tincidunt erat et
                                    convallis risus
                                    ullamcorper euoled vehicula massa a massa cursus”</h4>
                                <div class="d-flex align-items-center tw-gap-4 tw-mt-12 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-11 tw-h-px bg-white"></span>
                                        <h4 class="h5 text-white fw-medium">Shahriar Rahman</h4>
                                    </div>
                                    <span class="text-neutral-400">Small Business Owner </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Testimonials new section end ============================ -->