<!-- ========================= Testimonials Four section start ============================ -->
<section class="testimonials-four py-120 position-relative overflow-hidden">
    <div class="background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1"
        data-background-image="assets/images/bg/testimonials-four-gradient-bg.png"></div>

    <div class="container">
        <!-- Section heading start -->
        <div class="section-heading max-w-890-px text-center mx-auto tw-mb-17" data-aos="fade-up"
            data-aos-duration="800" data-aos-delay="100">
            <span class="bg-white-13 text-white fw-normal tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
                Our Testimonial</span>
            <h2 class="text-white splitTextStyleOne cursor-big pointer-events-auto">
                Why Our
                <span class="font-playfair fw-normal fst-italic">
                    Client Say!</span>
            </h2>
        </div>
        <!-- Section heading end -->

        <div class="position-relative">
            <button type="button"
                class="slider-arrows tw-w-12 tw-h-12 d-flex justify-content-center align-items-center tw-rounded-lg text-main-600 hover-text-white hover-bg-main-600 tw-duration-300 bg-white border border-main-300 hover-border-main-600 position-absolute top-50 translate-middle-y tw-end-100 z-2 testimonials-four-prev tw-me-6">
                <i class="ph-bold ph-arrow-left"></i>
            </button>
            <button type="button"
                class="slider-arrows tw-w-12 tw-h-12 d-flex justify-content-center align-items-center tw-rounded-lg text-main-600 hover-text-white hover-bg-main-600 tw-duration-300 bg-white border border-main-300 hover-border-main-600 position-absolute top-50 translate-middle-y tw-start-100 z-2 testimonials-four-next tw-ms-6">
                <i class="ph-bold ph-arrow-right"></i>
            </button>

            <div class="swiper testimonials-four-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tw-p-48-px tw-rounded-xl overflow-hidden bg-white" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="300">
                            <div class="d-flex align-items-start tw-gap-6">
                                <img src="assets/images/icons/line-quate-two.png" alt="Icon" class="tw-mt-2">
                                <p class="text-22-px fst-italic text-heading line-clamp-3 max-w-590-px">
                                    “They create stunning architectural concepts that capture the essence of community &
                                    surroundings, blending aesthetics with functionality.”
                                </p>
                            </div>
                            <div class="tw-mt-14 d-flex align-items-center justify-content-between flex-wrap tw-gap-6">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <img src="assets/images/thumbs/testi-img1.png" alt="Image">
                                    <div class="">
                                        <h6 class="tw-text-lg">Robiul Hasan</h6>
                                        <span class="text-neutral-600 fw-medium tw-mt-1">Small Business Owner</span>
                                    </div>
                                </div>
                                <div class="">
                                    <img src="assets/images/icons/trustpilot-full-logo.png" alt="Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tw-p-48-px tw-rounded-xl overflow-hidden bg-white" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="300">
                            <div class="d-flex align-items-start tw-gap-6">
                                <img src="assets/images/icons/line-quate-two.png" alt="Icon" class="tw-mt-2">
                                <p class="text-22-px fst-italic text-heading line-clamp-3 max-w-590-px">
                                    “They create stunning architectural concepts that capture the essence of community &
                                    surroundings, blending aesthetics with functionality.”
                                </p>
                            </div>
                            <div class="tw-mt-14 d-flex align-items-center justify-content-between flex-wrap tw-gap-6">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <img src="assets/images/thumbs/testi-img2.png" alt="Image">
                                    <div class="">
                                        <h6 class="tw-text-lg">Robiul Hasan</h6>
                                        <span class="text-neutral-600 fw-medium tw-mt-1">Small Business Owner</span>
                                    </div>
                                </div>
                                <div class="">
                                    <img src="assets/images/icons/trustpilot-full-logo.png" alt="Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tw-p-48-px tw-rounded-xl overflow-hidden bg-white" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="300">
                            <div class="d-flex align-items-start tw-gap-6">
                                <img src="assets/images/icons/line-quate-two.png" alt="Icon" class="tw-mt-2">
                                <p class="text-22-px fst-italic text-heading line-clamp-3 max-w-590-px">
                                    “They create stunning architectural concepts that capture the essence of community &
                                    surroundings, blending aesthetics with functionality.”
                                </p>
                            </div>
                            <div class="tw-mt-14 d-flex align-items-center justify-content-between flex-wrap tw-gap-6">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <img src="assets/images/thumbs/testimonials-two-small-img.png" alt="Image">
                                    <div class="">
                                        <h6 class="tw-text-lg">Robiul Hasan</h6>
                                        <span class="text-neutral-600 fw-medium tw-mt-1">Small Business Owner</span>
                                    </div>
                                </div>
                                <div class="">
                                    <img src="assets/images/icons/trustpilot-full-logo.png" alt="Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Testimonials Four section end ============================ -->