<!-- ==================================== Testimonials Two section start =================================== -->
<section class="testimonials-two bg-main-600 position-relative z-1">
  <img src="assets/images/shapes/round-half-shape.png" alt="Shape"
    class="position-absolute tw-end-0 bottom-0 z-n1 animated-upDown-two">

  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="py-120">
          <!-- Section heading start -->
          <div class="section-heading max-w-890-px tw-mb-17" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            <span class="bg-white-06 text-white fw-normal tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
              Our Testimonial</span>
            <h2 class="text-white splitTextStyleOne cursor-big pointer-events-auto">
              Why Our
              <span class="font-playfair fw-normal fst-italic">
                Client Say!</span>
            </h2>
          </div>
          <!-- Section heading end -->

          <div class="swiper testimonials-two-slider" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonials-two-item">
                  <div class="d-flex align-items-center tw-gap-6">
                    <img src="assets/images/icons/quate-icon-two.png" alt="Icon">
                    <p class="h5 fw-medium max-w-346-px text-balance text-white">
                      “Our Team is Satisfied To Work this Team.”
                    </p>
                  </div>
                  <div class="tw-mt-13">
                    <p class="text-white fst-italic fw-normal text-22-px">
                      "Working with SEO7 has been a game-changer for our social
                      media presence. Their strategic approach & attention to
                      detail have helped us reach new heights."
                    </p>
                  </div>
                  <div class="tw-mt-13 d-flex align-items-center tw-gap-4">
                    <img src="assets/images/thumbs/testi-img1.png" alt="Image"
                      class="tw-w-15 tw-h-15 rounded-circle object-fit-cover border border-white">
                    <div class="">
                      <h5 class="tw-text-lg text-white">Shahriar Rahman</h5>
                      <p class="text-white tw-text-base fw-normal">
                        Small Business Owner
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonials-two-item">
                  <div class="d-flex align-items-center tw-gap-6">
                    <img src="assets/images/icons/quate-icon-two.png" alt="Icon">
                    <p class="h5 fw-medium max-w-346-px text-balance text-white">
                      “Our Team is Satisfied To Work this Team.”
                    </p>
                  </div>
                  <div class="tw-mt-13">
                    <p class="text-white fst-italic fw-normal text-22-px">
                      "Working with SEO7 has revolutionized our social media
                      coverage Their strategic approach & attention to detail
                      have helped us reach new heights."
                    </p>
                  </div>
                  <div class="tw-mt-13 d-flex align-items-center tw-gap-4">
                    <img src="assets/images/thumbs/testi-img1.png" alt="Image"
                      class="tw-w-15 tw-h-15 rounded-circle object-fit-cover border border-white">
                    <div class="">
                      <h5 class="tw-text-lg text-white">Robiul Hasan</h5>
                      <p class="text-white tw-text-base fw-normal">
                        Front End Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="testimonials-two__navigations d-flex align-items-center tw-gap-6 position-absolute tw-end-0 bottom-0 z-1 tw-pe-10 bg-main-600 tw-pt-6">
              <div
                class="tw-w-12 tw-h-12 tw-rounded-md bg-main-700 border border-white hover-bg-main-two-600 hover-border-main-two-600 text-white tw-text-lg hover-text-heading tw-duration-300 d-flex justify-content-center align-items-center testimonials-two-button-prev">
                <i class="ph-bold ph-arrow-left"></i>
              </div>
              <div
                class="tw-w-12 tw-h-12 tw-rounded-md bg-main-700 border border-white hover-bg-main-two-600 hover-border-main-two-600 text-white tw-text-lg hover-text-heading tw-duration-300 d-flex justify-content-center align-items-center testimonials-two-button-next">
                <i class="ph-bold ph-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 d-xl-block d-none tw--mt-30-px">
        <div class="position-relative h-100">
          <img src="assets/images/thumbs/testimonials-two-img.png" alt="Thumbnail" class="h-100 object-fit-cover"
            data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
          <div
            class="position-absolute tw-mb-17 tw-pb-5 tw-end-0 bottom-0 tw-me-14 animated-upDown hover-parallax-wrapper">
            <div
              class="bg-white rounded-circle tw-p-9 text-center aspect-square d-flex justify-content-center align-items-center flex-column hover-parallax-item">
              <img src="assets/images/icons/google-icon.png" alt="Google Icon">
              <h2 class="text-main-600 counter">583+</h2>
              <span class="text-neutral-500 tw-text-lg fw-medium">Google Reviews</span>
            </div>
          </div>
          <img src="assets/images/shapes/service-two-shape1.png" alt="Shape"
            class="position-absolute bottom-50 tw-start-0 animation-scalation">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================================== Testimonials Two section end =================================== -->