<!-- ==================================== Testimonials Two section start =================================== -->
<section class="testimonials-two bg-main-600 position-relative z-1">
  <img
    src="assets/images/shapes/round-half-shape.png"
    alt="Shape"
    class="position-absolute tw-end-0 bottom-0 z-n1 animated-upDown-two"
  />

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="py-120"></div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative">
          <img
            src="assets/images/thumbs/testimonials-two-img.png"
            alt="Thumbnail"
          />
          <div
            class="position-absolute tw-mb-17 tw-pb-5 tw-end-0 bottom-0 tw-me-14 animated-upDown"
          >
            <div
              class="bg-white rounded-circle tw-p-9 text-center aspect-square d-flex justify-content-center align-items-center flex-column"
            >
              <img
                src="assets/images/icons/google-icon.png"
                alt="Google Icon"
              />
              <h2 class="text-main-600 counter">583+</h2>
              <span class="text-neutral-500 tw-text-lg fw-medium"
                >Google Reviews</span
              >
            </div>
          </div>
          <img
            src="assets/images/shapes/service-two-shape1.png"
            alt="Shape"
            class="position-absolute bottom-50 tw-start-0 animation-scalation"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================================== Testimonials Two section end =================================== -->
