<!-- ========================= Testimonials New Two section start ===============================-->
<section class="testimonials-new-two py-140">
    <div class="container">
        <div class="">
            <div class="">
                <img src="assets/images/thumbs/testimonials-new-two-img1.png" alt="Testimonials Image">
            </div>
            <div class="">
                <img src="assets/images/thumbs/testimonials-new-two-img2.png" alt="Testimonials Two">
            </div>
            <div class="">
                <img src="assets/images/thumbs/testimonials-new-two-img3.png" alt="Testimonials Three">
            </div>
        </div>
        <div class="testimonials-new-two-slider">
            <div class="text-center max-w-960-px mx-auto">
                <div class="d-inline-flex align-items-center tw-gap-1">
                    <span class="d-inline-flex tw-text-lg tw-leading-none text-main-two-600">
                        <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="d-inline-flex tw-text-lg tw-leading-none text-main-two-600">
                        <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="d-inline-flex tw-text-lg tw-leading-none text-main-two-600">
                        <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="d-inline-flex tw-text-lg tw-leading-none text-main-two-600">
                        <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="d-inline-flex tw-text-lg tw-leading-none text-main-two-600">
                        <i class="ph-fill ph-star"></i>
                    </span>
                </div>
                <div class="">
                    <p
                        class="text-64-px line-height-11 font-big-shoulders fw-medium tw-leading-none text-white tw-mt-12">
                        “The exceptional service and results delivered by Budgeto have made them our go-to consultancy
                        and legal partner. We combine deep industry knowledge with innovative legal strategies.”</p>
                    <div class="d-inline-flex align-items-center tw-gap-4 tw-mt-12 flex-wrap">
                        <div class="d-inline-flex align-items-center tw-gap-3">
                            <span class="tw-w-11 tw-h-px bg-white"></span>
                            <h4 class="h5 text-white fw-medium">Shahriar Rahman</h4>
                        </div>
                        <span class="text-neutral-400">Small Business Owner </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center tw-gap-5">
            <div class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center bg-black text-main-two-600 hover-text-heading hover-bg-main-two-600 tw-duration-300 border border-white text-white hover-border-main-two-600 testimonials-new-prev"
                tabindex="0" role="button" aria-label="Previous slide">
                <i class="ph-bold ph-arrow-left"></i>
            </div>
            <div class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center bg-black text-main-two-600 hover-text-heading hover-bg-main-two-600 tw-duration-300 border border-white text-white hover-border-main-two-600 testimonials-new-next"
                tabindex="0" role="button" aria-label="Next slide">
                <i class="ph-bold ph-arrow-right"></i>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Testimonials New Two section end ===============================-->