<!-- ============================= Testimonials section start =========================== -->
<section class="testimonials py-120 bg-main-40 position-relative z-1">
  <img
    src="assets/images/shapes/testi-shape1.png"
    alt="Shape"
    class="position-absolute d-xl-block d-none tw-start-0 bottom-0 z-n1"
  />
  <img
    src="assets/images/shapes/team-shape2.png"
    alt="Shape"
    class="position-absolute z-n1 d-xl-block d-none tw-end-0 bottom-0 tw-pb-17 tw-mb-5 tw-me-250-px scale-animation"
  />

  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-6">
        <div class="">
          <!-- Section heading start -->
          <div
            class="max-w-680-px tw-mb-10"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            <span
              class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
            >
              Our Testimonial</span
            >
            <h2 class="splitTextStyleOne cursor-big">
              Why Our
              <span class="font-playfair fw-normal font-playfair fst-italic"
                >Client Say!</span
              >
            </h2>
            <p class="tw-text-lg text-neutral-500 tw-mt-8 max-w-590-px">
              SEO and digital marketing agency committed to helping businesses
              grow online. With a team of skilled strategists, designers, and
              marketers, we craft tailored solutions that boost visibility.
            </p>
          </div>
          <!-- Section heading end -->
          <div
            class="tw-mt-17"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            <div
              class="d-flex align-items-sm-center align-items-start tw-gap-52-px flex-sm-row flex-column"
            >
              <div class="d-flex align-items-center tw-gap-5">
                <div class="d-flex flex-column tw-gap-2">
                  <span class="fw-medium text-heading">Review On</span>
                  <img
                    src="assets/images/thumbs/trustpilot.png"
                    alt="Trust pilot"
                  />
                </div>
                <div class="d-flex flex-column tw-gap-2">
                  <img src="assets/images/icons/stars.png" alt="Stars" />
                  <span class="fw-medium text-neutral-500">643+ Reviews</span>
                </div>
              </div>
              <span
                class="tw-h-11 tw-w-px bg-neutral-300 d-sm-flex d-none"
              ></span>
              <div class="d-flex align-items-center tw-gap-4">
                <img
                  src="assets/images/icons/google-icon.png"
                  alt="Google Icon"
                />
                <div class="">
                  <div class="d-flex align-items-center tw-gap-1">
                    <span class="tw-text-lg tw-leading-none text-yellow">
                      <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="tw-text-lg tw-leading-none text-yellow">
                      <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="tw-text-lg tw-leading-none text-yellow">
                      <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="tw-text-lg tw-leading-none text-yellow">
                      <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="tw-text-lg tw-leading-none text-yellow">
                      <i class="ph-fill ph-star"></i>
                    </span>
                  </div>
                  <span class="text-neutral-500 d-block tw-mt-2"
                    >Review 4.9/5.0</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="swiper testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="border border-neutral-600 tw-p-48-px tw-rounded-xl overflow-hidden bg-white"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="300"
              >
                <div class="d-flex align-items-center tw-gap-6">
                  <img
                    src="assets/images/icons/line-quate-two.png"
                    alt="Icon"
                  />
                  <h5 class="max-w-346-px">
                    “Our Team is Satisfied To Work this Team.”
                  </h5>
                </div>
                <p
                  class="text-22-px fst-italic tw-mt-12 text-heading line-clamp-3 max-w-590-px"
                >
                  "Working with SEO7 has been a game-changer for our social
                  media presence. Their strategic approach & attention to detail
                  have helped us reach new heights."
                </p>
                <div
                  class="tw-mt-17 d-flex align-items-center justify-content-between flex-wrap tw-gap-6"
                >
                  <div class="d-flex align-items-center tw-gap-4">
                    <img
                      src="assets/images/thumbs/testi-img1.png"
                      alt="Image"
                    />
                    <div class="">
                      <h6 class="tw-text-lg">Shahriar Rahman</h6>
                      <span class="text-neutral-600 fw-medium tw-mt-1"
                        >Small Business Owner</span
                      >
                    </div>
                  </div>
                  <div class="">
                    <img
                      src="assets/images/icons/trustpilot-full-logo.png"
                      alt="Logo"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="border border-neutral-600 tw-p-48-px tw-rounded-xl overflow-hidden bg-white"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="300"
              >
                <div class="d-flex align-items-center tw-gap-6">
                  <img
                    src="assets/images/icons/line-quate-two.png"
                    alt="Icon"
                  />
                  <h5 class="max-w-346-px">
                    “Our Team is Satisfied To Work this Team.”
                  </h5>
                </div>
                <p
                  class="text-22-px fst-italic tw-mt-12 text-heading line-clamp-3 max-w-590-px"
                >
                  "Our social media presence has changed dramatically as a
                  result of working with SEO7. We have been able to achieve new
                  heights thanks to their strategic approach and attention to
                  detail."
                </p>
                <div
                  class="tw-mt-17 d-flex align-items-center justify-content-between flex-wrap tw-gap-6"
                >
                  <div class="d-flex align-items-center tw-gap-4">
                    <img
                      src="assets/images/thumbs/testi-img1.png"
                      alt="Image"
                    />
                    <div class="">
                      <h6 class="tw-text-lg">Robiul Hasan</h6>
                      <span class="text-neutral-600 fw-medium tw-mt-1"
                        >Small Business Owner</span
                      >
                    </div>
                  </div>
                  <div class="">
                    <img
                      src="assets/images/icons/trustpilot-full-logo.png"
                      alt="Logo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center tw-gap-5 tw-mt-6">
            <div
              class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center tw-rounded-lg text-main-600 hover-text-white hover-bg-main-600 tw-duration-300 bg-white border border-main-300 hover-border-main-600 testi-button-prev"
            >
              <i class="ph-bold ph-arrow-left"></i>
            </div>
            <div
              class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center tw-rounded-lg text-main-600 hover-text-white hover-bg-main-600 tw-duration-300 bg-white border border-main-300 hover-border-main-600 testi-button-next"
            >
              <i class="ph-bold ph-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================= Testimonials section end =========================== -->
