<!-- ============================== Value four section start ================================== -->
<section class="value-four py-120 bg-cream-white position-relative z-1">
    <div class="container max-w-1520-px position-relative">
        <div class="container">
            <!-- Section heading start -->
            <div class="max-w-780-px tw-mb-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <span class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
                    Our Value</span>
                <h2 class="splitTextStyleOne cursor-big">
                    Our Approach
                </h2>
                <p class="tw-text-lg text-neutral-500 tw-mt-8 max-w-680-px">
                    Services are professional offerings provided by businesses to meet specific needs or solve problems
                    for
                    their customers. Services can range from your budget.
                </p>
            </div>
            <!-- Section heading end -->
        </div>

        <!-- Shapes & Images start -->
        <div class="d-lg-flex d-none tw-gap-10 align-items-start position-absolute tw-end-0 top-0 z-n1">
            <img src="assets/images/shapes/arrow-curve-shape-four-two.png" alt="Shape"
                class="pt-120 tw-mt-17 left-right-animation">
            <img src="assets/images/thumbs/value-four-vector-img.png" alt="Image" class="animated-upDown">
        </div>
        <!-- Shapes & Images end -->

        <div class="row gy-5">
            <div class="col-lg-4">
                <div class="hover-animation-white h-100" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <img src="assets/images/thumbs/value-four-img.png" alt="Image"
                        class="w-100 h-100 tw-rounded-xl object-fit-cover">
                </div>
            </div>
            <div class="col-lg-8 ps-xl-5">
                <div class="d-flex align-items-center tw-gap-56-px pe-xxl-5">
                    <div class="">
                        <h4 class="splitTextStyleOne cursor-big tw-mt-9 text-42-px max-w-410-px text-balance"
                            data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                            Every Great Design Begins With
                            <span class="font-playfair text-42-px fst-italic fw-normal">a Great Story.</span>
                        </h4>

                        <div class="d-flex align-items-center tw-mt-17 tw-gap-64-px flex-sm-nowrap flex-wrap">
                            <div class="text-start max-w-280-px animation-item" data-aos="fade-up"
                                data-aos-duration="1000" data-aos-delay="200">
                                <span class="tw-mb-10">
                                    <img src="assets/images/icons/value-four-icon1.png" alt="Icon"
                                        class="animate__wobble">
                                </span>
                                <h6 class="">Creative Strategy</h6>
                                <p class="tw-mt-4">With a team of skilled strategists, designers, and marketers.</p>
                            </div>
                            <div class="text-start max-w-280-px animation-item" data-aos="fade-up"
                                data-aos-duration="1000" data-aos-delay="300">
                                <span class="tw-mb-10">
                                    <img src="assets/images/icons/value-four-icon2.png" alt="Icon"
                                        class="animate__wobble">
                                </span>
                                <h6 class="">Rebranding Design</h6>
                                <p class="tw-mt-4">With a team of skilled strategists, designers, and marketers.</p>
                            </div>
                            <!-- <div class=""> -->
                            <div class="flex-shrink-0" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                                <div
                                    class="bg-main-two-600 text-heading rounded-circle text-center d-flex justify-content-center align-items-center flex-column tw-p-10 w-100 h-100 max-w-280-px aspect-ratio-1 flex-shrink-">
                                    <h2 class="fw-medium counter text-100-px fw-semibold">46k+</h2>
                                    <span class="fw-semibold tw-text-lg tw-mt-4">Project Done</span>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ============================== Value four section end ================================== -->