<!-- ============================== Value four section start ================================== -->
<section class="value-four py-120 bg-cream-white">
    <div class="container">
        <!-- Section heading start -->
        <div class="max-w-680-px tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <span class="bg-main-100 text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6">
                Our Value</span>
            <h2 class="splitTextStyleOne cursor-big">
                Our Approach
            </h2>
            <p class="tw-text-lg text-neutral-500 tw-mt-8 max-w-590-px">
                Services are professional offerings provided by businesses to meet specific needs or solve problems for
                their customers. Services can range from your budget.
            </p>
        </div>
        <!-- Section heading end -->
    </div>

    <div class="container max-w-1520-px">
        <div class="">

        </div>
    </div>

</section>
<!-- ============================== Value four section end ================================== -->