<!-- =========================== Work with us section start ============================ -->
<section class="work-with-us bg-main-40 overflow-hidden">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="py-120">
          <div class="">
            <span
              class="bg-white text-main-600 fw-medium tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-6"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              Work With Us</span
            >
            <h2
              class="splitTextStyleOne cursor-big"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              The Secret Weapon For Your
              <span class="font-playfair fw-normal font-playfair fst-italic"
                >Business Success</span
              >
            </h2>
            <p
              class="tw-mt-13 text-neutral-500 tw-text-lg"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              SEO and digital marketing agency committed to helping businesses
              grow online. With a team of skilled strategists, designers, and
              marketers, we craft tailored solutions that boost visibility.
            </p>
          </div>
          <div class="tw-pt-14">
            <div class="d-flex flex-column tw-gap-10">
              <div
                class=""
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="100"
              >
                <span
                  class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small"
                  >Content Marketing</span
                >
                <div
                  class="progress-container style-yellow"
                  data-percentage="80"
                >
                  <div class="progress active"></div>
                  <div class="percentage active cursor-small">0%</div>
                </div>
              </div>
              <div
                class=""
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="100"
              >
                <span
                  class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small"
                  >Analytics & Reporting</span
                >
                <div class="progress-container" data-percentage="90">
                  <div class="progress active"></div>
                  <div class="percentage active cursor-small">0%</div>
                </div>
              </div>
            </div>
            <div
              class="tw-pt-14"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              <a
                href="contact.html"
                class="btn btn-main hover-style-one group group-item button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group active--translate-y-2 pointer-events-auto rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Work With Us</span>
                <span class="tw-text-lg tw-leading-none z-1 position-relative d-flex">
                  <img
                    src="assets/images/icons/arrow-right.png"
                    loading="lazy" alt="Arrow"
                    class="arrow-right-img group-hover-item-text-invert-white tw-duration-300 group-hover-item-rotate-45-deg invert"
                  >
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 align-self-end d-lg-block d-none">
        <div class="text-end position-relative z-1">
          <img
            src="assets/images/thumbs/work-with-us-img.png"
            loading="lazy" alt="Image"
            class="z-1 position-relative"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="100"
          >
          <img
            src="assets/images/shapes/work-with-us-dots.png"
            loading="lazy" alt="Shape"
            class="position-absolute tw-start-0 top-0 tw-mt-15 tw-ms-17 z-n1 animation-scalation"
          >
          <img
            src="assets/images/bg/work-with-us-gradient.png"
            loading="lazy" alt="Gradient BG"
            class="position-absolute tw-end-0 bottom-0 z-n1 tw--me-80-px animated-upDown-two"
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =========================== Work with us section end ============================ -->
