<!-- ======================= Working Process new two section start ===================== -->
<section class="working-process-new-two py-140 overflow-hidden position-relative z-1">
    <div class="scale-up-wrapper position-absolute top-0 tw-start-0 w-100 h-100 z-n1">
        <img src="assets/images/bg/work-process-new-two-bg.png" class="w-100 h-100 object-fit-cover scale-up__img"
            loading="lazy" alt="Agency Thumbnail Image">
    </div>

    <div class="container">
        <div class="d-flex align-items-center tw-gap-10 justify-content-between flex-lg-nowrap flex-wrap">
            <div class="max-w-440-px">
                <h3 class="h1 text-white">OUR WORKING PROCESS</h3>
                <p class="text-white tw-mt-10">We develop strategies that align with your business goals, defining clear
                    objectives and actionable steps to build a powerful, enduring brand.</p>
            </div>
            <div class="position-relative">
                <div class="bg-white tw-rounded-xl tw-p-205 max-w-455-px shadow-lg card-one position-absolute top-0 tw-start-0">
                    <div class="tw-p-6">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <h3 class="max-w-250-px">EXPLORE THE BRANDING</h3>
                            <h3 class="text-main-two-600 h4">Step 01</h3>
                        </div>
                        <p class="text-neutral-500 tw-mt-8">We develop strategies that align with your business goals,
                            defining clear and actionable steps to build a powerful.</p>
                    </div>
                    <figure
                        class="mb-0 hover-animation-white position-relative overflow-hidden h-100 mb-0 scale-up-wrapper tw-rounded-xl">
                        <img src="assets/images/thumbs/working-process-new-two-img1.png" loading="lazy" alt="Working Process Image One"
                            class="w-100 h-100 object-fit-cover hover-animation-white">
                    </figure>
                </div>
                <div class="bg-white tw-rounded-xl tw-p-205 max-w-455-px shadow-lg card-two position-absolute top-0 tw-start-0">
                    <div class="tw-p-6">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <h3 class="max-w-250-px">DISCOVER AND STRATEGY</h3>
                            <h3 class="text-main-two-600 h4">Step 02</h3>
                        </div>
                        <p class="text-neutral-500 tw-mt-8">We develop strategies that align with your business goals,
                            defining clear and actionable steps to build a powerful.</p>
                    </div>
                    <figure
                        class="mb-0 hover-animation-white position-relative overflow-hidden h-100 mb-0 scale-up-wrapper tw-rounded-xl">
                        <img src="assets/images/thumbs/working-process-new-two-img2.png" loading="lazy" alt="Working Process Image One"
                            class="w-100 h-100 object-fit-cover hover-animation-white">
                    </figure>
                </div>
                <div class="bg-white tw-rounded-xl tw-p-205 max-w-455-px shadow-lg card-three">
                    <div class="tw-p-6">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <h3 class="max-w-250-px">GROW YOUR BUSINESS</h3>
                            <h3 class="text-main-two-600 h4">Step 03</h3>
                        </div>
                        <p class="text-neutral-500 tw-mt-8">We develop strategies that align with your business goals,
                            defining clear and actionable steps to build a powerful.</p>
                    </div>
                    <figure
                        class="mb-0 hover-animation-white position-relative overflow-hidden h-100 mb-0 scale-up-wrapper tw-rounded-xl">
                        <img src="assets/images/thumbs/working-process-new-two-img3.png" loading="lazy" alt="Working Process Image One"
                            class="w-100 h-100 object-fit-cover hover-animation-white">
                    </figure>
                </div>
            </div>
            <div class="">
                <!-- Rotate Text Start -->
                <div class="rotate-text-wrapper hover-parallax-wrapper">
                    <a href="about.html"
                        class="position-relative pointer-events-auto group group-item hover-parallax-item bg-white-13 tw-p-4 rounded-circle border border-white blur-style-two">
                        <img src="assets/images/shapes/totate-text-new.png" loading="lazy" alt="Rotate Text"
                            class="animation-rotate-right">
                        <span
                            class="position-absolute top-50 tw-start-50 tw--translate-middle text-main-two-600 tw-text-2xl group-hover-text-main-600">
                            <img src="assets/images/logo/favicon-big.png" loading="lazy" alt="Favicon">
                        </span>
                    </a>
                </div>
                <!-- Rotate Text End -->
            </div>
        </div>
    </div>

    <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden position-absolute bottom-0 tw-start-0 w-100 translate-y-48-px">
        <div class="d-flex align-items-center tw-gap-10 animation-item">
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">*</h3>
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">working process</h3>
        </div>
        <div class="d-flex align-items-center tw-gap-10 animation-item">
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">*</h3>
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">working process</h3>
        </div>
        <div class="d-flex align-items-center tw-gap-10 animation-item">
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">*</h3>
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">working process</h3>
        </div>
        <div class="d-flex align-items-center tw-gap-10 animation-item">
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">*</h3>
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">working process</h3>
        </div>
        <div class="d-flex align-items-center tw-gap-10 animation-item">
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">*</h3>
            <h3 class="text-uppercase text-222-px text-stroke-white tw-leading-none">working process</h3>
        </div>
    </div>

</section>
<!-- ======================= Working Process new two section end ===================== -->