/* hover bg class start */
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

// hover background
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .hover-bg-#{$color}-#{$shade} {
      &:hover {
        background-color: var(--#{$color}-#{$shade}) !important;
      }
    }
  }
}

.hover-bg-white {
  &:hover {
    background-color: hsl(var(--white)) !important;
  }
}

.bg-white {
  &-08 {
    background-color: hsl(var(--white) / 0.08);
  }
  &-13 {
    background-color: hsl(var(--white) / 0.13);
  }
  &-7 {
    background-color: hsl(var(--white) / 0.7);
  }
  &-06 {
    background-color: hsl(var(--white) / 0.06);
  }
}
/* hover bg class end */

.flowmap-deformation-wrapper {
  display: block;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.flowmap-deformation-wrapper canvas {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}
.flowmap-deformation-wrapper.active canvas {
  opacity: 1;
}
// .body-overlay {
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   pointer-events: none;
//   opacity: 0;
//   cursor: pointer;
//   z-index: 9;
//   -webkit-transition: opacity 0.3s;
//   transition: opacity 0.3s;
// }
// .body-overlay.active {
//   opacity: 0.5;
//   pointer-events: auto;
// }
// .body-line {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 0;
//   border-left: solid 1px;
//   left: 50%;
//   right: initial;
//   z-index: 1;
// }
// .body-line.body-line-l1 {
//   margin-left: -726px;
// }
// .body-line.body-line-l2 {
//   margin-left: -447px;
// }
// .body-line.body-line-r1 {
//   margin-left: 345px;
// }
