
/* ================================= Classes Css Start =========================== */
.col-xs-6 {
    @media screen and (min-width: 425px) and (max-width: 575px) {
        width: 50%;
    }
}

.tw-leading {
    &-none {
        line-height: 1;
    }
    &-14 {
        line-height: 1.4;
    }
}

.opacity-05 {
    opacity: .05;
}

.opacity-1 {
    opacity: .1;
}

.aspect-ratio-1 {
    aspect-ratio: 1
}

.filter-blur-20-px {
    filter: blur(20px);
}

.letter-spacing--10-px {
    letter-spacing: -10px;
}
/* ================================= Classes Css End =========================== */