/* Font Size Class Start */
.text {
  &-inherit {
    font-size: inherit;
  }
  &-22-px {
    font-size: clamp(1rem, -0.5476rem + 5.5679vw, 1.375rem);
  }
  &-84-px {
    font-size: clamp(2.125rem, -0.5476rem + 5.5679vw, 5.25rem);
  }
  &-64-px {
    font-size: 4rem;
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}
/* Font Size Class End */

@each $property, $value in $spaces {
  .tw-text-#{$property} {
    font-size: $value;
  }
}
/* Font Size Class End */
