.font {
    &-heading {
        font-family: var(--heading-font);
    }
    &-body {
        font-family: var(--body-font);
    }
    &-playfair {
        font-family: var(--playfair-font);
    }
    &-big-shoulders {
        font-family: var(--big-shoulders-font);
    }
}

.text-balance {
    text-wrap: balance;
}

.writing-mode-lr {
    writing-mode: sideways-lr;
}