/* ======================== Group Css Start =============================== */
.group {
  &:hover {
    .group-hover-text {
      &-white {
        color: hsl(var(--white)) !important;
      }
      &-main-600 {
        color: var(--main-600) !important;
      }
      &-main-two-600 {
        color: var(--main-two-600) !important;
      }
    }
    .group-hover-bg {
      &-white {
        background-color: hsl(var(--white)) !important;
      }
      &-main-600 {
        background-color: var(--main-600) !important;
      }
    }
    .group-hover-border {
      &-main-two-600 {
        border-color: var(--main-two-600) !important;
      }
    }
  }
  &-hover-text-transition {
    transition: inherit;
  }
}

.tw-invisible {
  visibility: hidden;
}
.invert {
  filter: invert(100%);
}

.group-item {
  &:hover {
    .group-hover-item-visible {
      visibility: visible;
    }
    .group-hover-item-opacity-1 {
      opacity: 1 !important;
    }
    .group-hover-item-mt-0 {
      margin-top: 0;
    }
    .group-hover-item-scale-12 {
      transform: scale(1.2);
    }
    .group-hover-item-scale-1 {
      transform: scale(1);
    }
    .group-hover-item-rotate-45-deg {
      transform: translateY(-3px) rotate(-35deg);
    }
    .group-hover-item-rotate-0-deg {
      transform: rotate(0deg);
    }
    .group-hover-item-translate-x-0 {
      transform: translateX(0);
    }
    .group-hover-item-d-block {
      display: block !important;
    }
    .group-hover-item-d-none {
      display: none !important;
    }
    .group-hover-item-text-invert-white {
      filter: brightness(0) invert(1);
    }
    .group-hover-item-text-invert-black {
      filter: brightness(0) invert(0);
    }
  }
}

  .text-invert-white {
    filter: brightness(0) invert(1);
  }
/* ======================== Group Css End =============================== */
