/* Height Css Class Start */
@each $property, $value in $spaces {
  .tw-h-#{$property} {
    height: $value;
  }
}

.tw-h {
  &-px {
    height: 1px;
  }
  &-screen {
    height: 100vh;
  }
  &-75-px {
    height: 75px;
  }
  &-84-px {
    height: 84px;
  }
  &-92-px {
    height: 92px;
  }
  &-96-px {
    height: 96px;
  }
  &-120-px {
    height: 120px;
  }
  &-104-px {
    height: 104px;
  }
  &-320-px {
    height: 320px;
  }
  &-390-px {
    height: 390px;
  }
  &-402-px {
    height: 402px;
  }
  &-440-px {
    height: 440px;
  }
}

.tw-min-h {
  &-150-px {
    min-height: 150px;
  }
  &-184-px {
    min-height: 184px;
  }
  &-210-px {
    min-height: 210px !important;
  }
}
/* Height Css Class End */
