/* ================================= Margin Css Start =========================== */
@each $property, $value in $spaces {
  .tw-m-#{$property} {
    margin: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-mx-#{$property} {
    margin-inline: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-my-#{$property} {
    margin-block: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-ms-#{$property} {
    margin-inline-start: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-me-#{$property} {
    margin-inline-end: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-mt-#{$property} {
    margin-block-start: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-mb-#{$property} {
    margin-block-end: var(--size-#{$property});
  }
}

.tw {
  &-ms-auto {
    margin-inline-start: auto;
  }
  &-me {
    &-auto {
      margin-inline-end: auto;
    }
    &-250-px {
      margin-inline-end: 250px;
    }
  }
}

.tw {
  &--ms {
    &-20-px {
      margin-inline-start: -20px;
    }
  }
  &--me {
    &-80-px {
      margin-inline-end: -80px;
    }
  }
  &--mt {
    &-20-px {
      margin-block-start: -20px;
    }
    &-26-px {
      margin-block-start: -26px;
    }
    &-30-px {
      margin-block-start: -30px;
    }
    &-160-px {
      margin-block-start: -160px;
    }
  }
  &-mb {
    &-132-px {
      margin-block-end: clamp(3rem, -2.5082rem + 11.4754vw, 8.25rem);
    }
    &-78-px {
      margin-block-end: 78px;
    }
  }
  &-mt {
    &-10-percent {
      margin-block-start: 10%;
    }
  }
  &-ms {
    &-10-percent {
      margin-inline-start: 10%;
    }
    &-100-px {
      margin-inline-start: clamp(1.5rem, -2.8846rem + 9.1346vw, 6.25rem);;
    }
  }
  &--me {
    &-7-percent {
      margin-inline-end: -7%;
    }
  }
  &--mb {
    &-12-percent {
      margin-block-end: -12%;
    }
  }
}

.my-120 {
  margin-block-start: 60px;
  margin-block-end: 60px;
  @media (min-width: 576px) {
    margin-block-start: 80px;
    margin-block-end: 80px;
  }
  @media (min-width: 992px) {
    margin-block-start: 120px;
    margin-block-end: 120px;
  }
}
.mt-120 {
  margin-block-start: 60px;
  @media (min-width: 576px) {
    margin-block-start: 80px;
  }
  @media (min-width: 992px) {
    margin-block-start: 120px;
  }
}
.mb-120 {
  margin-block-end: 60px;
  @media (min-width: 576px) {
    margin-block-end: 80px;
  }
  @media (min-width: 992px) {
    margin-block-end: 120px;
  }
}
.mt-60 {
  margin-block-start: 30px;
  @media (min-width: 576px) {
    margin-block-start: 40px;
  }
  @media (min-width: 992px) {
    margin-block-start: 60px;
  }
}
.mb-60 {
  margin-block-end: 30px;
  @media (min-width: 576px) {
    margin-block-end: 40px;
  }
  @media (min-width: 992px) {
    margin-block-end: 60px;
  }
}
/* ================================= Margin Css End =========================== */
