/* Max width Css Class Start */
.max-w {
  &-200-px {
    max-width: 200px;
  }
  &-1700-px {
    max-width: 1700px;
  }
  &-1710-px {
    max-width: 1710px;
  }
  &-1854-px {
    max-width: 1854px;
  }
  &-114-px {
    max-width: 114px;
  }
  &-214-px {
    max-width: 214px;
  }
  &-346-px {
    max-width: 346px;
  }
  &-430-px {
    max-width: 430px;
  }
  &-330-px {
    max-width: 330px;
  }
  &-576-px {
    max-width: 576px;
  }
  &-1140-px {
    max-width: 1140px;
  }
  &-1290-px {
    max-width: 1290px;
  }
  &-1520-px {
    max-width: 1520px;
  }
  &-1550-px {
    max-width: 1550px;
  }
  &-1720-px {
    max-width: 1720px;
  }
  &-630-px {
    max-width: 630px;
  }
  &-680-px {
    max-width: 680px;
  }
  &-780-px {
    max-width: 780px;
  }
  &-410-px {
    max-width: 410px;
  }
  &-590-px {
    max-width: 590px;
  }
  &-845-px {
    max-width: 845px;
  }
  &-890-px {
    max-width: 890px;
  }
  &-455-px {
    max-width: 455px;
  }
  &-510-px {
    max-width: 510px;
  }
  &-550-px {
    max-width: 550px;
  }
  &-280-px {
    max-width: 280px;
  }
}
/* Max width Css Class End */
