/* Box shadow start */
.common-shadow {
  box-shadow: 0 6px 30px 0px #0000000a;
  &-2 {
    box-shadow: 8px 4.98px 24.88px 11px #060c3b0d;
  }
  &-3 {
    box-shadow: 17px 19px 80.8px 12px #10053a08;
  }
  &-4 {
    box-shadow: 17px 19px 80.8px 12px #10053a08;
  }
  &-5 {
    box-shadow: 0px 0px 80.8px 12px #10053A0D;
  }
  &-6 {
    box-shadow: -7px -7px 80.8px 12px #10053A08;
  }
}
/* Box shadow End */
