/* width Css Class start */
@each $property, $value in $spaces {
  .tw-w-#{$property} {
    width: $value;
  }
}

.min-w-max {
  min-width: max-content;
}

.tw-w {
  &-w-max {
    width: max-content;
  }
  &-px {
    width: 1px;
  }
  &-300-px {
    width: 300px;
  }
  &-92-px {
    width: 92px;
  }
}
/* width Css Class End */
