/* Marquee css start */
.marquee {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.js-marquee-wrapper {
  display: flex;
  gap: 64px;
}

.js-marquee {
  display: flex;
  gap: 64px;
  min-width: max-content;
}
/* Marquee css end */
