/* =========================== Accordion Css start ============================= */ 
.common-accordion {
    .accordion-item {
        &:not(:last-child) {
            margin-block-end:20px;
        }
    }
    &:first-of-type .accordion-button.collapsed {
        border-radius: 5px;  
    }
    &:last-of-type .accordion-button.collapsed {
        border-radius: 5px;  
    }
    
    .accordion-button { 
        &::after {
            background-image: none;
        }
        &:focus {
            box-shadow: none;
        }
    }
    .accordion-button {
        position: relative;
        padding-inline-end: 1rem !important;
        text-align: start;
        &::before {
            position: absolute;
            content: "\E136";
            inset-inline-end: 0;
            inset-block-start: 50%;
            transform: translateY(-50%);
            font-family:
            'Phosphor';
            font-weight: 40;
            font-size: 1rem;
            color: var(--neutral-600);
            transition: .2s ease-in-out;
        }
        &[aria-expanded="true"] {
            &::before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}
/* ================================= Accordion Css End =========================== */