/* ================================= Tab Css Start =========================== */
.tab-style-one {
  .nav-link {
    &__icon {
      transition: width 0.7s
          linear(
            0,
            0.5737 7.6%,
            0.8382 11.87%,
            0.9463 14.19%,
            1.0292 16.54%,
            1.0886 18.97%,
            1.1258 21.53%,
            1.137 22.97%,
            1.1424 24.48%,
            1.1423 26.1%,
            1.1366 27.86%,
            1.1165 31.01%,
            1.0507 38.62%,
            1.0219 42.57%,
            0.9995 46.99%,
            0.9872 51.63%,
            0.9842 58.77%,
            1.0011 81.26%,
            1
          ),
        background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        color 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &__text {
      transition: transform 0.7s
          linear(
            0,
            0.5737 7.6%,
            0.8382 11.87%,
            0.9463 14.19%,
            1.0292 16.54%,
            1.0886 18.97%,
            1.1258 21.53%,
            1.137 22.97%,
            1.1424 24.48%,
            1.1423 26.1%,
            1.1366 27.86%,
            1.1165 31.01%,
            1.0507 38.62%,
            1.0219 42.57%,
            0.9995 46.99%,
            0.9872 51.63%,
            0.9842 58.77%,
            1.0011 81.26%,
            1
          ),
        background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        color 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &__yellow {
      transition: transform 0.7s
          linear(
            0,
            0.5737 7.6%,
            0.8382 11.87%,
            0.9463 14.19%,
            1.0292 16.54%,
            1.0886 18.97%,
            1.1258 21.53%,
            1.137 22.97%,
            1.1424 24.48%,
            1.1423 26.1%,
            1.1366 27.86%,
            1.1165 31.01%,
            1.0507 38.62%,
            1.0219 42.57%,
            0.9995 46.99%,
            0.9872 51.63%,
            0.9842 58.77%,
            1.0011 81.26%,
            1
          ),
        background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        color 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &.active {
      background-color: var(--main-two-600) !important;
      color: hsl(var(--heading-color));
      .nav-link {
        &__icon {
          width: 0;
          visibility: hidden;
          opacity: 0;
        }
        &__yellow {
          transform: translateX(0);
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &__yellow {
      transform: translateX(100%);
      visibility: hidden;
      opacity: 0;
    }
    &__icon {
    }
    &__text {
    }
  }
}

.animate-background {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: var(--main-two-600);
  position: absolute;
  z-index: -1;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-start: 0;
  transition: all 0.2s linear;
  border-radius: 12px;
  pointer-events: none;
}
.activeTextBlackUnderline {
  .nav-link.active,
  .show > .nav-link {
    color: hsl(var(--heading-color)) !important;
    text-decoration: underline;
  }
}
/* ================================= Tab Css End =========================== */
