/* ================================== rtl css start ================================== */
.text-start {
  text-align: start !important;
}
.form-check {
  padding-left: 0;
}
.form-check {
  padding-inline-start: 1.5em;
}
.form-check .form-check-input {
  margin-left: 0;
}

[dir="rtl"] {
  .tw-translate-x-50 {
    transform: translateX(50%);
  }
  .pricing-plan .form-check {
    padding-left: 0 !important;
  }
  .common-check-two .form-check-input::before {
    transform: translate(50%, -50%);
  }
  .tw--translate-middle {
      transform: var(--translate-x-50) var(--translate-y-50);
      transform: translateX(50%)  var(--translate-y-50);
  }
  .translate-middle-x {
    transform: translateX(50%) !important;
  }
  .toast-message {
    transform: translateX(-110%);
  }
  .toast-message.active {
    transform: translateX(0) !important;
  }
  .arrow-right-img {
    transform: scaleX(-1);
  }
  .common-check .form-check-input::before {
    transform: translate(50%, -50%);
  }
  .form-check .form-check-input {
    margin-right: -1.5em;
  }
  .form-select {
    background-position: left .75rem center;
 }
  .tw-rotate--45-deg {
    transform: rotate(45deg);
  }
  .left-right-gradient::before {
    background: linear-gradient(-90deg, #fff, transparent);
  }
  .left-right-gradient::after {
    background: linear-gradient(-90deg, transparent, #ffffff);
  }
  .tw--translate-x-full {
    transform: translateX(100%);
  }
  .image-animation:after {
    transform: translate(50%, -50%) rotate(-45deg);
  }

  .ph-bold.ph-caret-right:before {
    content: "\E138";
  }
  .ph-bold.ph-arrow-up-right:before {
    content: "\e090";
  }
  .ph.ph-caret-right:before {
    content: "\E138";
  }
  .ph.ph-caret-left:before {
    content: "\E13A";
  }
  .ph.ph-arrow-right:before {
    content: "\E058";
  }
  .ph-bold.ph-caret-left:before {
    content: "\E13A";
  }
  .ph-bold.ph-caret-left:before {
    content: "\E13A";
  }
  .ph-bold.ph-arrow-right:before {
    content: "\E058";
  }
  .ph-bold.ph-arrow-left:before {
    content: "\e06c";
}
}
/* ================================== rtl css End ================================== */
